# Import libraries and check the directory

In [ ]:
# Using miniforge for first time...these are the steps to fix the env
'''
# open miniforge prompt, navigate to dir, and create a new env
conda create --name bem_env2 python=3.12
# install ipykernel
conda install -n bem_env2 ipykernel --update-deps --force-reinstall
# install desired libs
conda activate bem_env2
conda install pandas
conda install pyodbc
conda install bs4
conda install dataretrieval
'''

:

In [3]:
import os # #for working with directories
import pandas as pd #for creating dataframe
import numpy as np #for replacing NaN values in a dataframe
from datetime import datetime #for getting today's date
import pyodbc #working with ODBC databases
from bs4 import BeautifulSoup
import urllib
import dataretrieval.nwis as nwis

# No needed anymore
#import sqlalchemy_access

In [4]:
# check your current working directory   
print('Old directory:', os.getcwd())

# connect to the shared drive which holds the databases and files (must be connected to VPN)
os.chdir('P:/0083/analysis/DataCompilation/DataCompilationPy/create_site_info_files')
print('New directory:', os.getcwd())

Old directory: c:\Users\bmilinic\OneDrive - DOI\Documents\Python\bemidji
New directory: P:\0083\analysis\DataCompilation\DataCompilationPy\create_site_info_files

In [5]:
#Check to make sure the path exists in current working directory for future use
os.path.exists("../local_access_db/BemidjiMasterSiteData_be.accdb") # ".." means "go back one directory"

True

In [4]:
# If you want every column displayed for the output, delete the pound signs from the code below and run it. Afterwards rerun any dataframe

## pd.set_option('display.max_columns', 0)
## df_bmj3.head()

# bmj3 import

## Meta data

In [6]:
# bmj files are obtained from GWSI. Load the meta into a dataframe
f = r'data_inputs/gwsi_old/bmj3.subf.list_meta.csv'
df_meta = pd.read_csv(f) 
df_meta.head(5)

   FIELD  CODE               DESCRIPTION  LOC  LEN               DB_name
0      1  C004        Source agency code    1    5       GWSI_AgencyCode
1      2  C001  Site ID (station number)    6   15      GWSI_USGS_siteno
2      3  C802            Site type code   21    7     GWSI_GWSISiteType
3      4  C023       Primary use of site   28    1    GWSI_GWSIUseOfSite
4      5  C713         Aquifer type code   29    1  GWSI_GWSIAquiferType

## .subf file import and save

In [7]:
# Load GWSI data into a dataframe and rename it
f = r'data_inputs/gwsi_old/bmj3.subf'
#df_bmj3 = pd.read_fwf (f, widths = df_meta.LEN , header=None, names=list(df_meta.DB_name.str.replace('GWSI', 'NWIS'))) # this says (file name, widths are based on a column in df_meta, there's no initial header/col names, the headers/col names should be based on a column in the metadata with an edit)
df_bmj3 = pd.read_fwf (f, widths = df_meta.LEN , header=None, names=list(df_meta.DB_name)) # this says (file name, widths are based on a column in df_meta, there's no initial header/col names, the headers/col names should be based on a column in the metadata)

# Update the Land Surface Altitude column (m) to be rounded to 3 decimal places
df_bmj3['GWSI_LandSurfaceAltitude_mASL_NAVD88'] = df_bmj3['GWSI_LandSurfaceAltitude_ftASL_NAVD88'].mul(0.3048).round(3)

In [8]:
df_bmj3.head(2)

,GWSI_AgencyCode,GWSI_USGS_siteno,GWSI_GWSISiteType,GWSI_GWSIUseOfSite,GWSI_GWSIAquiferType,GWSI_GWSIPrimaryAquifer,GWSI_GWSINationalAquifer,GWSI_TotalWellDepth_ftBLS,GWSI_WellCasingInnerDiameter_inches,GWSI_CasingMaterial,...,GWSI_MP_SequenceNo,GWSI_CONS_RecordType,GWSI_MP_LastUpdate,GWSI_MP_WebReady,GWSI_MP_height_m,GWSI_MP_Altitude_m,GWSI_CONS_SequenceNo,GWSI_HOLE_SequenceNo,GWSI_CSNG_SequenceNo,GWSI_OPEN_SequenceNo
0,USGS,473429095051006,GW,O,U,112GSSG,N100GLCIAL,19.07,0.78,V,...,1.0,MPNT,2.018102e+13,Y,0.34,NaN,1.0,1.0,1.0,1.0
1,USGS,473424095052912,SB-UZ,O,NaN,NaN,NaN,18.09,0.13,V,...,1.0,MPNT,2.020021e+13,Y,0.00,NaN,1.0,1.0,1.0,1.0

In [9]:
# save the output as a file
# Note: Make sure to have the excel file closed or else you CANNOT overwrite the save file
df_bmj3.to_csv("data_inputs/gwsi_old/bmj3_fromPy.csv", index=False) #if I want to get rid of number on the side, use index=False

# bmj.mpnt import 
Repeat the same general process but with different files

In [10]:
f = r'data_inputs/gwsi_old/bmj.mpnt.subf.list_meta.csv'
df_meta = pd.read_csv(f) 

f = r'data_inputs/gwsi_old/bmj.mpnt.subf'
df_mpnt = pd.read_fwf (f, widths = df_meta.LEN , header=None, names=list(df_meta.DB_name))
df_mpnt.to_csv("data_inputs/gwsi_old/bmj_mpnt_fromPy.csv", index=False)

# bmj.rmk import
Repeat again

In [11]:
f = r'data_inputs/gwsi_old/bmj.rmk.subf.list_meta.csv'
df_meta = pd.read_csv(f) 

f = r'data_inputs/gwsi_old/bmj.rmk.subf'
df_rmk = pd.read_fwf (f, widths = df_meta.LEN , header=None, names=list(df_meta.DB_name))
df_rmk.to_csv("data_inputs/gwsi_old/bmj_rmk_fromPy.csv", index=False)

# Referencepoints(2) .csv import
Good MP data

In [10]:
f = r'data_inputs/aquarius/Referencepoints (2).csv'
f = r'data_inputs/aquarius/Referencepoints20241023.csv'
f = r'data_inputs/aquarius/Referencepoints20250130.csv'
df_rp = pd.read_csv(f)
display(df_rp.head(2), df_rp.shape)

,UniqueId,Name,Description,site,StandardIdentifier,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
0,0868303bbc6c441982fff320c2d0a44f,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473356095043701,NaN,True,0001-01-01T00:00:00.0000000+00:00,ft,0.0,0.05,GNSS3,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T13:12:52.2229750-06:00,aberg,NaN,NaN
1,00ddcc72af874a04a11e2735b1524b39,MP-1 height,"MP assumed to be the top of casing, not protec...",473358095061401,NaN,True,1984-10-17T00:00:00.0000000-06:00,ft,3.0,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:22.9820002-06:00,admin,NaN,NaN

(577, 17)

In [11]:
# Drop the row if the "UniqueId" value is a duplicate. Drop the whole "StandardIdentifier" column
df_rp2 = df_rp.drop_duplicates(subset=['UniqueId']).drop("StandardIdentifier", axis=1)
display(df_rp2.head(2), df_rp2.shape)  #[573 rows x 16 columns]

,UniqueId,Name,Description,site,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
0,0868303bbc6c441982fff320c2d0a44f,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473356095043701,True,0001-01-01T00:00:00.0000000+00:00,ft,0.0,0.05,GNSS3,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T13:12:52.2229750-06:00,aberg,NaN,NaN
1,00ddcc72af874a04a11e2735b1524b39,MP-1 height,"MP assumed to be the top of casing, not protec...",473358095061401,True,1984-10-17T00:00:00.0000000-06:00,ft,3.0,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:22.9820002-06:00,admin,NaN,NaN

(577, 16)

In [12]:
df_rp_newest =  df_rp2.sort_values('ValidFrom').drop_duplicates('site', keep='last')

In [13]:
df_rp2.to_csv("data_inputs/aquarius/Referencepoints_fromPy.csv", index=False)
df_rp_newest.to_csv('data_inputs/aquarius/Referencepoints_updatedMP_fromPy.csv', index=False)

# MLR data
Using water services websites

Alternatively you can use the USGS website to plug in specific site numbers: https://waterservices.usgs.gov/rest/Site-Test-Tool.html

In [14]:
# Getting site list straight from the database: 
## Gbe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_be.accdb;')
## Gfe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_fe.accdb;')
Gfe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\BemidjiMasterSiteData_fe.accdb;')
c_fe = Gfe_db.cursor()
c_fe.execute('select USGS_siteno from tblSites')
df = pd.read_sql('select USGS_siteno from tblSites', Gfe_db)

#Close database connection and cursor
c_fe.close()
Gfe_db.close()

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_36400\3561433712.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select USGS_siteno from tblSites', Gfe_db)

In [51]:
# Drop none values, create a list out of the column, and create a string out of the column
df_sites = df.dropna()
sites = df_sites['USGS_siteno'].tolist()
sites = ', '.join(map(str,sites))

#Create URL that can be copy and pasted/clicked : can also be accessed through https://waterservices.usgs.gov/rest/Site-Test-Tool.html
url = f"https://waterservices.usgs.gov/nwis/site/?format=rdb&sites={sites}&siteOutput=expanded&siteStatus=all"
url = url.replace(" ", "%20")
print(url[0:100], 'and so on')

https://waterservices.usgs.gov/nwis/site/?format=rdb&sites=473429095051006,%20473424095052912,%20473 and so on

Beautiful Soup

In [18]:
# Read the webpage
r = urllib.request.urlopen(url).read()

# Parse it into components (title, tables, etc., with the Python module lxml) (turned out to be less useful since all the data is in one section)
#soup = BeautifulSoup(r, "lxml")
soup = BeautifulSoup(r, 'html.parser')

In [19]:
string = soup.string #made one giant string
lines = string.split("\n")# split the string into seperate lines using \n

In [20]:
# creating the dataframe
n=1
for x in lines:  # looping through every element in the list "line"
    words = x.split("\t") # split the line into works
    if words[0] == "agency_cd": # get column names from the line that starts with agency_cd
        col_names=words
    if words[0] == "USGS": 
        if n == 1:
            dfmlr = pd.DataFrame([words], columns=col_names) # use the first line to create a df
            n += 1
        else: 
            dfmlr.loc[len(dfmlr)] = words  # second line and so on gets added to the df

In [21]:
dfmlr

,agency_cd,site_no,station_nm,site_tp_cd,lat_va,long_va,dec_lat_va,dec_long_va,coord_meth_cd,coord_acy_cd,...,local_time_fg,reliability_cd,gw_file_cd,nat_aqfr_cd,aqfr_cd,aqfr_type_cd,well_depth_va,hole_depth_va,depth_src_cd,project_no
0,USGS,473356095043701,"GRANT CREEK, AT ATV TRAIL, SE OF PINEWOOD, MN",ST,473355.55,0950437.46,47.56543056,-95.0770722,X,C,...,Y,C,YY Y,,,,,,,MN-09500
1,USGS,473358095061401,426 147N35W10ADCB 01,GW,473358.11,0950613.60,47.56614167,-95.1037778,S,1,...,Y,C,Y Y,N100GLCIAL,112GSSG,U,3.23,,S,MN-09500
2,USGS,473404095054101,409 147N35W11BCAB 01,GW,473404.31,0950541.39,47.56786389,-95.0948306,S,1,...,Y,C,Y Y,N100GLCIAL,112GSSG,U,12.13,,S,MN-09500
3,USGS,473405095060101,402 147N35W10ADAB 01,GW,473404.56,0950601.45,47.5679333,-95.1004028,S,1,...,Y,C,Y Y,N100GLCIAL,112GSSG,U,12.37,,S,MN-09500
4,USGS,473405095060201,525 147N35W10ADAB 01 000027...,GW,473406.66,0950558.93,47.56851667,-95.0997028,X,C,...,Y,C,YY Y,N100GLCIAL,112GSSG,U,43.16,,S,MN-09500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,USGS,473437095050101,"12LKNK2 147N35W02 01 on N Sh, Unnamed Lk",GW-TH,473437.3,0950501.3,47.57702778,-95.0836944,G,S,...,Y,C,Y,,,,1.90,1.90,S,MN-09500
609,USGS,473437095052401,524 147N35W02CADB 01 000027...,GW,473436.19,0950523.83,47.5767194,-95.0899528,X,C,...,Y,C,YY Y,N100GLCIAL,112GSSG,U,72.12,,S,MN-09500
610,USGS,473439095063001,"UNNAMED LAKE, E SIDE, AT TRAIL, SE OF PINEWOOD...",LK,473439.55,0950630.72,47.57765278,-95.1085333,X,H,...,Y,C,,,,,,,,MN-09500
611,USGS,473440095063001,427 147N35W03DBBD 01,GW,473439.7,0950629.80,47.5776944,-95.1082778,S,1,...,Y,C,Y Y,N100GLCIAL,112GSSG,U,4.03,,S,MN-09500
612,USGS,473503095044501,"WL05, WETLAND, AT FOSSTON TR, SE OF PINEWOOD, MN",WE,473503.29,0950445.02,47.5842472,-95.0791722,X,H,...,Y,C,,,,,,,,MN-09500

In [22]:
dfmlr.to_csv("data_inputs/MLR/MLR_fromPy.csv", index=False)

# Water Level Retrieval using the Water Services website
- now, data is just retrieved straight from NWIS so this part is not needed

In [23]:
# sites have already been retrieved in the code before and stored in the variable called "sites"
print(sites[0:100])

473429095051006, 473424095052912, 473424095052906, 473423095052902, 473412095050801, 473416095051301

TAB DELINEATED

## URL

In [24]:
# water level meta data 
## Recreate the URL 

# Using the same "sites" variable created before and new URL link...
url = f"https://waterservices.usgs.gov/nwis/gwlevels/?format=rdb&sites={sites}&siteStatus=all"
url = url.replace(" ", "%20")
print(url[0:100])

https://waterservices.usgs.gov/nwis/gwlevels/?format=rdb&sites=473429095051006,%20473424095052912,%2

In [ ]:
# URL NEEDS UPDATED: https://waterservices.usgs.gov/test-tools/?service=gwlevels&siteType=&statTypeCd=all&major-filters=sites&format=json&date-type=type-none&statReportType=daily&statYearType=calendar&missingData=off&siteStatus=all&siteNameMatchOperator=start

In [29]:
print(url)

https://waterservices.usgs.gov/nwis/gwlevels/?format=rdb&sites=473429095051006,%20473424095052912,%20473424095052906,%20473423095052902,%20473412095050801,%20473416095051301,%20473431095052801,%20473356095043701,%20473419095052504,%20473408095045601,%20473426095051001,%20473426095051002,%20473426095051003,%20473425095052706,%20473425095052707,%20473425095052708,%20473425095052709,%20473425095052710,%20473425095052711,%20473425095052712,%20473425095052713,%20473425095052714,%20473426095052422,%20473426095052423,%20473426095052424,%20473426095052425,%20473426095052426,%20473426095052427,%20473426095052428,%20473425095052603,%20473426095052604,%20473426095052605,%20473426095052606,%20473425095052606,%20473425095052607,%20473425095052608,%20473425095052609,%20473425095052502,%20473425095052503,%20473426095052429,%20473426095052430,%20473426095052446,%20473426095052447,%20473426095052615,%20473426095052616,%20473426095052617,%20473426095052618,%20473426095052619,%20473426095052620,%20473426095052621,%20473423095053403,%20473423095053404,%20473423095053406,%20473423095053407,%20473423095053408,%20473423095053409,%20473426095052319,%20473426095052320,%20473426095052322,%20473426095052323,%20473426095052324,%20473426095052337,%20473427095052210,%20473427095052211,%20473427095052212,%20473427095052213,%20473427095052214,%20473427095052215,%20473426095052325,%20473426095052326,%20473426095052327,%20473426095052328,%20473426095052329,%20473426095052330,%20473426095052331,%20473426095052332,%20473426095052333,%20473426095052334,%20473426095052335,%20473426095052336,%20473426095052420,%20473426095052421,%20473426095052448,%20473426095052449,%20473426095052450,%20473426095052451,%20473426095052513,%20473426095052514,%20473426095052515,%20473426095052516,%20473426095052517,%20473426095052518,%20473424095053104,%20473424095053105,%20473424095053106,%20473424095053107,%20473424095053108,%20473424095053109,%20473425095052715,%20473425095052723,%20473425095052724,%20473425095052725,%20473425095052726,%20473425095052727,%20473425095052728,%20473426095052519,%20473426095052102,%20473426095052103,%20473425095052604,%20473427095052105,%20473427095052006,%20473427095052007,%20473427095052008,%20473426095052520,%20473426095052521,%20473426095052522,%20473426095052523,%20473426095052524,%20473426095052525,%20473425095052522,%20473425095052524,%20473425095052525,%20473425095052526,%20473425095052527,%20473425095052528,%20473425095052529,%20473425095052616,%20473425095052617,%20473425095052618,%20473425095052619,%20473425095052620,%20473425095052621,%20473425095052622,%20473425095052716,%20473425095052717,%20473425095052718,%20473425095052719,%20473425095052720,%20473425095052721,%20473425095052722,%20473426095052431,%20473426095052432,%20473426095052433,%20473426095052434,%20473426095052435,%20473426095052436,%20473426095052437,%20473426095052438,%20473426095052439,%20473426095052440,%20473426095052441,%20473426095052442,%20473426095052443,%20473426095052444,%20473426095052445,%20473426095052453,%20473426095052454,%20473426095052455,%20473426095052456,%20473426095052457,%20473426095052458,%20473425095052624,%20473425095052625,%20473425095052626,%20473425095052627,%20473425095052628,%20473425095052629,%20473425095052630,%20473425095052631,%20473425095052632,%20473424095052907,%20473424095052908,%20473424095052909,%20473424095052910,%20473424095052911,%20473424095052913,%20473424095052914,%20473424095052915,%20473424095052916,%20473424095052917,%20473419095052305,%20473419095052306,%20473419095052404,%20473419095052405,%20473419095052505,%20473419095052506,%20473419095052507,%20473419095052508,%20473419095052509,%20473420095052404,%20473420095052405,%20473420095052407,%20473420095052408,%20473420095052409,%20473420095052410,%20473420095052411,%20473420095052412,%20473420095052413,%20473424095053002,%20473424095053003,%20473424095053004,%20473424095053005,%20473424095053006,%20473439095063001,%20473503095044501,%20473430095051401,%20473429095051402,%20473429095051403,%20473429095051404,%20473429095051405,%20473429095051406,%20473429095051407,%20473430095051501,%20473430095051505,%20473430095051506,%20473423095053410,%20473426095052527,%20473425095052530,%20473425095052633,%20473426095052459,%20473419095052406,%20473420095052414,%20473427095053001,%20473423095051901,%20473425095052673,%20473425095052623,%20473429095051002,%20473429095051003,%20473429095051004,%20473429095051005,%20473428095051001,%20473422095050001,%20473429095050901,%20473423095050101,%20473429095051001,%20473425095050202,%20473429095051101,%20473430095051102,%20473429095050401,%20473431095051101,%20473431095051002,%20473431095050901,%20473432095050901,%20473433095050601,%20473435095050501,%20473436095050301,%20473437095050101,%20473426095050901,%20473425095050901,%20473424095050801,%20473422095050701,%20473420095050601,%20473419095050401,%20473418095050301,%20473418095050201,%20473418095050101,%20473425095052705,%20473426095052403,%20473426095052005,%20473426095052003,%20473426095052006,%20473426095052004,%20473426095052007,%20473419095052303,%20473419095052302,%20473419095052402,%20473420095052301,%20473419095052301,%20473417095052101,%20473426095052526,%20473426095052609,%20473426095052613,%20473426095052601,%20473426095052608,%20473431095052601,%20473429095052301,%20473420095052401,%20473420095052402,%20473419095052501,%20473422095053401,%20473422095053402,%20473422095053403,%20473423095053301,%20473422095053404,%20473423095053401,%20473423095053405,%20473427095052005,%20473421095052301,%20473419095052401,%20473420095052406,%20473426095052530,%20473425095052009,%20473425095052008,%20473426095052306,%20473426095052307,%20473426095052308,%20473426095052309,%20473425095052504,%20473414095053601,%20473405095060101,%20473416095060801,%20473419095062401,%20473418095055601,%20473418095055602,%20473418095055603,%20473418095055604,%20473418095055605,%20473424095061601,%20473430095061401,%20473427095055701,%20473404095054101,%20473411095062901,%20473425095052605,%20473433095060101,%20473435095061501,%20473418095052901,%20473431095053701,%20473426095052203,%20473425095052010,%20473426095051903,%20473425095052011,%20473425095052012,%20473425095052013,%20473425095052014,%20473425095052101,%20473425095052102,%20473425095052103,%20473425095052201,%20473425095052104,%20473426095052101,%20473425095052301,%20473425095052302,%20473425095052303,%20473426095052419,%20473426095052405,%20473426095052406,%20473426095052407,%20473425095052610,%20473425095052611,%20473426095052610,%20473426095052402,%20473358095061401,%20473440095063001,%20473428095050802,%20473428095050803,%20473429095050703,%20473428095050801,%20473433095060102,%20473413095053701,%20473413095053702,%20473430095053801,%20473428095052201,%20473427095052303,%20473428095052202,%20473427095052106,%20473427095052107,%20473426095052001,%20473426095052204,%20473427095052101,%20473427095052209,%20473428095051911,%20473428095051902,%20473428095051903,%20473428095051904,%20473428095051905,%20473427095051902,%20473428095051906,%20473427095052301,%20473426095052310,%20473426095052311,%20473427095052206,%20473426095052408,%20473426095052501,%20473426095052409,%20473424095052901,%20473437095052401,%20473405095060201,%20473420095052201,%20473428095051808,%20473428095051916,%20473428095051910,%20473428095051915,%20473428095051912,%20473428095051809,%20473427095052207,%20473427095052102,%20473427095052103,%20473427095052104,%20473427095052208,%20473427095052201,%20473427095052202,%20473427095052203,%20473427095052204,%20473426095052312,%20473426095052201,%20473426095052202,%20473426095052410,%20473426095052313,%20473426095052314,%20473426095052416,%20473426095052315,%20473426095052411,%20473426095052412,%20473426095052302,%20473426095052303,%20473426095052321,%20473426095052305,%20473426095052413,%20473426095052414,%20473426095052415,%20473426095052452,%20473426095052502,%20473417095051801,%20473417095051802,%20473418095051703,%20473417095051803,%20473417095051804,%20473417095051805,%20473417095051806,%20473424095053102,%20473424095053103,%20473426095052614,%20473425095052602,%20473425095052701,%20473428095051913,%20473425095052901,%20473425095052304,%20473429095052201,%20473428095052401,%20473428095052402,%20473428095052403,%20473428095052301,%20473428095051805,%20473428095051806,%20473428095051807,%20473427095052108,%20473427095052302,%20473427095052401,%20473424095052902,%20473424095052886,%20473424095052903,%20473424095052904,%20473424095052905,%20473424095052889,%20473425095052902,%20473424095053101,%20473428095052501,%20473428095051901,%20473428095052002,%20473427095052009,%20473428095052004,%20473426095052512,%20473428095051914,%20473427095052010,%20473427095052011,%20473428095051909,%20473425095052501,%20473423095052401,%20473425095053101,%20473422095052901,%20473429095051501,%20473429095051502,%20473429095051503,%20473429095051701,%20473426095052503,%20473418095055001,%20473425095052002,%20473425095052003,%20473425095052001,%20473425095052004,%20473425095052005,%20473425095052006,%20473425095052007,%20473424095052201,%20473418095052802,%20473418095052803,%20473418095052801,%20473420095052701,%20473421095052701,%20473419095052701,%20473417095052601,%20473417095052701,%20473416095052601,%20473417095052801,%20473419095052801,%20473425095052505,%20473426095052504,%20473426095052401,%20473425095052506,%20473425095052612,%20473425095052613,%20473425095052702,%20473425095052703,%20473425095052704,%20473430095052201,%20473424095052001,%20473416095052801,%20473426095052002,%20473426095052104,%20473428095052203,%20473425095053102,%20473426095052417,%20473426095052418,%20473427095052901,%20473425095052401,%20473425095052614,%20473422095051801,%20473423095052101,%20473426095052404,%20473423095051701,%20473426095052205,%20473426095052316,%20473429095051301,%20473429095051302,%20473429095051303,%20473429095051304,%20473429095051401,%20473429095051306,%20473424095050901,%20473420095051601,%20473427095052001,%20473427095052002,%20473427095052003,%20473427095052004,%20473427095052109,%20473428095051801,%20473428095051802,%20473428095051803,%20473428095051804,%20473426095052317,%20473426095052318,%20473429095051603,%20473429095051602,%20473429095051604,%20473426095051501,%20473430095051502,%20473430095051503,%20473430095051504,%20473423095052901,%20473421095053001,%20473422095052902,%20473423095052501,%20473426095052607,%20473425095052601,%20473421095052303,%20473420095052501,%20473419095052502,%20473420095052403,%20473421095052401,%20473421095052305,%20473425095052615,%20473422095052213,%20473422095052201,%20473417095052602,%20473422095052801,%20473422095052501,%20473422095052502,%20473426095052505,%20473426095052506,%20473426095052507,%20473426095052508,%20473426095052701,%20473426095052611,%20473426095052612,%20473423095053402,%20473426095052509,%20473426095052510,%20473426095052511,%20473425095052677,%20473425095052687,%20473425095052682,%20473409095045501,%20473425095052507,%20473425095052510,%20473425095052508,%20473425095052511,%20473425095052509,%20473425095052512,%20473422095052202,%20473422095052203,%20473422095052204,%20473422095052205,%20473422095052206,%20473422095052208,%20473422095052209,%20473422095052210,%20473422095052211,%20473422095052212,%20473422095052218,%20473422095052214,%20473422095052215,%20473422095052216,%20473422095052217,%20473426095051601,%20473423095051502,%20473425095052402,%20473426095051602,%20473423095051503,%20473425095052513,%20473425095052523,%20473425095052514,%20473425095052515,%20473425095052516,%20473425095052517,%20473425095052518,%20473425095052519,%20473425095052520,%20473425095052521,%20473419095052403,%20473419095052503,%20473419095052304,%20473425095051601,%20473423095051501,%20473424095053001&siteStatus=all

In [ ]:
# Read the webpage
r = urllib.request.urlopen(url).read()

# Parse it into components (title, tables, etc., with the Python module lxml) (turned out to be less useful since all the data is in one section)
soup = BeautifulSoup(r, "lxml")

string = soup.string #made one giant string
lines = string.split("\n")# split the string into seperate lines using \n

HTTPError: HTTP Error 503: Service Unavailable

In [9]:
# creating the water level dataframe
n=1
for x in lines:  # looping through every element in the list "line"
    words = x.split("\t") # split the line into words
    if words[0] == "agency_cd": # get column names from the line that starts with agency_cd
        col_names=words
    if words[0] == "USGS": 
        if n == 1:
            dfwl = pd.DataFrame([words], columns=col_names) # use the first line to create a df
            n += 1
        else: 
            dfwl.loc[len(dfwl)] = words  # second line and so on gets added to the df

In [10]:
display(dfwl.head(2), dfwl.shape)

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,lev_agency_cd,lev_dt_acy_cd,lev_acy_cd,lev_src_cd,lev_meth_cd,lev_age_cd
0,USGS,473356095043701,ST,2022-08-25,14:08,UTC,-1.06,,,,USGS,m,,S,D,P
1,USGS,473358095061401,GW,1992-06-16,,UTC,0.00,,,1,USGS,D,,S,V,A
2,USGS,473404095054101,GW,2000-10-17,,UTC,10.33,,,1,USGS,D,,S,V,A
3,USGS,473405095060101,GW,2016-08-11,14:30,UTC,9.42,,,1,USGS,m,,S,V,A
4,USGS,473405095060201,GW,2016-08-11,14:29,UTC,9.39,,,1,USGS,m,,S,V,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,USGS,473435095061501,GW,2022-10-28,15:09,UTC,23.33,,,1,USGS,m,,S,V,P
306,USGS,473437095052401,GW,2022-10-28,15:28,UTC,35.00,,,1,USGS,m,,S,V,P
307,USGS,473439095063001,LK,2022-08-25,16:17,UTC,-0.92,,,,USGS,m,,S,D,P
308,USGS,473440095063001,GW,1992-06-16,,UTC,1.60,,,1,USGS,D,,S,V,A
309,USGS,473503095044501,WE,2022-08-25,15:42,UTC,-0.03,,,,USGS,m,,S,D,P

## dataretrieval

In [52]:
# convert the sites string into a list
sites = sites.split(', ')

In [60]:
display(sites[:3])
display(len(sites))

['473429095051006', '473424095052912', '473424095052906']

614

In [70]:
# Retrieve groundwater level data
dfwl = nwis.get_record(sites=sites[:400], service="gwlevels", siteStatus="all")

# Display the first few rows
dfwl.head()

c:\Users\bmilinic\AppData\Local\miniforge3\envs\bem_env2\Lib\site-packages\dataretrieval\nwis.py:1489: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
c:\Users\bmilinic\AppData\Local\miniforge3\envs\bem_env2\Lib\site-packages\dataretrieval\utils.py:90: UserWarning: Warning: 27990 incomplete dates found, consider setting datetime_index to False.
  warnings.warn(

                                          agency_cd site_tp_cd      lev_dt  \
site_no         datetime
473356095043701 2019-06-28 14:56:00+00:00      USGS         ST  2019-06-28
                2019-06-28 14:56:00+00:00      USGS         ST  2019-06-28
                2020-08-06 18:00:00+00:00      USGS         ST  2020-08-06
                2020-08-06 18:00:00+00:00      USGS         ST  2020-08-06
                2021-08-19 16:00:00+00:00      USGS         ST  2021-08-19

                                          lev_tm lev_tz_cd  lev_va  sl_lev_va  \
site_no         datetime
473356095043701 2019-06-28 14:56:00+00:00  14:56     +0000     NaN    1390.17
                2019-06-28 14:56:00+00:00  14:56     +0000     0.0        NaN
                2020-08-06 18:00:00+00:00  18:00     +0000     NaN    1391.77
                2020-08-06 18:00:00+00:00  18:00     +0000    -1.6        NaN
                2021-08-19 16:00:00+00:00  16:00     +0000     NaN    1390.33

                                          sl_datum_cd lev_status_cd  \
site_no         datetime
473356095043701 2019-06-28 14:56:00+00:00      NAVD88           NaN
                2019-06-28 14:56:00+00:00         NaN           NaN
                2020-08-06 18:00:00+00:00      NAVD88           NaN
                2020-08-06 18:00:00+00:00         NaN           NaN
                2021-08-19 16:00:00+00:00      NAVD88           NaN

                                          lev_agency_cd lev_dt_acy_cd  \
site_no         datetime
473356095043701 2019-06-28 14:56:00+00:00          USGS             m
                2019-06-28 14:56:00+00:00          USGS             m
                2020-08-06 18:00:00+00:00          USGS             m
                2020-08-06 18:00:00+00:00          USGS             m
                2021-08-19 16:00:00+00:00          USGS             m

                                          lev_acy_cd lev_src_cd lev_meth_cd  \
site_no         datetime
473356095043701 2019-06-28 14:56:00+00:00          1          S           D
                2019-06-28 14:56:00+00:00          1          S           D
                2020-08-06 18:00:00+00:00          1          S           D
                2020-08-06 18:00:00+00:00          1          S           D
                2021-08-19 16:00:00+00:00          0          S           D

                                          lev_age_cd parameter_cd
site_no         datetime
473356095043701 2019-06-28 14:56:00+00:00          A        62611
                2019-06-28 14:56:00+00:00          A        72019
                2020-08-06 18:00:00+00:00          A        62611
                2020-08-06 18:00:00+00:00          A        72019
                2021-08-19 16:00:00+00:00          A        62611

The retrieval is too big...so it needs to be chopped up

In [87]:
# lets do chunks of 400
chunks = 400
# now many chunks are needed?
n = int(np.ceil(len(sites) / chunks)) # int is needed for np.array_split
print(len(sites), '/', chunks, 'rounds up to', n)
# split the sites into groups
split_sites_list = np.array_split(sites, n)

# PULL DATA IN GROUPS
data_list = []
for sites_chunk in split_sites_list:
    wl_data = nwis.get_record(sites=sites_chunk.tolist(), 
                              service="gwlevels", 
                              siteStatus="all")
    data_list.append(wl_data)

614 / 400 rounds up to 2

c:\Users\bmilinic\AppData\Local\miniforge3\envs\bem_env2\Lib\site-packages\dataretrieval\utils.py:90: UserWarning: Warning: 12264 incomplete dates found, consider setting datetime_index to False.
  warnings.warn(
c:\Users\bmilinic\AppData\Local\miniforge3\envs\bem_env2\Lib\site-packages\dataretrieval\utils.py:90: UserWarning: Warning: 38751 incomplete dates found, consider setting datetime_index to False.
  warnings.warn(

In [94]:
dfwl = pd.concat(data_list)

In [95]:
type(data_list[0])

pandas.core.frame.DataFrame

In [96]:
dfwl.iloc[:, 12].unique()

array(['S', nan], dtype=object)

## export

In [97]:
dfwl.to_csv("../create_master_oil_levels/data_inputs/NWISwaterLevel_fromPy.csv")#, index=False)