Make sure to have sqlalchemy-access installed for uploading back into the database

Only needs to be done once! 

You can't be connected to VPN due to encryption issues. Install using Anaconda prompt when disconnected from VPN

In [1]:
# only needed if you want to reupload to Microsoft Access database
#pip install sqlalchemy-access

# Import Libraries

In [2]:
import pandas as pd #for creating dataframe
import pyodbc #working with ODBC databases
import numpy as np # for locating values in dataframes
from datetime import datetime # for obtaining today's date
import os #for working with directories

In [44]:
#optional- set dfs to show actual numbers rather than scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Manage directories

In [4]:
# my default directory is c:\Users\bmilinic\OneDrive - DOI\Documents\Python\bemidji
defaultdirectory = os.getcwd()
print(defaultdirectory)

c:\Users\bmilinic\OneDrive - DOI\Documents\Python\bemidji

In [5]:
# connect to the shared drive which holds the databases and files (must be connected to VPN)
os.chdir('P:/0083/analysis/DataCompilation/DataCompilationPy/create_site_info_files')

# Import data

In [6]:
# from GWSI Python output 
dfbmj3 = pd.read_csv(r'data_inputs/gwsi_old/bmj3_fromPy.csv')
dfrmk = pd.read_csv(r'data_inputs/gwsi_old/bmj_rmk_fromPy.csv')
# from Python outout aquarius and MLR 
dfaq = pd.read_csv(r'data_inputs/aquarius/Referencepoints_updatedMP_fromPy.csv') 
dfmlr = pd.read_csv(r'data_inputs/MLR/MLR_fromPy.csv')

In [7]:
# Import data from Microsoft Access Using PYODBC
Gfe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_fe.accdb;')
c_fe = Gfe_db.cursor()

In [8]:
# tables
tblSites = pd.read_sql('select * from tblSites', Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\1723478965.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblSites = pd.read_sql('select * from tblSites', Gfe_db)

In [9]:
tblWells = pd.read_sql('select * from tblWells', Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\3479789449.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblWells = pd.read_sql('select * from tblWells', Gfe_db)

In [10]:
tblCores = pd.read_sql('select * from tblCores', Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\401927510.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblCores = pd.read_sql('select * from tblCores', Gfe_db)

In [11]:
tblOE = pd.read_sql('select * from tblOtherEquipment', Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\3101191155.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblOE = pd.read_sql('select * from tblOtherEquipment', Gfe_db)

In [12]:
# cd tables
tblcd_LocalUseCode = pd.read_sql("select * from tblcd_LocalUseCode", Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\4250914646.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblcd_LocalUseCode = pd.read_sql("select * from tblcd_LocalUseCode", Gfe_db)

In [13]:
tblcd_CasingMaterial = pd.read_sql("select * from tblcd_CasingMaterial", Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\1707575347.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblcd_CasingMaterial = pd.read_sql("select * from tblcd_CasingMaterial", Gfe_db)

In [14]:
tblcd_ScreenMaterial = pd.read_sql("select * from tblcd_ScreenMaterial", Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\950181360.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblcd_ScreenMaterial = pd.read_sql("select * from tblcd_ScreenMaterial", Gfe_db)

In [15]:
tblcd_OpeningType = pd.read_sql("select * from tblcd_OpeningType", Gfe_db)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\4104256497.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tblcd_OpeningType = pd.read_sql("select * from tblcd_OpeningType", Gfe_db)

In [18]:
''' IF LIKE SCRIPT 03, DOING IT ALL AT ONCE SLOWS IT DOWN
# from GWSI Python output 
dfbmj3 = pd.read_csv(r'data_inputs/gwsi_old/bmj3_fromPy.csv')
dfrmk = pd.read_csv(r'data_inputs/gwsi_old/bmj_rmk_fromPy.csv')
# from Python outout aquarius and MLR 
dfaq = pd.read_csv(r'data_inputs/aquarius/Referencepoints_updatedMP_fromPy.csv') 
dfmlr = pd.read_csv(r'data_inputs/MLR/MLR_fromPy.csv')

# Import data from Microsoft Access Using PYODBC
Gfe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_fe.accdb;')
c_fe = Gfe_db.cursor()
# tables
tblSites = pd.read_sql('select * from tblSites', Gfe_db)
tblWells = pd.read_sql('select * from tblWells', Gfe_db)
tblCores = pd.read_sql('select * from tblCores', Gfe_db)
tblOE = pd.read_sql('select * from tblOtherEquipment', Gfe_db)
# cd tables
tblcd_LocalUseCode = pd.read_sql("select * from tblcd_LocalUseCode", Gfe_db)  
tblcd_CasingMaterial = pd.read_sql("select * from tblcd_CasingMaterial", Gfe_db)   
tblcd_ScreenMaterial = pd.read_sql("select * from tblcd_ScreenMaterial", Gfe_db)   
tblcd_OpeningType = pd.read_sql("select * from tblcd_OpeningType", Gfe_db)  
'''
print('ignore')

ignore

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\746478217.py:1: SyntaxWarning: invalid escape sequence '\D'
  ''' IF LIKE SCRIPT 03, DOING IT ALL AT ONCE SLOWS IT DOWN

In [17]:
# close the cursors and connections
c_fe.close()
Gfe_db.close()

## Merge tbleSites (local access) with GWSI (retrieved) to update the USGS station names

In [19]:
# merge tblSites and dfbmj3: match up datatypes of the columns that the dfs will be merged on
tblSites2 = tblSites
tblSites2['USGS_siteno'] = tblSites2['USGS_siteno'].fillna(0).astype('int64')
dfcomplete = pd.merge(tblSites2.add_prefix('SITE_'), dfbmj3, left_on='SITE_USGS_siteno', right_on='GWSI_USGS_siteno', how='left')
# turn zeros back into NaN
dfcomplete['SITE_USGS_siteno'].replace(0, np.nan, inplace=True) 
print(dfcomplete.shape)
# Merge tbl wells
dfcomplete = pd.merge(dfcomplete, tblWells.add_prefix('WELL_'), left_on='SITE_LocalSiteName', right_on='WELL_LocalSiteName', how='left')
print(dfcomplete.shape)
# Merge tblOE
dfcomplete = pd.merge(dfcomplete, tblOE.add_prefix('OE_'), left_on='SITE_LocalSiteName', right_on='OE_LocalSiteName', how='left')
print(dfcomplete.shape)
# Merge tblCores
dfcomplete = pd.merge(dfcomplete, tblCores.add_prefix('CORE_'), left_on='SITE_LocalSiteName', right_on='CORE_LocalSiteName', how='left')
print(dfcomplete.shape)
# Merge dfmlr
dfcomplete = pd.merge(dfcomplete, dfmlr.add_prefix('MLR_'), left_on='SITE_USGS_siteno', right_on='MLR_site_no', how='left')
print(dfcomplete.shape)
# Merge dfaq
dfcomplete = pd.merge(dfcomplete, dfaq.add_prefix('AQ_'), left_on='SITE_USGS_siteno', right_on='AQ_site', how='left')
print(dfcomplete.shape)

(1729, 123)
(1731, 217)
(1741, 250)
(2474, 292)
(2474, 334)
(2474, 350)

C:\Users\bmilinic\AppData\Local\Temp\1\ipykernel_12064\1370290455.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcomplete['SITE_USGS_siteno'].replace(0, np.nan, inplace=True)

# Conversion

In [20]:
#V2
# Create function to convert units
def convert_feet_to_meters(columns, df):
    for column in columns:
        if 'ft' in column:
            new_column_name = column.replace('ft','m')
            #df = df.rename(columns={column: new_column_name})
            df[new_column_name] = df[column].mul(.3048).round(3)
        else: 
            df[column] = df[column].mul(.3048).round(3)
    return df

def convert_inches_to_cm(columns, df, decimal_places=1): # default value for ".round()" becomes 1 if you dont put anything there
    for column in columns:
        if 'inches' in column:
            new_column_name = column.replace('inches','cm')
            #df = df.rename(columns={column: new_column_name})
            df[new_column_name] = df[column].mul(2.54).round(decimal_places)
        else: 
            df[column] = df[column].mul(2.54).round(decimal_places)
    return df

In [21]:
# create list of which variables you want to be converted from ft to m and convert
columns_to_convert = ['GWSI_LandSurfaceAltitude_ftASL_NAVD88',
                      'GWSI_TopOfScreenDepth_ftBLS',
                      'GWSI_BottomOfScreenDepth_ftBLS',
                      'GWSI_TotalWellDepth_ftBLS',
                      'GWSI_MP_height_ft',
                      "SITE_TotalBoring/DrillingDepth_ftBLS",
                      'MLR_alt_va',
                      'MLR_hole_depth_va',
                      "OE_OtherEquipStickupLength_ft",
                      'CORE_CoreStickupLength_ft',
                      'CORE_CoringBegan_ftBLS',
                      'CORE_CoringEnded_ftBLS',
                      'CORE_CoreRecoveryLength_ft',
                      'CORE_TotalCoreLengthPounded_ft',
                      'MLR_well_depth_va',
                      'AQ_Elevation']
dfcomplete = convert_feet_to_meters(columns_to_convert, dfcomplete)

# repeat for inches to cm. Note the argument for rounding
columns_to_convert = ['GWSI_DiameterOfDrillHole_inches',
                      'GWSI_WellCasingInnerDiameter_inches']
dfcomplete = convert_inches_to_cm(columns_to_convert, dfcomplete, 1)  # rounds to one decimal
columns_to_convert = ['GWSI_WidthOfOpeningsInOpenInterval_inches']
dfcomplete = convert_inches_to_cm(columns_to_convert, dfcomplete, 3) # round to 3 decimals

#### AQ ELEVATION

In [22]:
# CHANGE DATE TIME FORMATS

# convert datetime format to string
dfcomplete['SITE_DateOfConstruction'] = dfcomplete['SITE_DateOfConstruction'].dt.strftime('%Y%m%d')
# replace year 0001 values with 1700 since datetime plays nicer
dfcomplete['AQ_ValidFrom'] = dfcomplete['AQ_ValidFrom'].replace('0001-01-01T00:00:00.0000000+00:00', '1700-01-01T00:00:00.0000000+00:00')
# convert the string into a datetime object
dfcomplete['AQ_ValidFrom'] = pd.to_datetime(dfcomplete['AQ_ValidFrom'], utc=True, format= '%Y-%m-%dT%H:%M:%S.%f%z')
# convert the datatime values to strings with new format (YYYYMMDD)
dfcomplete['AQ_ValidFrom'] = dfcomplete['AQ_ValidFrom'].dt.strftime('%Y%m%d')
# repeat for MP_EndDate
dfcomplete['AQ_DecommissionedDate'] = pd.to_datetime(dfcomplete['AQ_DecommissionedDate'], utc=True, format= '%Y-%m-%dT%H:%M:%S.%f%z')
dfcomplete['AQ_DecommissionedDate'] = dfcomplete['AQ_DecommissionedDate'].dt.strftime('%Y%m%d')

In [23]:
# UPDATE RECORDS BY COMBINING COLUMNS (make sure you're using the authoritative source!)
# .where() is choosing between (x.notna(), y) so it chooses x ONLY where it is not nan and if it is nan...it chooses y
# station name
dfcomplete['USGS_StationName'] = dfcomplete['GWSI_USGS_StationName'].where(dfcomplete['GWSI_USGS_StationName'].notna(), dfcomplete['SITE_USGS_StationName']) 
dfcomplete['USGS_StationName'] = dfcomplete['MLR_station_nm'].where(dfcomplete['MLR_station_nm'].notna(), dfcomplete['USGS_StationName'])
# date of construction - make sure date time format was updated (block of code above)
dfcomplete['DateOfConstruction'] = dfcomplete['GWSI_DateOfConstruction'].where(dfcomplete['GWSI_DateOfConstruction'].notna(), dfcomplete['SITE_DateOfConstruction'])
dfcomplete['DateOfConstruction'] = dfcomplete['MLR_construction_dt'].where(dfcomplete['MLR_construction_dt'].notna(), dfcomplete['DateOfConstruction'])
# Landsurfaceelvation
dfcomplete['LandSurfaceAltitude_mASL_NAVD88'] = dfcomplete['SITE_LandSurfaceAltitude_mASL_NAVD88'].where(dfcomplete['SITE_LandSurfaceAltitude_mASL_NAVD88'].notna(), dfcomplete['GWSI_LandSurfaceAltitude_mASL_NAVD88'])
dfcomplete['LandSurfaceAltitude_mASL_NAVD88'] = dfcomplete['MLR_alt_va'].where(dfcomplete['MLR_alt_va'].notna(), dfcomplete['LandSurfaceAltitude_mASL_NAVD88'])
# drillingdepth
dfcomplete['TotalBoring/DrillingDepth_mBLS'] = dfcomplete['MLR_hole_depth_va'].where(dfcomplete['MLR_hole_depth_va'].notna(), dfcomplete["SITE_TotalBoring/DrillingDepth_mBLS"])
# well depth
dfcomplete['TotalWellDepth_mBLS'] = dfcomplete['MLR_well_depth_va'].where(dfcomplete['MLR_well_depth_va'].notna(), dfcomplete['GWSI_TotalWellDepth_ftBLS'])
# MP height
dfcomplete['well_MP_height_m'] = dfcomplete['AQ_Elevation'].where(dfcomplete['AQ_Elevation'].notna(), dfcomplete['GWSI_MP_height_m'])
# MP begin date
dfcomplete['MP_BeginDate'] = dfcomplete['AQ_ValidFrom'].where(dfcomplete['AQ_ValidFrom'].notna(), dfcomplete['GWSI_MP_BeginDate'])
# MP end date
dfcomplete['MP_EndDate'] = dfcomplete['AQ_DecommissionedDate'].where(dfcomplete['AQ_DecommissionedDate'].notna(), dfcomplete['GWSI_MP_EndDate'])

In [24]:
# calculate new columns
dfcomplete['MeasuringPointElevation_mASL_NAVD88'] = dfcomplete['LandSurfaceAltitude_mASL_NAVD88'] + dfcomplete['well_MP_height_m'] #renamed for Wells
dfcomplete['TopOfScreenElevation_mASL_NAVD88'] = dfcomplete['LandSurfaceAltitude_mASL_NAVD88'] - dfcomplete['GWSI_TopOfScreenDepth_mBLS']
dfcomplete['BottomOfScreenElevation_mASL_NAVD88'] = dfcomplete['LandSurfaceAltitude_mASL_NAVD88'] - dfcomplete['GWSI_BottomOfScreenDepth_mBLS']
dfcomplete['MidOfScreenElevation_mASL_NAVD88'] = dfcomplete['TopOfScreenElevation_mASL_NAVD88'] + dfcomplete['BottomOfScreenElevation_mASL_NAVD88']
dfcomplete['MidOfScreenElevation_mASL_NAVD88'] = dfcomplete['MidOfScreenElevation_mASL_NAVD88'].div(2).round(3)
dfcomplete['ScreenLength_m'] = dfcomplete['GWSI_BottomOfScreenDepth_mBLS'] - dfcomplete['GWSI_TopOfScreenDepth_mBLS']#renamed for Wells

# create indicator columns in tblSites for which sites exist in each of site type tables (wells, cores, other equipment)
dfcomplete['WellSite'] = np.where(dfcomplete['SITE_LocalSiteName'].isin(tblWells['LocalSiteName']), 1, 0) # inserts 1 if true and 0 if false
dfcomplete['CoreSite'] = np.where(dfcomplete['SITE_LocalSiteName'].isin(tblCores['LocalSiteName']), 1, 0)
dfcomplete['OtherEquipmentSite'] = np.where(dfcomplete['SITE_LocalSiteName'].isin(tblOE['LocalSiteName']), 1, 0)

In [25]:
#Rename columns
dfcomplete = dfcomplete.rename(columns={'SITE_OnNWT':'OnNorthWellTransect',
                                        'SITE_NWTPosition_m':'DistanceFromCenterOfNorthOilBody_m',
                                        'LandSurfaceAltitude_mASL_NAVD88':'LandSurfaceElevation_mASL_NAVD88',
                                        'SITE_Loc/MiscCom':'Comments_Miscellaneous',
                                        "SITE_LocalSiteName":"LocalSiteName",
                                        "SITE_StudySite":"StudySite",
                                        "SITE_AgencyCode":"AgencyCode",
                                        "SITE_USGS_siteno":"USGS_siteno",
                                        "SITE_XcoordUTMNAD83_m":"XcoordUTMNAD83_m",
                                        "SITE_YcoordUTMNAD83_m":"YcoordUTMNAD83_m",
                                        "SITE_Comments_DateOfConstruction":"Comments_DateOfConstruction",
                                        "SITE_SiteActiveStatus":"SiteActiveStatus",
                                        "SITE_Comments_Status":"Comments_Status",
                                        "SITE_ApproxRemovalDate":"ApproxRemovalDate",
                                        "OE_OtherEquipStickupLength_m":'OtherEquip_MP_height_m', #For Other equipment data release
                                        'SITE_NameOfContractor':'NameOfContractor',
                                        'SITE_DrillerName':'DrillerName',
                                        'OE_OtherEquipmentPurpose':'OtherEquipmentPurpose',
                                        'OE_Comments_Equipment':'Comments_Equipment',
                                        'OE_Comments':'Comments',
                                        'CORE_CoreStickupLength_m':'Core_MP_height_m',
                                        'CORE_TotalCoreLengthPounded_m':'CoreLengthPounded_m',
                                        'CORE_LocalSiteCoreSubName':'LocalSiteCoreSubName',
                                        'CORE_CoringBegan_mBLS':'CoringBegan_mBLS', 
                                        'CORE_CoringEnded_mBLS':'CoringEnded_mBLS', 
                                        'CORE_CoreRecoveryLength_m':'CoreRecoveryLength_m',
                                        'CORE_CoreBarrelType':'CoreBarrelType', 
                                        'CORE_SubsurfaceCoreZone':'SubsurfaceCoreZone', 
                                        'CORE_FreeProductOilPresentInCore':'FreeProductOilPresentInCore', 
                                        'CORE_DrillersFieldComments':'DrillersFieldComments',
                                        'GWSI_DiameterOfDrillHole_cm':'DiameterOfDrillHole_cm',
                                        'GWSI_WellCasingInnerDiameter_cm':'WellCasingInnerDiameter_cm',
                                        'GWSI_WidthOfOpeningsInOpenInterval_cm':'WidthOfOpeningsInOpenInterval_cm'
                                        })

## NaN conversion

In [66]:
dfcomplete['USGS_siteno'] =  dfcomplete['USGS_siteno'].astype('Int64')
dfcomplete['USGS_siteno'] = 'x' + dfcomplete['USGS_siteno'].astype(str)
dfcomplete['USGS_siteno'] = dfcomplete['USGS_siteno'].replace('x<NA>', np.nan)

In [67]:
dfcomplete

,AgencyCode,SITE_Wellcon_SiteRecordID,SITE_DatabasePointType,USGS_siteno,SITE_ProjectAccountNumber,SITE_USGS_StationName,LocalSiteName,SITE_StateDistrictCode,SITE_CountryCode,SITE_StateCode,...,MP_EndDate,MeasuringPointElevation_mASL_NAVD88,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,ScreenLength_m,WellSite,CoreSite,OtherEquipmentSite,TopOfCoreElevation_mASL_NAVD88
0,USGS,NaN,None,NaN,MN-09500,None,15-N6,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,434.049
1,USGS,NaN,None,NaN,MN-09500,None,15-N7,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,434.401
2,USGS,NaN,None,NaN,MN-09500,None,15-N8,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,434.263
3,USGS,NaN,None,NaN,MN-09500,None,15-N9,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,434.263
4,USGS,NaN,None,NaN,MN-09500,None,15-N10,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,433.962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,USGS,NaN,Data,NaN,MN-09500,None,1706,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,427.308
2470,USGS,NaN,Data,NaN,MN-09500,None,1706,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,426.699
2471,USGS,NaN,Data,NaN,MN-09500,None,1706,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,426.089
2472,USGS,NaN,Data,NaN,MN-09500,None,1706,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,425.479
2473,USGS,NaN,Data,NaN,MN-09500,None,1706,MN,US,27.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,424.870

# TABLES

## MasterSiteList

In [68]:
#create mastersitelist data release
mastersitelist = dfcomplete.loc[:, ["LocalSiteName",
                                    "StudySite",
                                    "AgencyCode",
                                    "USGS_siteno",
                                    "USGS_StationName",
                                    "XcoordUTMNAD83_m",
                                    "YcoordUTMNAD83_m",
                                    "LandSurfaceElevation_mASL_NAVD88",
                                    "OnNorthWellTransect",
                                    "DistanceFromCenterOfNorthOilBody_m",
                                    "WellSite",
                                    "CoreSite",
                                    "OtherEquipmentSite",
                                    "TopOfScreenElevation_mASL_NAVD88",
                                    "BottomOfScreenElevation_mASL_NAVD88",
                                    "MidOfScreenElevation_mASL_NAVD88",
                                    "DateOfConstruction",
                                    "Comments_DateOfConstruction",
                                    "SiteActiveStatus",
                                    "Comments_Status",
                                    "ApproxRemovalDate"]]

# format date
mastersitelist['LocalSiteName'] = 'x' + mastersitelist['LocalSiteName'].astype(str)

# make nan values uniform
null_cells = mastersitelist.isnull()
mastersitelist = mastersitelist.astype(str).mask(null_cells, np.nan)
# delete dublicates
mastersitelist2 = mastersitelist.drop_duplicates(subset='LocalSiteName')
mastersitelist2.shape

(1729, 21)

## other equipment

In [69]:
# create OE data release (this merge is unqiue and must be done last...'LocalUseCode' when merged, needs to use the "left_on" of which ever table (OE or Core etc). Otherwise you have to do some renaming magic to keep all the 'LocalUseCode' columns seperate and change last minute while deleting old columns toi avoid repeating the same col name)
tblOE2 = pd.merge(dfcomplete, tblcd_LocalUseCode[['LocalUseCode','Comments_UseCode']], left_on='OE_LocalUseCode', right_on='LocalUseCode',how='left') #if you leave out the "how" (like in the original) then # of rows plummits
tblOE2 = tblOE2.loc[:,["LocalSiteName",
                       "StudySite",
                       "LocalUseCode",
                       "Comments_UseCode",
                       "USGS_siteno",
                       "USGS_StationName",
                       "XcoordUTMNAD83_m",
                       "YcoordUTMNAD83_m",
                       "OnNorthWellTransect",
                       "DistanceFromCenterOfNorthOilBody_m",
                       "LandSurfaceElevation_mASL_NAVD88",
                       "OtherEquip_MP_height_m",
                       "DateOfConstruction",
                       "Comments_DateOfConstruction",
                       "NameOfContractor",
                       "DrillerName",
                       "OtherEquipmentPurpose",
                       "Comments_Equipment",
                       "Comments",
                       "Comments_Miscellaneous"]]
# delete NAs and dublicates
#tblOE2 = tblOE2.dropna(axis=0, subset=['LocalUseCode']) # OLD filter that drops all rows where LocalUseCode is na
tblOE2 = tblOE2[tblOE2['LocalUseCode'].notnull() | tblOE2['Comments'].notnull()] # NEW filter
tblOE2 = tblOE2.drop_duplicates(subset='LocalSiteName')

# final touches
tblOE2['LocalSiteName'] = 'x' + tblOE2['LocalSiteName'].astype(str)
# make nan values uniform
null_cells = tblOE2.isnull()
tblOE2 = tblOE2.astype(str).mask(null_cells, np.nan)

## Cores

In [70]:
# Create one extra column which needs to come after the column merges
dfcomplete['TopOfCoreElevation_mASL_NAVD88'] = dfcomplete['LandSurfaceElevation_mASL_NAVD88'] - dfcomplete['CoringBegan_mBLS']
# Migrate local use code 
tblCores2 = pd.merge(dfcomplete, tblcd_LocalUseCode[['LocalUseCode','Comments_UseCode']], left_on='CORE_LocalUseCode', right_on='LocalUseCode',how='left')
# create data release in column order
tblCores2 = tblCores2.loc[:, ["LocalSiteName",
                              "StudySite",
                              "LocalUseCode",
                              "Comments_UseCode",
                              "USGS_siteno",
                              "USGS_StationName",
                              "LocalSiteCoreSubName",
                              "XcoordUTMNAD83_m",
                              "YcoordUTMNAD83_m",
                              "OnNorthWellTransect",
                              "DistanceFromCenterOfNorthOilBody_m",
                              "LandSurfaceElevation_mASL_NAVD88",
                              "Core_MP_height_m",
                              "DateOfConstruction",
                              "Comments_DateOfConstruction",
                              "TotalBoring/DrillingDepth_mBLS",
                              "NameOfContractor",
                              "DrillerName",
                              "CoringBegan_mBLS",
                              "CoringEnded_mBLS",
                              "CoreRecoveryLength_m",
                              "TopOfCoreElevation_mASL_NAVD88",
                              "CoreLengthPounded_m",
                              "CoreBarrelType",
                              "SubsurfaceCoreZone",
                              "FreeProductOilPresentInCore",
                              "DrillersFieldComments",
                              "Comments_Miscellaneous"]] 
# delete uneeded cols
tblCores2 = tblCores2.dropna(axis=0, subset=['Comments_UseCode'])
#Format columns and male nan values uniform
tblCores2['LocalSiteName'] = 'x' + tblCores2['LocalSiteName'].astype(str)
null_cells = tblCores2.isnull()
tblCores2 = tblCores2.astype(str).mask(null_cells, np.nan)

## Wells

In [71]:
# add tblcd info
tblWells3 = pd.merge(dfcomplete, tblcd_OpeningType[["TypeOfOpenInterval", "comments_OpeningType"]], left_on='GWSI_TypeOfOpenInterval', right_on='TypeOfOpenInterval', how='left')
tblWells3 = pd.merge(tblWells3, tblcd_LocalUseCode[["LocalUseCode", "Comments_UseCode"]], left_on='WELL_LocalUseCode', right_on='LocalUseCode',how='left')
tblWells3 = pd.merge(tblWells3, tblcd_CasingMaterial[["CasingMaterial", "Comments_CasingMaterial"]], left_on='GWSI_CasingMaterial', right_on='CasingMaterial', how='left')
tblWells3 = pd.merge(tblWells3, tblcd_ScreenMaterial[["ScreenMaterial", "Comments_ScreenMaterial"]], left_on='GWSI_ScreenMaterialType', right_on='ScreenMaterial', how='left')

# rename tblcd info
tblWells3 = tblWells3.rename(columns={"comments_OpeningType":'OpeningTypeDescription'})
tblWells3 = tblWells3.rename(columns={"Comments_CasingMaterial":'CasingMaterialDescription'})
tblWells3 = tblWells3.rename(columns={"Comments_ScreenMaterial":'ScreenMaterialDescription'})

In [72]:
#data release
# select a subset of data
tblWells3 = tblWells3.loc[:,["LocalSiteName",
                             "StudySite",
                             "LocalUseCode",
                             "Comments_UseCode",
                             "USGS_siteno",
                             "USGS_StationName",
                             "XcoordUTMNAD83_m",
                             "YcoordUTMNAD83_m",
                             "OnNorthWellTransect",
                             "DistanceFromCenterOfNorthOilBody_m",
                             "MeasuringPointElevation_mASL_NAVD88", 
                             "well_MP_height_m",
                             "LandSurfaceElevation_mASL_NAVD88",
                             "TopOfScreenElevation_mASL_NAVD88",
                             "BottomOfScreenElevation_mASL_NAVD88",
                             "ScreenLength_m",
                             "MidOfScreenElevation_mASL_NAVD88",
                             "TotalWellDepth_mBLS",
                             "TotalBoring/DrillingDepth_mBLS",
                             "DiameterOfDrillHole_cm",
                             "WellCasingInnerDiameter_cm",
                             "OpeningTypeDescription",
                             "WidthOfOpeningsInOpenInterval_cm",
                             "CasingMaterialDescription",
                             "ScreenMaterialDescription",
                             "DateOfConstruction",
                             "Comments_DateOfConstruction",
                             "NameOfContractor",
                             "DrillerName",
                             "Comments_Miscellaneous",
                             "SiteActiveStatus",
                             "Comments_Status",
                             "ApproxRemovalDate"]]  
# delete uneeded cols
tblWells3 = tblWells3.dropna(axis=0, subset=['Comments_UseCode'])
tblWells3 = tblWells3.drop_duplicates()#subset='LocalSiteName')
# formatting columns
tblWells3['LocalSiteName'] = 'x' + tblWells3['LocalSiteName'].astype(str)
#Make nan values uniform
null_cells = tblWells3.isnull()
tblWells3 = tblWells3.astype(str).mask(null_cells, np.nan)

# bmj_rmk data release
organized seperately since bmj_rmk has repeating rows for every site number

In [73]:
dfrmk2 = dfrmk.loc[:,['GWSI_AgencyCode', 'GWSI_USGS_siteno', 'GWSI_GWSI_RMK',
                      'GWSI_GWSI_RMK_Date', 'GWSI_GWSI_RMK_SequenceNo']]

# make columns the same datatype of interger
tblSites['USGS_siteno'] = tblSites['USGS_siteno'].fillna(0).astype('int64')
# dfrmk2's is already an interger
dfrmk2 = pd.merge(dfrmk2, tblSites[['USGS_siteno', 'LocalSiteName']], left_on= "GWSI_USGS_siteno", right_on= 'USGS_siteno', how='left')

# organize for data release
dfrmk3 = dfrmk2.loc[:, ['GWSI_AgencyCode',
                        'GWSI_USGS_siteno',
                        'LocalSiteName',
                        'GWSI_GWSI_RMK',
                        'GWSI_GWSI_RMK_Date',
                        'GWSI_GWSI_RMK_SequenceNo']]
# format numbers with 'x'
dfrmk3['GWSI_USGS_siteno'] = 'x' + dfrmk3['GWSI_USGS_siteno'].astype(str)
dfrmk3['LocalSiteName'] = 'x' + dfrmk3['LocalSiteName'].astype(str)

# Saving Every dataframe in a new directory

In [132]:
this is a syntax error to stop the script from running

SyntaxError: invalid syntax (620935946.py, line 1)

In [74]:
# create variable with today's date
date = datetime.today().strftime('%Y%m%d') 
# create variable for new folder/directory
dir = "data_outputs/"+date+"_datarelease" # new directory location and name
# create the directory unless it already exists...then skip
try:
    os.mkdir(dir)
except:
    pass
# save all the files there 
mastersitelist2.to_csv(dir+"/DataRelease_MasterSiteList.csv", index=False)
tblOE2.to_csv(dir+"/DataRelease_OtherEquipmentInformation.csv", index=False)
tblCores2.to_csv(dir+"/DataRelease_CoreInformation.csv", index=False)
tblWells3.to_csv(dir+"/DataRelease_WellConstructionInformation.csv", index=False)
dfrmk3.to_csv(dir+"/DataRelease_rmk3.csv", index=False)

In [37]:
print(f'saved to {os.getcwd()} --> {dir}')

saved to P:\0083\analysis\DataCompilation\DataCompilationPy\create_site_info_files --> data_outputs/20250131_datarelease

# extra tests

In [ ]:
#check specific rows for specific columns
dfcomplete.loc[0:5, ['LocalSiteName','USGS_siteno','LandSurfaceElevation_mASL_NAVD88', 'MLR_alt_va']]

  LocalSiteName  USGS_siteno  LandSurfaceElevation_mASL_NAVD88  MLR_alt_va
2         15-N8          NaN                               NaN         NaN
3         15-N9          NaN                               NaN         NaN
1         15-N7          NaN                               NaN         NaN
5        15-N11          NaN                               NaN         NaN
0         15-N6          NaN                               NaN         NaN

In [ ]:
#check random rows for specific columns
dfcomplete.loc[:, ['LocalSiteName','USGS_siteno','LandSurfaceElevation_mASL_NAVD88', 'MLR_alt_va']].sample(5)

,LocalSiteName,USGS_siteno,LandSurfaceElevation_mASL_NAVD88,MLR_alt_va
733,1104,NaN,432.728,NaN
1585,8417B,473425095052003.000,432.441,432.441
1618,9027,473428095052203.000,428.095,428.095
350,L310-1.5,NaN,433.453,NaN
54,17.lk1,NaN,NaN,NaN

In [ ]:
# look at rows where specfic columns have specific values
dfcomplete.loc[dfcomplete['GWSI_USGS_siteno'] == 473429095051006, ['GWSI_USGS_siteno','LandSurfaceElevation_mASL_NAVD88']]

     GWSI_USGS_siteno  LandSurfaceElevation_mASL_NAVD88
8 473429095051006.000                           426.296

In [ ]:
dfrmk3

,GWSI_AgencyCode,GWSI_USGS_siteno,LocalSiteName,GWSI_GWSI_RMK,GWSI_GWSI_RMK_Date,GWSI_GWSI_RMK_SequenceNo
0,USGS,x473429095051006,x1217E,This well was re-surveyed on 27 June 2019 by J...,20190730.000,1.000
1,USGS,x473429095051006,x1217E,Digital levels were then ran from the temporar...,20190730.000,2.000
2,USGS,x473429095051006,x1217E,This well casing is constructed of stainless s...,20190730.000,3.000
3,USGS,x473424095052912,x1602G-01,"This is port ""01"" for vadose zone vapor/gas sa...",20200206.000,1.000
4,USGS,x473424095052906,x707G-01,"This is port ""01"" for vadose zone vapor/gas sa...",20200206.000,1.000
...,...,...,...,...,...,...
628,USGS,x473419095052503,xWG,This is the location of a wetland staff gage f...,20190730.000,1.000
629,USGS,x473419095052304,x1509G-01,"This is port ""01"" for vadose zone vapor/gas sa...",20200206.000,1.000
630,USGS,x473425095051601,x1707,This is a monitoring well used for the Bemidji...,20170726.000,1.000
631,USGS,x473423095051501,x1708,This monitoring well used for the Bemidji Toxi...,20170726.000,1.000
632,USGS,x473424095053001,x1711G-01,"This is port ""01"" for vadose zone vapor/gas sa...",20200206.000,1.000

In [ ]:
# another example but with a string
dfcomplete.loc[dfcomplete['LocalSiteName'] == '15-N6', ['GWSI_USGS_siteno','LocalSiteName','LandSurfaceElevation_mASL_NAVD88']]

   GWSI_USGS_siteno LocalSiteName  LandSurfaceElevation_mASL_NAVD88
0               NaN         15-N6                           434.049

In [ ]:
# another example but with can extra conditional where each boolean needs round brackets
dfrmk3.loc[(dfrmk3['GWSI_USGS_siteno'] == 'x473429095051006') & (dfrmk3['GWSI_GWSI_RMK_SequenceNo'] == 1), :]

,GWSI_AgencyCode,GWSI_USGS_siteno,LocalSiteName,GWSI_GWSI_RMK,GWSI_GWSI_RMK_Date,GWSI_GWSI_RMK_SequenceNo
0,USGS,x473429095051006,x1217E,This well was re-surveyed on 27 June 2019 by J...,20190730.000,1.000

In [ ]:
#PRINT OUT DF KEYS IN ABC ORDER
dfcomplete.reindex(sorted(dfcomplete.columns), axis=1).keys()

Index(['AQ_AppliedByUser', 'AQ_AppliedTime', 'AQ_Comment',
       'AQ_DecommissionedDate', 'AQ_DecommissionedReason', 'AQ_Description',
       'AQ_Elevation', 'AQ_IsMeasuredAgainstLocalAssumedDatum',
       'AQ_MeasurementDirection', 'AQ_Method',
       ...
       'WELL_WellheadCasingLength', 'WELL_WellheadCasingProtection',
       'WELL_WellheadCompletion', 'WELL_WidthOfOpeningsInOpenInterval_inches',
       'WellCasingInnerDiameter_cm', 'WellSite',
       'WidthOfOpeningsInOpenInterval_cm', 'XcoordUTMNAD83_m',
       'YcoordUTMNAD83_m', 'well_MP_height_m'],
      dtype='object', length=380)

In [ ]:
# look at the number of unique values in a column
len(pd.unique(dfcomplete['LandSurfaceElevation_mASL_NAVD88']))

1158

In [ ]:
# number of columns and rows in a df
mastersitelist2.shape

(1729, 21)

# Comparing the old outputs with my updated outputs and these newest outputs

In [ ]:
print(os.listdir()) # creates a list of directories
print(os.scandir()) # creates an object which can be iterated through

['.ipynb_checkpoints', '01_inputfiles_prep-Copy1.ipynb', '01_inputfiles_prep.ipynb', '02_data_convergence-Copy1.ipynb', '02_data_convergence-Copy2-20221222.ipynb', '02_data_convergence-Copy3-20221228.ipynb', '02_data_convergence.ipynb', '02_data_convergenceCopy4-20230102.ipynb', 'ColumnMapping', 'config', 'datacheck', 'DataRelease_Well_nofilter.csv', 'data_inputs', 'data_outputs', 'description', 'HEAD', 'hooks', 'info', 'objects', 'refs', 'Untitled-1.ipynb', 'Untitled-1_20230102.ipynb']
<nt.ScandirIterator object at 0x000002AFBEA81B80>

In [ ]:
# import old output files from R 
path = r'data_outputs/old_fromR/'
dir = os.listdir(path)
oldc = pd.read_csv(path+dir[0], encoding='Windows-1252') # Coreinformation
oldm = pd.read_csv(path+dir[1], encoding='Windows-1252') # mastersitelist
oldo = pd.read_csv(path+dir[2], encoding='Windows-1252') # otherequipment
oldw = pd.read_csv(path+dir[3], encoding='Windows-1252') # wellconstruction
# import updated output files where R code was translated to Python code
path = r'data_outputs/20230110_datarelease/'
dir = os.listdir(path)
midc = pd.read_csv(path+dir[0])
midm = pd.read_csv(path+dir[1])
mido = pd.read_csv(path+dir[2])
midr = pd.read_csv(path+dir[3]) # rmk3
midw = pd.read_csv(path+dir[4])
# import (1/19/2023) output files from Python where everything was reorganized
path = r'data_outputs/20230119_datarelease/'
dir = os.listdir(path)
newc = pd.read_csv(path+dir[0])
newm = pd.read_csv(path+dir[1])
newo = pd.read_csv(path+dir[2])
newr = pd.read_csv(path+dir[3]) # rmk3
neww = pd.read_csv(path+dir[4])

In [ ]:
# .shape prints out the (rows, cols) of a dataframe. Cols should generally match. 
# Rows Could have slightly increased from old to mid since mid is slightly updated. 
# New files may have slightly less than mid as some duplicate rows were deleted
print("Core Info:", oldc.shape, midc.shape, newc.shape)
print("MasterSiteList Info:", oldm.shape, midm.shape, newm.shape)
print("OtherEquipment Info:", oldo.shape, mido.shape, newo.shape)
print("Well Con Info:", oldw.shape, midw.shape, neww.shape)
print("RMK Info:", 'nan', midr.shape, newr.shape)

Core Info: (1408, 30) (1470, 28) (1469, 28)
MasterSiteList Info: (1701, 21) (1731, 21) (1729, 21)
OtherEquipment Info: (434, 20) (433, 20) (423, 20)
Well Con Info: (605, 33) (615, 33) (596, 33)
RMK Info: nan (633, 6) (633, 6)

In [ ]:
# reorganized the same data
row_names = ["Core Info:", "MasterSiteList Info:","OtherEquipment Info:","Well Con Info:","RMK Info:"]
col_names = ["Old R dataframe", 'Translated to Py', 'Reorganized in Py']
data = [[oldc.shape, midc.shape, newc.shape],[oldm.shape, midm.shape, newm.shape],
        [oldo.shape, mido.shape, newo.shape], [oldw.shape, midw.shape, neww.shape],['nan', midr.shape, newr.shape]]
df = pd.DataFrame(data, columns=col_names)
df.index = [row_names]
df

                     Old R dataframe Translated to Py Reorganized in Py
Core Info:                (1408, 30)       (1470, 28)        (1469, 28)
MasterSiteList Info:      (1701, 21)       (1731, 21)        (1729, 21)
OtherEquipment Info:       (434, 20)        (433, 20)         (423, 20)
Well Con Info:             (605, 33)        (615, 33)         (596, 33)
RMK Info:                        nan         (633, 6)          (633, 6)

I notice that core info lost some columns

In [ ]:
# get the column labels of each dataframe
colsOLD = set(oldc.columns)
colsNEW = set(newc.columns)

# find the columns missing in df2 compared to df1
missing_in_NEW = colsOLD.difference(colsNEW)
print("Cols missing the new dataframe:", missing_in_NEW)

# find the columns missing in df1 compared to df2
missing_in_OLD = colsNEW.difference(colsOLD)
print("Cols missing from the old dataframe:", missing_in_OLD)

Cols missing the new dataframe: {'Unnamed: 28', 'Unnamed: 29', 'TotalBoring_DrillingDepth_mBLS'}
Cols missing from the old dataframe: {'TotalBoring/DrillingDepth_mBLS'}

In [ ]:
missing_cols = colsOLD.symmetric_difference(colsNEW)
print(missing_cols)
missing_cols = colsNEW.symmetric_difference(colsOLD)
print(missing_cols)

{'TotalBoring/DrillingDepth_mBLS', 'Unnamed: 28', 'Unnamed: 29', 'TotalBoring_DrillingDepth_mBLS'}
{'Unnamed: 28', 'TotalBoring/DrillingDepth_mBLS', 'Unnamed: 29', 'TotalBoring_DrillingDepth_mBLS'}

Turns out there are just invisible columns in the old dataframe called "Unnamed: ##". Perhaps it has to do with the weirdness of the encoding type. Can be ignored and know that both dataframes actally have 28 rows for Coring dataframes

### All columns match up...what about data?

In [ ]:
print(oldm['LocalSiteName'].dtypes)
print(newm['LocalSiteName'].dtypes)
# First I have to make the old columns match
oldm['LocalSiteName'] = 'x' + oldm['LocalSiteName'].astype(str)

object
object

In [ ]:
display(oldm.loc[0:2, :])
display(newm.loc[0:2, :])

,LocalSiteName,StudySite,AgencyCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,LandSurfaceElevation_mASL_NAVD88,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,...,CoreSite,OtherEquipmentSite,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,DateOfConstruction,Comments_DateOfConstruction,SiteActiveStatus,Comments_Status,ApproxRemovalDate
0,x15-N6,Bemidji,USGS,NaN,NaN,342541.280,5271062.290,434.049,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
1,x15-N7,Bemidji,USGS,NaN,NaN,342563.440,5271111.220,434.401,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
2,x15-N8,Bemidji,USGS,NaN,NaN,342557.790,5271104.470,434.263,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN

,LocalSiteName,StudySite,AgencyCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,LandSurfaceElevation_mASL_NAVD88,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,...,CoreSite,OtherEquipmentSite,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,DateOfConstruction,Comments_DateOfConstruction,SiteActiveStatus,Comments_Status,ApproxRemovalDate
0,x15-N6,Bemidji,USGS,NaN,NaN,342541.280,5271062.290,434.049,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
1,x15-N7,Bemidji,USGS,NaN,NaN,342563.440,5271111.220,434.401,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
2,x15-N8,Bemidji,USGS,NaN,NaN,342557.790,5271104.470,434.263,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN

In [ ]:
# check true versus false cols
check = oldm['LocalSiteName'].isin(newm['LocalSiteName'])
true_count = check.sum()
false_count = len(check) - true_count
print("Number of True values:", true_count)
print("Number of False values:", false_count)

Number of True values: 1591
Number of False values: 110

Lesson on boolean indexing...a boolean (true/false) mask can be used to select rows where elements showed up to be true or false. Typically it would return true values

> true_rows=oldm.loc[check]

But it can also return false values by using the '~' operator which negates the mask 

> false_rows=oldm.loc[~check]

Another way to do it is

> false_rows=oldm.loc[check == False]

In [ ]:
false_rows=oldm.loc[~check]
false_rows.sample(10)

,LocalSiteName,StudySite,AgencyCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,LandSurfaceElevation_mASL_NAVD88,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,...,CoreSite,OtherEquipmentSite,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,DateOfConstruction,Comments_DateOfConstruction,SiteActiveStatus,Comments_Status,ApproxRemovalDate
374,x325,Bemidji,USGS,NaN,NaN,342821.940,5271050.470,432.800,1.000,37.200,...,1,0,NaN,NaN,NaN,20030725.000,NaN,Active,NaN,NaN
528,x804,Bemidji,USGS,NaN,NaN,342773.300,5271035.370,430.212,1.000,-13.390,...,1,0,NaN,NaN,NaN,20080719.000,NaN,Active,NaN,NaN
1604,xTelephone bo 3,Bemidji,USGS,NaN,NaN,342755.710,5271025.740,430.811,1.000,-33.370,...,0,1,NaN,NaN,NaN,NaN,Installation date unknown,Active,NaN,NaN
341,x133,Bemidji,USGS,NaN,NaN,342792.660,5271024.320,430.741,NaN,NaN,...,1,0,NaN,NaN,NaN,20010726.000,NaN,Active,NaN,NaN
318,x36,Bemidji,USGS,NaN,NaN,342804.980,5270859.210,425.626,NaN,NaN,...,1,0,NaN,NaN,NaN,20000808.000,NaN,Active,NaN,NaN
311,x27,Bemidji,USGS,NaN,NaN,342622.060,5270942.200,433.209,1.000,-189.410,...,1,0,NaN,NaN,NaN,20000805.000,NaN,Active,NaN,NaN
527,x803,Bemidji,USGS,NaN,NaN,342899.400,5271090.880,433.381,1.000,124.390,...,1,0,NaN,NaN,NaN,20080723.000,NaN,Active,NaN,NaN
504,x601,Bemidji,USGS,NaN,NaN,342846.270,5271062.810,433.041,1.000,64.440,...,1,0,NaN,NaN,NaN,20060718.000,NaN,Active,NaN,NaN
337,x129,Bemidji,USGS,NaN,NaN,342791.430,5271034.010,430.557,NaN,NaN,...,1,0,NaN,NaN,NaN,20010726.000,NaN,Active,NaN,NaN
379,x330,Bemidji,USGS,NaN,NaN,342861.940,5271069.470,433.207,1.000,81.470,...,1,0,NaN,NaN,NaN,20030726.000,NaN,Active,NaN,NaN

In [ ]:
display(oldm.loc[0:2, :])
display(newm.loc[0:2, :])

Why are there over 100 False values for LocalSiteNames? There seems to be small ignorable problems. Like the error in the old dataframe where 0007 was converted to 7. Or "Telephone box" versus "telephone bo".

## I can repeat this process using any dataframe or column

In [ ]:
display(oldo.LocalSiteName)
display(newo.LocalSiteName)

0              BM1
1      CL-pipeline
2           F1212G
3           F1302G
4           WT1601
          ...
429        15.p100
430         15.q93
431       old.tdr1
432       old.tdr2
433       old.tdr3
Name: LocalSiteName, Length: 434, dtype: object

0           xWT1601
1      xCL-pipeline
2        xL1802-1.8
3        xL1802-3.3
4          xF530G.1
           ...
418         xWT1003
419         xWT1004
420         xWT1201
421         xWT1301
422         xWT1712
Name: LocalSiteName, Length: 423, dtype: object

In [ ]:
# manually do any processing on the old dfs to match the new dfs format
oldo['LocalSiteName'] = 'x' + oldo['LocalSiteName'].astype(str)

In [ ]:
#inputs
old_df = oldo # do these values appear in... 
new_df = newo # this dataframe?
col_name = 'LocalSiteName'
# check true versus false cols
check = old_df[col_name].isin(new_df[col_name])
true_count = check.sum()
false_count = len(check) - true_count
print("Number of True values:", true_count)
print("Number of False values:", false_count)

false_rows=old_df.loc[~check]
display(false_rows[['LocalSiteName', 'Comments']])

Number of True values: 419
Number of False values: 15

         LocalSiteName                                           Comments
19         xB-pipeline  record added to database to accommodate pipeli...
76     xTelephone bo 3                                                NaN
77         xPower bo 6                                                NaN
78   xPower bo 6 meter                                                NaN
79         xPower bo 7                                                NaN
80     xTelephone bo 4                                                NaN
81     xTelephone bo 5                                                NaN
102        xPower bo 1                                                NaN
103        xPower bo 2                                                NaN
104        xPower bo 3                                                NaN
108        xPower bo 4                                                NaN
109        xPower bo 5                                                NaN
110    xTelephone bo 1                                                NaN
111    xTelephone bo 2                                                NaN
123    xTelephone bo 6                                                NaN

In [ ]:
# how to display the whole text in the column
pd.options.display.max_colwidth = 100
display(false_rows[['LocalSiteName', 'Comments']])
pd.reset_option('max_colwidth') # turn output display back to default to avoid crashing the computer if printing a lot of columns

In [ ]:
#checked rows where mismatches occur

display(old_df.loc[old_df['LocalSiteName'] == '17.lk.sc5', :])
display(new_df.loc[new_df['LocalSiteName'] == 'x17.lk.sc5', :])

,LocalSiteName,StudySite,LocalUseCode,Comments_UseCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,...,CasingMaterialDescription,ScreenMaterialDescription,DateOfConstruction,Comments_DateOfConstruction,NameOfContractor,DrillerName,Comments_Miscellaneous,SiteActiveStatus,Comments_Status,ApproxRemovalDate
19,17.lk.sc5,Bemidji,NaN,NaN,NaN,NaN,343127.640,5271096.410,NaN,NaN,...,NaN,NaN,NaN,NaN,USGS MN Water Science Center,Not applicable,NaN,Removed,temporary sampling location,NaN

Empty DataFrame
Columns: [LocalSiteName, StudySite, LocalUseCode, Comments_UseCode, USGS_siteno, USGS_StationName, XcoordUTMNAD83_m, YcoordUTMNAD83_m, OnNorthWellTransect, DistanceFromCenterOfNorthOilBody_m, MeasuringPointElevation_mASL_NAVD88, well_MP_height_m, LandSurfaceElevation_mASL_NAVD88, TopOfScreenElevation_mASL_NAVD88, BottomOfScreenElevation_mASL_NAVD88, ScreenLength_m, MidOfScreenElevation_mASL_NAVD88, TotalWellDepth_mBLS, TotalBoring/DrillingDepth_mBLS, DiameterOfDrillHole_cm, WellCasingInnerDiameter_cm, OpeningTypeDescription, WidthOfOpeningsInOpenInterval_cm, CasingMaterialDescription, ScreenMaterialDescription, DateOfConstruction, Comments_DateOfConstruction, NameOfContractor, DrillerName, Comments_Miscellaneous, SiteActiveStatus, Comments_Status, ApproxRemovalDate]
Index: []

[0 rows x 33 columns]

All values that are in **'XcoordUTMNAD83_m'** in the old df also appear in the new df for mastersitelist, core, and otherequipment but not for Well Construction. Are rows with '17.lk.sc5' really needed?

## Convert to UTF-8 example. 
Since the encoding type "Windows-1252" is limited with its character use (single byte!) and can't be translated to all languages, it is good practice in general to convert it to UTF-8 so it can handle the wide variety of characters in different languages like Chinese.

In [ ]:
#detect the encoding of a file
import chardet
with open(r'data_outputs/old_fromR/DataRelease01_CoreInformation.csv', 'rb') as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [ ]:

oldc.to_csv(r'data_outputs/old_fromR/Test_DataRelease01_CoreInformation_UTF8.csv', index=False, encoding='UTF-8')

In [ ]:
test = pd.read_csv(r'data_outputs/old_fromR/DataRelease01_CoreInformation_UTF8.csv')

## Testing to see if any data from Aquarius (reference points) has instances where one site has multiple valid MP heights for the same day

In [ ]:
path = r'data_inputs/aquarius'
dir = os.listdir(path)
aq = pd.read_csv(path+'/Referencepoints_fromPy.csv')#, encoding='Windows-1252')

In [ ]:
aq.sort_values(by='site', ascending=True)

,UniqueId,Name,Description,site,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
0,0868303bbc6c441982fff320c2d0a44f,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473356095043701,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,0.050,GNSS3,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T13:12:52.2229750-06:00,aberg,NaN,NaN
1,00ddcc72af874a04a11e2735b1524b39,MP-1 height,"MP assumed to be the top of casing, not protec...",473358095061401,True,1984-10-17T00:00:00.0000000-06:00,ft,3.000,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:22.9820002-06:00,admin,NaN,NaN
2,b570bd5035cb4d0db9f55cce351f4fc6,MP-1 height,"MP assumed to be the top of casing, not protec...",473404095054101,True,1984-06-19T00:00:00.0000000-06:00,ft,2.630,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:25.7468950-06:00,admin,NaN,NaN
3,b6a787ea9c1d4625b02dacca2b76a2c6,MP-1 height,"MP assumed to be the top of casing, not protec...",473405095060101,True,1984-05-08T00:00:00.0000000-06:00,ft,1.410,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:26.3601610-06:00,admin,NaN,NaN
4,4d6975e06cda4e32a5df7224776d21e2,MP-1 height,"MP assumed to be the top of casing, not protec...",473405095060201,True,1985-07-09T00:00:00.0000000-06:00,ft,2.710,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:26.6997530-06:00,admin,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,6c0293e1fd884a97a49cdc79c66961c2,MP-1 height,MP prior to well being bent due to logging,473437095052401,True,1985-07-08T00:00:00.0000000-06:00,ft,2.350,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:15:37.0271760-06:00,admin,2004-12-01T00:00:00.0000000-06:00,GW MP ended on 2004-11-30
569,ec11dddc0a49444db3b113b7c5270c1a,Generic Zero Height,Generic Zero Height Reference Point,473437095052401,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:15:37.1758930-06:00,admin,NaN,NaN
570,f534bdda01e1488d9a9f17eb94ff3db1,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473439095063001,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,0.090,GNSS2,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T10:41:27.7681060-06:00,aberg,NaN,NaN
571,4e4ffdaf38264739b398c38fc7effae9,MP-1 height,"MP assumed to be the top of casing, not protec...",473440095063001,True,1984-10-17T00:00:00.0000000-06:00,ft,1.880,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:15:38.3859010-06:00,admin,NaN,NaN
572,01134a800425416097a51eb47c8c92bd,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473503095044501,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,0.090,GNSS2,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T10:52:43.8287210-06:00,aberg,NaN,NaN

In [ ]:
duplicates = aq[aq.duplicated(subset='ValidFrom', keep=False) & aq.duplicated(subset='site', keep=False)]
duplicates

,UniqueId,Name,Description,site,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
6,454ebe23596f4309b0d4bfd5af7afc5f,Generic Zero Height,Generic Zero Height Reference Point,473411095062901,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:13:28.1128920-06:00,admin,NaN,NaN
7,2dfd9a7470a641ceb700e208c2a54e01,MP-1 height,"MP assumed to be the top of casing, not protec...",473411095062901,True,1984-06-19T00:00:00.0000000-06:00,ft,2.940,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:28.0593842-06:00,admin,NaN,NaN
9,c20a2cc81c3c4897b7a707e0ec4f142e,Generic Zero Height,Generic Zero Height Reference Point,473413095053701,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:13:29.5128960-06:00,admin,NaN,NaN
10,fb7a18b7001949f2b996131625ab52e6,MP-2 height,More accurate MP length. This should be used f...,473413095053701,True,1985-05-16T00:00:00.0000000-06:00,ft,2.560,NaN,NaN,FromTopToBottom,From GW_MPNT 2,2021-01-12T20:13:29.4114640-06:00,admin,NaN,NaN
11,8ea8bbed63164e71b25a9d410bf420d1,MP-1 height,Initial MP for this well. Discovered to be ina...,473413095053701,True,1985-05-15T00:00:00.0000000-06:00,ft,2.690,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:29.3543652-06:00,admin,1985-05-16T00:00:00.0000000-06:00,GW MP ended on 1985-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,593d69f35c3e46b796c26172cb5f617b,Generic Zero Height,Generic Zero Height Reference Point,473430095052201,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:15:31.4800930-06:00,admin,NaN,NaN
560,a197c4beca9f488db5bb6b61b1aaed7e,MP-1 height,"MP assumed to be the top of casing, not protec...",473431095052601,True,1983-05-25T00:00:00.0000000-06:00,ft,1.460,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:15:33.1546890-06:00,admin,NaN,NaN
561,dc03d54712a24dc0bc6c3e4c2818ee55,Generic Zero Height,Generic Zero Height Reference Point,473431095052601,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:15:33.2391440-06:00,admin,NaN,NaN
567,40592487f5434867a231b0ce478e62b2,MP-2 height,New MP after well had been bent from logging,473437095052401,True,2004-12-01T00:00:00.0000000-06:00,ft,2.110,NaN,NaN,FromTopToBottom,From GW_MPNT 2,2021-01-12T20:15:37.0842790-06:00,admin,NaN,NaN
569,ec11dddc0a49444db3b113b7c5270c1a,Generic Zero Height,Generic Zero Height Reference Point,473437095052401,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:15:37.1758930-06:00,admin,NaN,NaN

In [ ]:
duplicates = aq[aq.duplicated(subset=['ValidFrom', 'site'], keep=False)]
duplicates

,UniqueId,Name,Description,site,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
71,e0c6350eb279430e93c1d6b07172d6e5,MP-1 height,"MP assumed to be the top of casing, not protec...",473420095052406,True,1983-06-01T00:00:00.0000000-06:00,ft,1.840,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:46.9615040-06:00,admin,1983-06-02T00:00:00.0000000-06:00,GW MP ended on 1983-06-01
72,9c91b87395aa407a8aba7bf4829169f9,MP-2 height,More accurate MP length. This should be used f...,473420095052406,True,1983-06-01T00:00:00.0000000-06:00,ft,1.220,NaN,NaN,FromTopToBottom,From GW_MPNT 2,2021-01-12T20:13:47.0120730-06:00,admin,NaN,NaN

In [ ]:
aq.sort_values(by='site', ascending=True, inplace=True)
dups = aq[aq.duplicated(subset='ValidFrom', keep=False)]

                             UniqueId                 Name  \
0    0868303bbc6c441982fff320c2d0a44f          MP-1 height
1    00ddcc72af874a04a11e2735b1524b39          MP-1 height
2    b570bd5035cb4d0db9f55cce351f4fc6          MP-1 height
3    b6a787ea9c1d4625b02dacca2b76a2c6          MP-1 height
5    21199dd5b3cc431fa8e382391281708b          MP-1 height
..                                ...                  ...
567  40592487f5434867a231b0ce478e62b2          MP-2 height
569  ec11dddc0a49444db3b113b7c5270c1a  Generic Zero Height
570  f534bdda01e1488d9a9f17eb94ff3db1          MP-1 height
571  4e4ffdaf38264739b398c38fc7effae9          MP-1 height
572  01134a800425416097a51eb47c8c92bd          MP-1 height

                                           Description             site  \
0    No MP exists, but 0.00 ft. was populated for f...  473356095043701
1    MP assumed to be the top of casing, not protec...  473358095061401
2    MP assumed to be the top of casing, not protec...  473404095054101
3    MP assumed to be the top of casing, not protec...  473405095060101
5    No MP exists, but 0.00 ft. was populated for f...  473408095045601
..                                                 ...              ...
567       New MP after well had been bent from logging  473437095052401
569                Generic Zero Height Reference Point  473437095052401
570  No MP exists, but 0.00 ft. was populated for f...  473439095063001
571  MP assumed to be the top of casing, not protec...  473440095063001
572  No MP exists, but 0.00 ft. was populated for f...  473503095044501

     IsMeasuredAgainstLocalAssumedDatum                          ValidFrom  \
0                                  True  0001-01-01T00:00:00.0000000+00:00
1                                  True  1984-10-17T00:00:00.0000000-06:00
2                                  True  1984-06-19T00:00:00.0000000-06:00
3                                  True  1984-05-08T00:00:00.0000000-06:00
5                                  True  0001-01-01T00:00:00.0000000+00:00
..                                  ...                                ...
567                                True  2004-12-01T00:00:00.0000000-06:00
569                                True  0001-01-01T00:00:00.0000000+00:00
570                                True  0001-01-01T00:00:00.0000000+00:00
571                                True  1984-10-17T00:00:00.0000000-06:00
572                                True  0001-01-01T00:00:00.0000000+00:00

    Unit  Elevation  Uncertainty Method MeasurementDirection  \
0     ft      0.000        0.050  GNSS3      FromTopToBottom
1     ft      3.000          NaN    NaN      FromTopToBottom
2     ft      2.630          NaN    NaN      FromTopToBottom
3     ft      1.410          NaN    NaN      FromTopToBottom
5     ft      0.000        0.050  GNSS3      FromTopToBottom
..   ...        ...          ...    ...                  ...
567   ft      2.110          NaN    NaN      FromTopToBottom
569   ft      0.000          NaN    NaN      FromTopToBottom
570   ft      0.000        0.090  GNSS2      FromTopToBottom
571   ft      1.880          NaN    NaN      FromTopToBottom
572   ft      0.000        0.090  GNSS2      FromTopToBottom

                                               Comment  \
0    No MP exists, but 0.00 ft. was populated for f...
1                                       From GW_MPNT 1
2                                       From GW_MPNT 1
3                                       From GW_MPNT 1
5    No MP exists, but 0.00 ft. was populated for f...
..                                                 ...
567                                     From GW_MPNT 2
569                                                NaN
570  No MP exists, but 0.00 ft. was populated for f...
571                                     From GW_MPNT 1
572  No MP exists, but 0.00 ft. was populated for f...

                           AppliedTime AppliedByUser DecommissionedDate  \
0    2021-03-02T13:12:52.2229750-06:00         aberg                NaN
1    2021-01-12T20:13:22.9820002-06:00         admin                NaN
2    2021-01-12T20:13:25.7468950-06:00         admin                NaN
3    2021-01-12T20:13:26.3601610-06:00         admin                NaN
5    2021-03-02T13:00:51.6761820-06:00         aberg                NaN
..                                 ...           ...                ...
567  2021-01-12T20:15:37.0842790-06:00         admin                NaN
569  2021-01-12T20:15:37.1758930-06:00         admin                NaN
570  2021-03-02T10:41:27.7681060-06:00         aberg                NaN
571  2021-01-12T20:15:38.3859010-06:00         admin                NaN
572  2021-03-02T10:52:43.8287210-06:00         aberg                NaN

    DecommissionedReason
0                    NaN
1                    NaN
2                    NaN
3                    NaN
5                    NaN
..                   ...
567                  NaN
569                  NaN
570                  NaN
571                  NaN
572                  NaN

[468 rows x 16 columns]

In [ ]:
dups_both = aq[aq.duplicated(subset='site', keep=False)]

In [ ]:
n = 25
dups_both.iloc[n:n+10]

,UniqueId,Name,Description,site,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
57,78cb527bdfb34510a3b3e1e45c5c5554,Generic Zero Height,Generic Zero Height Reference Point,473419095052701,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:13:43.1946160-06:00,admin,NaN,NaN
58,40c5447dd34a4178a0547703dd2aec9b,MP-1 height,Initial MP for this well. Discovered to be ina...,473419095052701,True,1990-06-24T00:00:00.0000000-06:00,ft,2.330,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:43.0588542-06:00,admin,1990-06-25T00:00:00.0000000-06:00,GW MP ended on 1990-06-24
61,b189ac0c44484f88aeb479290e19c82a,Generic Zero Height,Generic Zero Height Reference Point,473420095051601,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:13:44.6435950-06:00,admin,NaN,NaN
62,6242d9c744994208a836cbf3506d8afc,MP-2 height,Measured stickup on 03/09/10,473420095051601,True,2010-03-09T00:00:00.0000000-06:00,ft,3.020,NaN,NaN,FromTopToBottom,From GW_MPNT 2,2021-01-12T20:13:44.5718442-06:00,admin,NaN,NaN
63,fe75a9fe9a0f4fbe95eae0e7b314266c,MP-1 height,Initial stickup after unknown installation date.,473420095051601,True,1983-05-24T00:00:00.0000000-06:00,ft,3.080,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:44.5093000-06:00,admin,2010-03-09T00:00:00.0000000-06:00,GW MP ended on 2010-03-08
67,9f27134526ec4eafa19a0a69ed5ca827,Generic Zero Height,Generic Zero Height Reference Point,473420095052401,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:13:45.8577620-06:00,admin,NaN,NaN
66,8968582fcc824744b56d9a5a8058a8e6,MP-1 height,"MP assumed to be the top of casing, not protec...",473420095052401,True,1983-05-25T00:00:00.0000000-06:00,ft,1.930,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:45.8006598-06:00,admin,NaN,NaN
69,aa5efbb38fa943fbbeb661d0b5ce203c,MP-2 height,More accurate MP length. This should be used f...,473420095052403,True,1989-10-27T00:00:00.0000000-06:00,ft,1.310,NaN,NaN,FromTopToBottom,From GW_MPNT 2,2021-01-12T20:13:46.2121028-06:00,admin,NaN,NaN
70,dc0196e348d44b51bbb6b6880728f452,Generic Zero Height,Generic Zero Height Reference Point,473420095052403,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:13:46.2779150-06:00,admin,NaN,NaN
68,3c1844c9ace64827bcf4eb933844ab3a,MP-1 height,Initial MP for this well. Discovered to be ina...,473420095052403,True,1989-10-26T00:00:00.0000000-06:00,ft,1.600,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:46.1558040-06:00,admin,1989-10-27T00:00:00.0000000-06:00,GW MP ended on 1989-10-26

In [ ]:
display(aq.loc[aq['LocalSiteName'] == 'x17.lk.sc5', :])
aq.loc

,UniqueId,Name,Description,site,IsMeasuredAgainstLocalAssumedDatum,ValidFrom,Unit,Elevation,Uncertainty,Method,MeasurementDirection,Comment,AppliedTime,AppliedByUser,DecommissionedDate,DecommissionedReason
0,0868303bbc6c441982fff320c2d0a44f,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473356095043701,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,0.050,GNSS3,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T13:12:52.2229750-06:00,aberg,NaN,NaN
1,00ddcc72af874a04a11e2735b1524b39,MP-1 height,"MP assumed to be the top of casing, not protec...",473358095061401,True,1984-10-17T00:00:00.0000000-06:00,ft,3.000,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:22.9820002-06:00,admin,NaN,NaN
2,b570bd5035cb4d0db9f55cce351f4fc6,MP-1 height,"MP assumed to be the top of casing, not protec...",473404095054101,True,1984-06-19T00:00:00.0000000-06:00,ft,2.630,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:25.7468950-06:00,admin,NaN,NaN
3,b6a787ea9c1d4625b02dacca2b76a2c6,MP-1 height,"MP assumed to be the top of casing, not protec...",473405095060101,True,1984-05-08T00:00:00.0000000-06:00,ft,1.410,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:26.3601610-06:00,admin,NaN,NaN
4,4d6975e06cda4e32a5df7224776d21e2,MP-1 height,"MP assumed to be the top of casing, not protec...",473405095060201,True,1985-07-09T00:00:00.0000000-06:00,ft,2.710,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:13:26.6997530-06:00,admin,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,6c0293e1fd884a97a49cdc79c66961c2,MP-1 height,MP prior to well being bent due to logging,473437095052401,True,1985-07-08T00:00:00.0000000-06:00,ft,2.350,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:15:37.0271760-06:00,admin,2004-12-01T00:00:00.0000000-06:00,GW MP ended on 2004-11-30
569,ec11dddc0a49444db3b113b7c5270c1a,Generic Zero Height,Generic Zero Height Reference Point,473437095052401,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,NaN,NaN,FromTopToBottom,NaN,2021-01-12T20:15:37.1758930-06:00,admin,NaN,NaN
570,f534bdda01e1488d9a9f17eb94ff3db1,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473439095063001,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,0.090,GNSS2,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T10:41:27.7681060-06:00,aberg,NaN,NaN
571,4e4ffdaf38264739b398c38fc7effae9,MP-1 height,"MP assumed to be the top of casing, not protec...",473440095063001,True,1984-10-17T00:00:00.0000000-06:00,ft,1.880,NaN,NaN,FromTopToBottom,From GW_MPNT 1,2021-01-12T20:15:38.3859010-06:00,admin,NaN,NaN
572,01134a800425416097a51eb47c8c92bd,MP-1 height,"No MP exists, but 0.00 ft. was populated for f...",473503095044501,True,0001-01-01T00:00:00.0000000+00:00,ft,0.000,0.090,GNSS2,FromTopToBottom,"No MP exists, but 0.00 ft. was populated for f...",2021-03-02T10:52:43.8287210-06:00,aberg,NaN,NaN

## Another comparison

In [3]:
# read in
fpath = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_site_info_files\data_outputs\20230523_datarelease\DataRelease_MasterSiteList.csv"
dfpy = pd.read_csv(fpath)

fpath = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_site_info_files\data_outputs\20240703_datarelease\DataRelease_MasterSiteList.csv"
dfpynew = pd.read_csv(fpath)

fpath = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_site_info_files\data_outputs\old_fromR\DataRelease01_MasterSiteList.csv"
dfr = pd.read_csv(fpath)

In [4]:
# add column
dfpy['origin'] = 'python'
dfpynew['origin'] = 'python_updated'
dfr['origin'] = 'R'

# update r column to match python
dfr['LocalSiteName'] = 'x' + dfr['LocalSiteName'].astype(str)

In [9]:
dfcompare = pd.concat([dfpy, dfpynew, dfr], axis=0)
dfcompare = pd.concat([dfpynew, dfr], axis=0)

In [10]:
# move origin col to 0th position

# pop out the origin col
col_origin = dfcompare.pop('origin')
# insert it at the 0th pos
dfcompare.insert(0, 'origin', col_origin)

In [13]:
def pop_pop(df, col_name):
    col = df.pop(col_name)
    df.insert(0, col_name, col)

pop_pop(dfcompare, 'DistanceFromCenterOfNorthOilBody_m')

In [11]:
dfcompare.sort_values(by=['LocalSiteName', 'XcoordUTMNAD83_m'], inplace=True)

In [ ]:
dfcompare.loc[:,['origin', 'LocalSiteName','XcoordUTMNAD83_m', 'LandSurfaceElevation_mASL_NAVD88', ]]

In [8]:
dfcompare.head(2)

,origin,LocalSiteName,StudySite,AgencyCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,LandSurfaceElevation_mASL_NAVD88,OnNorthWellTransect,...,CoreSite,OtherEquipmentSite,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,DateOfConstruction,Comments_DateOfConstruction,SiteActiveStatus,Comments_Status,ApproxRemovalDate
294,python,x0001-0004,Bemidji,USGS,NaN,NaN,342793.57,5271049.07,432.918,1.0,...,1,0,NaN,NaN,NaN,20000731.0,NaN,Active,NaN,NaN
294,python_updated,x0001-0004,Bemidji,USGS,NaN,NaN,342793.57,5271049.07,432.918,1.0,...,1,0,NaN,NaN,NaN,20000731.0,NaN,Active,NaN,NaN

### SHIFT

In [53]:
display(dfcompare['origin'])
display(dfcompare['origin'].shift(-1))

294                 R
294            python
294    python_updated
295                 R
295            python
            ...
208            python
208    python_updated
209                 R
209            python
209    python_updated
Name: origin, Length: 5159, dtype: object

294            python
294    python_updated
294                 R
295            python
295    python_updated
            ...
208    python_updated
208                 R
209            python
209    python_updated
209               NaN
Name: origin, Length: 5159, dtype: object

In [59]:
dfcompare['pattern'] = dfcompare['origin'].shift(1) + dfcompare['origin'] + dfcompare['origin'].shift(-1)

In [60]:
dfcompare['pattern']

294                      NaN
294    Rpythonpython_updated
294    pythonpython_updatedR
295    python_updatedRpython
295    Rpythonpython_updated
               ...
208    Rpythonpython_updated
208    pythonpython_updatedR
209    python_updatedRpython
209    Rpythonpython_updated
209                      NaN
Name: pattern, Length: 5159, dtype: object

In [63]:
df = dfcompare[dfcompare['pattern'].str.contains('RR', na=False)]

In [64]:
df

,origin,LocalSiteName,StudySite,AgencyCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,LandSurfaceElevation_mASL_NAVD88,OnNorthWellTransect,...,OtherEquipmentSite,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,DateOfConstruction,Comments_DateOfConstruction,SiteActiveStatus,Comments_Status,ApproxRemovalDate,pattern
319,R,x101,Bemidji,USGS,NaN,NaN,342830.010,5271053.560,432.853,1.000,...,0,NaN,NaN,NaN,20010718.000,NaN,Active,NaN,NaN,python_updatedRR
552,R,x1010-16,Bemidji,USGS,NaN,NaN,342805.570,5271047.180,432.720,1.000,...,1,NaN,NaN,NaN,20100721.000,NaN,Active,NaN,NaN,RRpython
320,R,x102,Bemidji,USGS,NaN,NaN,342804.830,5271041.830,432.312,1.000,...,0,NaN,NaN,NaN,20010718.000,NaN,Active,NaN,NaN,python_updatedRR
554,R,x1026-38,Bemidji,USGS,NaN,NaN,342807.510,5271046.630,432.550,1.000,...,0,NaN,NaN,NaN,20100724.000,NaN,Active,NaN,NaN,RRpython
321,R,x103,Bemidji,USGS,NaN,NaN,342763.060,5271033.220,430.131,1.000,...,0,NaN,NaN,NaN,20010718.000,NaN,Active,NaN,NaN,python_updatedRR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1603,R,xTelephone bo 2,Bemidji,USGS,NaN,NaN,342806.450,5271065.300,433.998,NaN,...,1,NaN,NaN,NaN,NaN,Installation date unknown,Active,NaN,NaN,RRR
1604,R,xTelephone bo 3,Bemidji,USGS,NaN,NaN,342755.710,5271025.740,430.811,1.000,...,1,NaN,NaN,NaN,NaN,Installation date unknown,Active,NaN,NaN,RRR
1605,R,xTelephone bo 4,Bemidji,USGS,NaN,NaN,342854.410,5270935.910,428.121,NaN,...,1,NaN,NaN,NaN,NaN,Installation date unknown,Active,NaN,NaN,RRR
1606,R,xTelephone bo 5,Bemidji,USGS,NaN,NaN,342673.990,5270986.770,431.240,1.000,...,1,NaN,NaN,NaN,NaN,Installation date unknown,Active,NaN,NaN,RRR
1607,R,xTelephone bo 6,Bemidji,USGS,NaN,NaN,342817.000,5271053.420,NaN,1.000,...,1,NaN,NaN,NaN,NaN,Installation date unknown,Active,NaN,NaN,RRpython

In [65]:
df = dfcompare
display(df.loc[df['LocalSiteName'] == 'x121', :])

,origin,LocalSiteName,StudySite,AgencyCode,USGS_siteno,USGS_StationName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,LandSurfaceElevation_mASL_NAVD88,OnNorthWellTransect,...,OtherEquipmentSite,TopOfScreenElevation_mASL_NAVD88,BottomOfScreenElevation_mASL_NAVD88,MidOfScreenElevation_mASL_NAVD88,DateOfConstruction,Comments_DateOfConstruction,SiteActiveStatus,Comments_Status,ApproxRemovalDate,pattern
330,R,x121,Bemidji,USGS,NaN,NaN,342849.130,5271060.420,432.947,1.000,...,0,NaN,NaN,NaN,20010724.000,NaN,Active,NaN,NaN,python_updatedRR

0 = mastersitelist2  
1 = mastersitelist  
2 = dfcomplete  
 
---

## Check if col exists and if value in col exists

In [95]:
df = dfmlr
col_name = 'site_tp_cd'

if col_name in df.columns:
    print('columns exists...')
else:
    print('ERROR: column does not exist')

display(df.loc[df[col_name] == 'x121', :].shape)
display(df.loc[df[col_name] == '121', :].shape)
display(df.loc[df[col_name] == 121, :].shape)

columns exists...

(0, 42)

(0, 42)

(0, 42)