# Install Required Packages if needed

In [1]:
#!pip install dataretrieval

# Import Libraries

In [386]:
import pandas as pd #for creating dataframe
import pyodbc #working with ODBC databases
import numpy as np # for locating values in dataframes
from datetime import datetime, timedelta # for obtaining today's date and converting time
import os #for working with directories
import dataretrieval.nwis as nwis # retrieving water level data

# Manage directories

In [2]:
# my default directory is c:\Users\bmilinic\OneDrive - DOI\Documents\Python\bemidji
defaultdirectory = os.getcwd()
print(defaultdirectory)
# connect to the shared drive which holds the databases and files (must be connected to VPN)
os.chdir('P:/0083/analysis/DataCompilation/DataCompilationPy/create_master_oil_levels')
print(os.getcwd())

c:\Users\bmilinic\OneDrive - DOI\Documents\Python\bemidji
P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels

# Import data

In [4]:
# retrieve water levels from NWIS

# OLD WAY is to web scrape using notebook 01_inputfiles_prep.ipynb but it was only getting the newest value
# dfwl = pd.read_csv(r'../create_master_oil_levels/data_inputs/NWISwaterLevel_fromPy.csv')

# NEW WAY, use the nwis library and list of sites from access
# Getting site list straight from the database using PYODBC:
# FRONT END  
Gfe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_fe.accdb;')
c_fe = Gfe_db.cursor()
# BACK END
Gbe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_be.accdb;')
c_be = Gbe_db.cursor()

# DATA
# df_sites and site list
c_fe.execute('select USGS_siteno from tblSites')
df = pd.read_sql('select USGS_siteno from tblSites', Gfe_db)
# Drop none values, create a list out of the column, and create a string out of the column
df_sites = df.dropna()
list_sites = df_sites['USGS_siteno'].tolist()
# tables
tblOilLevels = pd.read_sql('select * from tblOilLevels', Gfe_db)
tblSites = pd.read_sql('select * from tblSites', Gfe_db)
tblWells = pd.read_sql('select * from tblWells', Gfe_db)
# cd tables
tblcd_WaterLevelStatusCode = pd.read_sql("select * from tblcd_WaterLevelStatusCode", Gfe_db)  
tblcd_FluidLevelMethodCode = pd.read_sql("select * from tblcd_FluidLevelMethodCode", Gbe_db) 
# oil tape corrections
tbl_OilTapeCorrections = pd.read_sql('select * from tbl_OilTapeCorrections', Gbe_db)

# From nwis
data = nwis.get_gwlevels(sites=list_sites, datetime_index=False) # creates a tuple of dataframe and associated metadata
dfwl = data[0].copy()

#From old gwsi bmj
bmj3 = pd.read_csv(r'../create_site_info_files/data_inputs/gwsi_old/bmj3_fromPy.csv')
bmjmp = pd.read_csv(r'../create_site_info_files/data_inputs/gwsi_old/bmj_mpnt_fromPy.csv')
bmjrmk = pd.read_csv(r'../create_site_info_files/data_inputs/gwsi_old/bmj_rmk_fromPy.csv')

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql 'select * from tblWells': ('HY000', '[HY000] [Microsoft][ODBC Microsoft Access Driver] Your network access was interrupted. To continue, close the database, and then open it again. (-1022) (SQLExecDirectW)')

# Import data seperately

In [3]:
# FRONT END  
Gfe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_fe.accdb;')
c_fe = Gfe_db.cursor()
# BACK END
Gbe_db = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\0083\analysis\DataCompilation\DataCompilationPy\local_access_db\BemidjiMasterSiteData_be.accdb;')
c_be = Gbe_db.cursor()

In [4]:
# df_sites and site list
c_fe.execute('select USGS_siteno from tblSites')
df = pd.read_sql('select USGS_siteno from tblSites', Gfe_db)

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
# Drop none values, create a list out of the column, and create a string out of the column
df_sites = df.dropna()
list_sites = df_sites['USGS_siteno'].tolist()

In [6]:
tblOilLevels = pd.read_sql('select * from tblOilLevels', Gfe_db)

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
tblSites = pd.read_sql('select * from tblSites', Gfe_db)

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [8]:
tblWells = pd.read_sql('select * from tblWells', Gfe_db)

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
tblcd_WaterLevelStatusCode = pd.read_sql("select * from tblcd_WaterLevelStatusCode", Gfe_db)  
tblcd_FluidLevelMethodCode = pd.read_sql("select * from tblcd_FluidLevelMethodCode", Gbe_db)

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
# oil tape corrections
tbl_OilTapeCorrections = pd.read_sql('select * from tbl_OilTapeCorrections', Gbe_db)

c:\Users\bmilinic\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
# From nwis
data = nwis.get_gwlevels(sites=list_sites, datetime_index=False) # creates a tuple of dataframe and associated metadata
dfwl = data[0].copy()

In [12]:
#From old gwsi bmj
bmj3 = pd.read_csv(r'../create_site_info_files/data_inputs/gwsi_old/bmj3_fromPy.csv')
bmjmp = pd.read_csv(r'../create_site_info_files/data_inputs/gwsi_old/bmj_mpnt_fromPy.csv')
bmjrmk = pd.read_csv(r'../create_site_info_files/data_inputs/gwsi_old/bmj_rmk_fromPy.csv')

# Inspect Some data

In [13]:
# close the cursors and connections to the databases 
c_fe.close()
Gfe_db.close()
c_be.close()
Gbe_db.close()

In [281]:
dfwl.keys(), tblOilLevels.keys()

(Index(['agency_cd', 'site_no', 'site_tp_cd', 'lev_dt', 'lev_tm', 'lev_tz_cd',
        'lev_va', 'sl_lev_va', 'sl_datum_cd', 'lev_status_cd', 'lev_agency_cd',
        'lev_dt_acy_cd', 'lev_acy_cd', 'lev_src_cd', 'lev_meth_cd',
        'lev_age_cd'],
       dtype='object'),
 Index(['OilLevelID', 'LocalSiteName', 'PersonMakingMeasurement',
        'OilLevelDate', 'OilLevelTime', 'TimeDatum', 'OilLevel_ftBMP',
        'OilLevelMethod', 'Oil_Tape_Serial_No', 'Comments_OilLevel',
        'OilLevelDataSource', 'ExcludeFromPublishing', 'ExclusionReason',
        'ZeroThicknessCalcExclude', 'ARCHIVE_WaterLevel_metersBMP',
        'ARCHIVE_WaterLevelStatus', 'ARCHIVE_OilLevel_mBMP',
        'ARCHIVE_WaterLevel_ftBMP', 'ARCHIVE_OilLevel_ftBMP',
        'DELETE_Test Column Water level - Oil level', 'ARCHIVE_OilThickness_ft',
        'ARCHIVE_OilThickness_m', 'ARCHIVE_Hold_ft', 'ARCHIVE_Cut_ft',
        'ARCHIVE_NWIS_WaterLevelMethod', 'ARCHIVE_MP_Elev_meters',
        'ARCHIVE_WaterLevelElevation_meters', 'ARCHIVE_OilLevelElevation_ft',
        'ARCHIVE_WaterLevelDepth_metersBLS', 'ARCHIVE_OilLevelDepth_metersBLS',
        'ARCHIVE_BrentComment', 'ARCHIVE_Comments_OilLevel'],
       dtype='object'))

In [282]:
dfwl

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,lev_agency_cd,lev_dt_acy_cd,lev_acy_cd,lev_src_cd,lev_meth_cd,lev_age_cd
0,USGS,473356095043701,ST,2019-06-28,09:56,UTC,0.00,NaN,NaN,NaN,USGS,m,1,S,D,A
1,USGS,473356095043701,ST,2020-08-06,13:00,UTC,-1.60,NaN,NaN,NaN,USGS,m,1,S,D,A
2,USGS,473356095043701,ST,2021-08-19,11:00,UTC,-0.16,NaN,NaN,NaN,USGS,m,0,S,D,A
3,USGS,473356095043701,ST,2022-08-25,09:08,UTC,-1.06,NaN,NaN,NaN,USGS,m,1,S,D,A
4,USGS,473356095043701,ST,2023-06-22,10:30,UTC,-1.18,NaN,NaN,NaN,USGS,m,0,S,D,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25116,USGS,473440095063001,GW,1992-06-16,12:01,UTC,1.60,NaN,NaN,1,USGS,D,2,S,V,A
25117,USGS,473503095044501,WE,2020-08-06,13:00,UTC,0.00,NaN,NaN,NaN,USGS,m,1,S,D,A
25118,USGS,473503095044501,WE,2021-08-20,09:58,UTC,1.83,NaN,NaN,NaN,USGS,m,1,S,D,A
25119,USGS,473503095044501,WE,2022-08-25,10:42,UTC,-0.03,NaN,NaN,NaN,USGS,m,1,S,D,P
25120,USGS,473503095044501,WE,2023-06-22,09:15,UTC,0.21,NaN,NaN,NaN,USGS,m,0,S,D,P

In [283]:
oil

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel,USGS_siteno,AgencyCode,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNWT,NWTPosition_m
0,20059,315,A. Berg & J. Lund,2017-06-14,17:01,CDT,22.94,Z,2939,"Very dark, very thick oil.",...,NaN,NaN,None,"Very dark, very thick oil.",473426095052530,USGS,342784.16,5271033.98,1.0,-4.02
1,20060,317,A. Berg & J. Lund,2017-06-14,16:25,CDT,31.08,Z,2939,"Very dark, medium viscosity oil.",...,NaN,NaN,None,"Very dark, medium viscosity oil.",473425095052009,USGS,342812.39,5271048.21,1.0,27.55
2,20061,319,A. Berg & J. Lund,2017-06-14,16:58,CDT,23.80,Z,2939,"Very dark, very thick oil.",...,NaN,NaN,None,"Very dark, very thick oil.",473425095052504,USGS,342790.30,5271037.68,1.0,-3.09
3,20062,411,A. Berg & J. Lund,2017-06-14,16:47,CDT,23.57,Z,2939,"Extremely dark, very thick oil.",...,NaN,NaN,None,"Extremely dark, very thick oil.",473425095052605,USGS,342778.77,5271042.29,1.0,-5.58
4,20063,420A,A. Berg & J. Lund,2017-06-14,16:22,CDT,NaN,Z,2939,"No oil in well, no oil on end of probe.",...,NaN,NaN,None,"No oil in well, no oil on end of probe.",473426095052419,USGS,342817.26,5271043.53,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,20221,319,L. Gryczkowski,2005-07-18,12:01,None,22.83,None,None,None,...,NaN,NaN,None,None,473425095052504,USGS,342790.30,5271037.68,1.0,-3.09
19993,20222,411,L. Gryczkowski,2005-07-18,12:01,None,22.30,None,None,None,...,NaN,NaN,None,None,473425095052605,USGS,342778.77,5271042.29,1.0,-5.58
19994,20223,421B,L. Gryczkowski,2005-07-18,12:01,None,21.93,None,None,None,...,NaN,NaN,None,None,473425095052611,USGS,342784.94,5271040.07,1.0,-0.84
19995,20224,301A,L. Gryczkowski,2005-07-18,12:01,None,22.50,None,None,None,...,NaN,NaN,None,None,473426095052526,USGS,342781.07,5271045.79,1.0,-2.06
19996,20225,315,L. Gryczkowski,2005-07-18,12:01,None,21.87,None,None,None,...,NaN,NaN,None,None,473426095052530,USGS,342784.16,5271033.98,1.0,-4.02

In [284]:
# INSPECT tblOilLevels
# check why hours might be off by 1 hour
wat = dfwl.rename(columns = {
    'site_no':"USGS_siteno",
    'lev_dt':"OilLevelDate",
    'lev_tm':'OilLevelTime'
})
oil = pd.merge(tblOilLevels, tblSites.loc[:,['LocalSiteName', 'USGS_siteno',"AgencyCode","XcoordUTMNAD83_m","YcoordUTMNAD83_m","OnNWT","NWTPosition_m"]], how = 'left')

In [285]:
both = pd.concat([wat, oil])

In [286]:
chk = both.sort_values(by=['USGS_siteno', 'OilLevelTime'])

In [287]:
print('\n\nNow ignore any row where OilLevelTime is 1201 which is a default')
chk = tblOilLevels[tblOilLevels['OilLevelTime'] != '12:01']
display(chk.tail(2))
print(chk['TimeDatum'].value_counts(dropna=False))

Now ignore any row where OilLevelTime is 1201 which is a default

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
19988,20217,1428,A. Berg,2019-10-31,12:00,CDT,7.82,V,5352,Extremely dark and thick oil on probe.,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19989,20218,1429,A. Berg,2019-10-31,12:00,CDT,NaN,V,5352,Skim of irony oil on probe. Not enough to detect.,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,Skim of irony oil on probe. Not enough to detect.

CDT     736
None    126
CST     124
Name: TimeDatum, dtype: int64

In [288]:
# INSPECT tblOilLevels v2
# check why hours might be off by 1 hour

print('Check out the counts in the original data')
display(tblOilLevels)
print(tblOilLevels['TimeDatum'].value_counts(dropna=False))
chk = tblOilLevels.copy()

print('\n\nNow what are all the TimeDatum Nones left')
chk = chk[chk['TimeDatum'].isna()]
display(chk)

print('\n\nNow filter out any rows where OilLevel_ftBMP is nan')
chk = chk[chk['OilLevel_ftBMP'].notna()]
display(chk)

print('\n\nNow ignore any row where OilLevelTime is 1201 which is a default')
chk = chk[chk['OilLevelTime'] != '12:01']
display(chk)
print(chk['TimeDatum'].value_counts(dropna=False))

print('Comments')
display(chk.loc[847,'Comments_OilLevel'])

Check out the counts in the original data

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
0,20059,315,A. Berg & J. Lund,2017-06-14,17:01,CDT,22.94,Z,2939,"Very dark, very thick oil.",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"Very dark, very thick oil."
1,20060,317,A. Berg & J. Lund,2017-06-14,16:25,CDT,31.08,Z,2939,"Very dark, medium viscosity oil.",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"Very dark, medium viscosity oil."
2,20061,319,A. Berg & J. Lund,2017-06-14,16:58,CDT,23.80,Z,2939,"Very dark, very thick oil.",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"Very dark, very thick oil."
3,20062,411,A. Berg & J. Lund,2017-06-14,16:47,CDT,23.57,Z,2939,"Extremely dark, very thick oil.",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"Extremely dark, very thick oil."
4,20063,420A,A. Berg & J. Lund,2017-06-14,16:22,CDT,NaN,Z,2939,"No oil in well, no oil on end of probe.",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"No oil in well, no oil on end of probe."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,20221,319,L. Gryczkowski,2005-07-18,12:01,None,22.83,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19993,20222,411,L. Gryczkowski,2005-07-18,12:01,None,22.30,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19994,20223,421B,L. Gryczkowski,2005-07-18,12:01,None,21.93,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19995,20224,301A,L. Gryczkowski,2005-07-18,12:01,None,22.50,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19996,20225,315,L. Gryczkowski,2005-07-18,12:01,None,21.87,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None

None    19130
CDT       741
CST       126
Name: TimeDatum, dtype: int64


Now what are all the TimeDatum Nones left

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
88,19,301A,None,1984-06-21,12:01,None,22.48,Z,None,,...,NaN,NaN,Z,430.713,423.175,423.861,7.173,6.487,None,None
89,20,301A,None,1984-06-28,12:01,None,22.42,Z,None,,...,NaN,NaN,Z,430.713,423.206,423.879,7.142,6.469,None,None
90,21,301A,None,1984-07-06,12:01,None,22.42,Z,None,,...,NaN,NaN,Z,430.713,423.209,423.879,7.139,6.469,None,None
91,22,301A,None,1984-07-18,12:01,None,22.48,Z,None,,...,NaN,NaN,Z,430.713,423.151,423.861,7.197,6.487,None,None
92,23,301A,None,1984-08-03,12:01,None,22.64,Z,None,,...,NaN,NaN,Z,430.713,423.029,423.812,7.319,6.536,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,20221,319,L. Gryczkowski,2005-07-18,12:01,None,22.83,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19993,20222,411,L. Gryczkowski,2005-07-18,12:01,None,22.30,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19994,20223,421B,L. Gryczkowski,2005-07-18,12:01,None,21.93,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19995,20224,301A,L. Gryczkowski,2005-07-18,12:01,None,22.50,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19996,20225,315,L. Gryczkowski,2005-07-18,12:01,None,21.87,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None

Now filter out any rows where OilLevel_ftBMP is nan

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
88,19,301A,None,1984-06-21,12:01,None,22.48,Z,None,,...,NaN,NaN,Z,430.713,423.175,423.861,7.173,6.487,None,None
89,20,301A,None,1984-06-28,12:01,None,22.42,Z,None,,...,NaN,NaN,Z,430.713,423.206,423.879,7.142,6.469,None,None
90,21,301A,None,1984-07-06,12:01,None,22.42,Z,None,,...,NaN,NaN,Z,430.713,423.209,423.879,7.139,6.469,None,None
91,22,301A,None,1984-07-18,12:01,None,22.48,Z,None,,...,NaN,NaN,Z,430.713,423.151,423.861,7.197,6.487,None,None
92,23,301A,None,1984-08-03,12:01,None,22.64,Z,None,,...,NaN,NaN,Z,430.713,423.029,423.812,7.319,6.536,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,20221,319,L. Gryczkowski,2005-07-18,12:01,None,22.83,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19993,20222,411,L. Gryczkowski,2005-07-18,12:01,None,22.30,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19994,20223,421B,L. Gryczkowski,2005-07-18,12:01,None,21.93,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19995,20224,301A,L. Gryczkowski,2005-07-18,12:01,None,22.50,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None
19996,20225,315,L. Gryczkowski,2005-07-18,12:01,None,21.87,None,None,None,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None

Now ignore any row where OilLevelTime is 1201 which is a default

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
521,298,301A,A. Berg,2011-09-22,13:30,None,22.36,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.713,423.522,423.899,6.826,6.449,None,changed time from 1201 to match GWSI water lev...
522,299,301A,A. Berg,2011-10-26,15:30,None,22.49,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.713,423.263,423.858,7.085,6.490,None,changed time from 1201 to match GWSI water lev...
523,300,301A,A. Berg,2011-11-21,13:30,None,22.66,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.713,NaN,423.806,NaN,6.542,None,changed time from 1201 to match GWSI water lev...
838,618,301A,A. Berg,2010-03-09,17:24,None,23.29,Z,None,Obstruction at 7.533 meters below measuring p...,...,NaN,NaN,Z,430.713,NaN,423.613,NaN,6.735,None,Obstruction at 7.533 - bailer at bottom of wel...
840,620,301A,A. Berg,2010-06-02,15:50,None,23.06,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.713,423.469,423.684,6.879,6.664,None,changed time from 1201 to match GWSI water lev...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11316,11093,604A,A. Berg,2011-02-03,14:00,None,20.22,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.290,424.126,424.128,6.164,5.952,None,changed time from 1201 to match GWSI water lev...
11318,11095,604A,A. Berg,2011-03-31,08:00,None,19.96,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.290,424.099,424.207,6.191,5.873,None,changed time from 1201 to match GWSI water lev...
11325,11102,604A,A. Berg,2011-10-26,15:30,None,20.23,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.290,424.121,424.123,6.169,5.957,None,changed time from 1201 to match GWSI water lev...
11326,11103,604A,A. Berg,2011-11-21,13:30,None,20.59,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.290,424.011,424.015,6.279,6.065,None,changed time from 1201 to match GWSI water lev...
11327,11104,604A,A. Berg,2011-12-20,15:00,None,20.67,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.290,423.813,423.989,6.477,6.091,None,changed time from 1201 to match GWSI water lev...

None    80
Name: TimeDatum, dtype: int64
Comments

'changed time from 1201 to match GWSI water level retrieval'

In [289]:
# inspect
chk = tblOilLevels.copy()

chk = chk[chk['TimeDatum']=='CST']
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
185,19949,301A,A. Berg,2016-01-19,15:00,CST,23.84,Z,2939,Obstruction in well is a bailer at 7.527 meter...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Obstruction in well is a bailer at 7.527 meter...
186,19950,306,A. Berg,2016-01-19,15:00,CST,23.34,Z,2939,None,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,None
187,19951,312,A. Berg,2016-01-19,15:00,CST,9.38,Z,2939,None,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,None
188,19952,315,A. Berg,2016-01-19,15:00,CST,23.44,Z,2939,This water level may be residual water in the ...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,This water level may be residual water in the ...
189,19953,319,A. Berg,2016-01-19,15:00,CST,24.33,Z,2939,None,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19860,19862,534A,A. Berg,2015-01-21,09:15,CST,30.12,Z,2939,,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,None
19861,19863,604A,A. Berg,2015-01-21,09:15,CST,21.40,Z,2939,,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,None
19862,19864,532A,A. Berg,2015-01-21,09:15,CST,31.05,Z,2939,Took reading as quickly as possible. Water lev...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Took reading as quickly as possible. Water lev...
19866,19869,1428,A. Berg,2015-01-21,09:30,CST,NaN,Z,2939,No oil,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,No oil;
19867,19870,1429,A. Berg,2015-01-21,09:32,CST,NaN,Z,2939,No oil,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,No oil;

In [290]:
# test
chk = tblOilLevels.loc[tblOilLevels['LocalSiteName'] =='0501']
chk

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
50,20110,0501,Nacaya Brown (UNO student) & Barbara Bekins,2018-06-25,14:30,CDT,22.72,Z,2939,Likely trapped oil in this old aquifer test pu...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Likely trapped oil in this old aquifer test pu...
152,20172,0501,"A. Berg, Josiah Trost",2019-06-18,14:44,CDT,21.50,Z,2939,Likely trapped oil in this old aquifer test pu...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Likely trapped oil in this old aquifer test pu...
271,20049,0501,A. Berg & J. Lund,2017-06-14,17:04,CDT,22.71,Z,2939,Screen not connected to true oil layer. Extrem...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Screen not connected to true oil layer. Extrem...
19370,19314,0501,None,2005-06-27,12:01,None,NaN,Z,None,,...,25.0,2.86,None,NaN,NaN,NaN,NaN,NaN,None,None
19571,19572,0501,Z. Hillman & E. Berquist,2012-06-20,14:46,CDT,22.55,Z,2939,"The oil in this well is trapped, and not scree...",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"The oil in this well is trapped, and not scree..."
19742,19744,0501,A. Berg & J. Julik,2013-07-15,11:38,CDT,22.41,Z,2939,"Black oil, watery",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"Black oil, watery;"
19809,19811,0501,A. Berg & B. Mason,2014-07-15,11:14,CDT,21.78,Z,2939,"Oil is likely trapped in well, and not connect...",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"Oil is likely trapped in well, and not connect..."
19899,19988,0501,A. Berg & A. Witt,2016-07-25,16:09,CDT,22.83,Z,2939,Screen not connected to true oil layer. Very d...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Screen not connected to true oil layer. Very d...
19967,19930,0501,"A. Berg, E. Coenen",2015-08-05,10:04,CDT,23.06,Z,2939,Oil is likely cut off from screen. Extremly da...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Oil is likely cut off from screen. Extremly da...

In [291]:
# Inspect dfwl
display(dfwl.loc[dfwl['lev_status_cd'] == 'P'].head(2))
display(dfwl.lev_status_cd.value_counts())
dfwl.to_csv("outputs/tests/{}_test_NWIS_output.csv".format(str(datetime.now().date())), index=False)
print('Copy of NWIS output saved to', os.getcwd())

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,lev_agency_cd,lev_dt_acy_cd,lev_acy_cd,lev_src_cd,lev_meth_cd,lev_age_cd
7141,USGS,473424095052889,GW,2012-05-10,10:47,UTC,21.82,NaN,NaN,P,USGS,m,2,S,V,A
7984,USGS,473425095052010,GW,2014-07-25,15:13,UTC,26.41,NaN,NaN,P,USGS,m,2,S,V,A

1    24408
8      336
D      321
P       12
6        4
F        1
Name: lev_status_cd, dtype: int64

Copy of NWIS output saved to P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels

In [292]:
dfwl.loc[dfwl['site_no']=='473425095052603']

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,lev_agency_cd,lev_dt_acy_cd,lev_acy_cd,lev_src_cd,lev_meth_cd,lev_age_cd
10283,USGS,473425095052603,GW,2012-06-20,14:46,UTC,24.00,NaN,NaN,1,USGS,m,2,S,V,A
10284,USGS,473425095052603,GW,2013-07-15,11:38,UTC,23.84,NaN,NaN,1,USGS,m,2,S,V,A
10285,USGS,473425095052603,GW,2014-07-15,11:14,UTC,23.14,NaN,NaN,1,USGS,m,2,S,O,A
10286,USGS,473425095052603,GW,2015-08-05,10:04,UTC,24.43,NaN,NaN,1,USGS,m,2,S,V,A
10287,USGS,473425095052603,GW,2017-06-14,17:04,UTC,24.04,NaN,NaN,1,NaN,m,2,NaN,O,A
10288,USGS,473425095052603,GW,2018-06-25,14:30,UTC,24.04,NaN,NaN,8,NaN,m,2,NaN,O,A
10289,USGS,473425095052603,GW,2019-06-18,14:44,UTC,22.82,NaN,NaN,8,USGS,m,2,S,O,A

In [293]:
dfwl.dtypes

agency_cd         object
site_no           object
site_tp_cd        object
lev_dt            object
lev_tm            object
lev_tz_cd         object
lev_va           float64
sl_lev_va        float64
sl_datum_cd      float64
lev_status_cd     object
lev_agency_cd     object
lev_dt_acy_cd     object
lev_acy_cd        object
lev_src_cd        object
lev_meth_cd       object
lev_age_cd        object
dtype: object

In [294]:
# test delete
print(tblcd_WaterLevelStatusCode.value_counts())
print(dfwl.lev_status_cd.value_counts()) # has letters and numbers
print(tblcd_WaterLevelStatusCode.value_counts())
print(tblcd_WaterLevelStatusCode.lev_status_cd.value_counts()) # should take letters

lev_status_cd_ID  lev_status_cd  Comments_WaterLevelStatus
1                 A              Water level was affected by atmospheric pressure.                                                1
13                M              Well was plugged and not in hydraulic contact with formation.                                    1
22                X              The water level was affected by stage in nearby surface-water site.                              1
21                W              The well was destroyed (no water level was recorded).                                            1
20                V              A foreign substance was present on the surface of the water.                                     1
19                T              A nearby site that taps the same aquifer had been pumped recently.                               1
18                S              A nearby site that taps the same aquifer was being pumped.                                       1
17                R              The site had been pumped recently.                                                               1
16                P              The site was being pumped.                                                                       1
15                O              An obstruction was encountered in the well (no water level was recorded).                        1
14                N              The measurement was discontinued.                                                                1
12                L              Brackish Saline Water level was affected by brackish or saline water.                            1
2                 B              Water level was affected by tide stage.                                                          1
11                K              Water was cascading down the inside of the well.                                                 1
10                J              A nearby site that taps the same aquifer was injecting recharge water.                           1
9                 I              Recharge water was being injected into the aquifer at the site.                                  1
8                 H              A nearby site that taps the same aquifer had been flowing recently.                              1
7                 G              A nearby site that taps the same aquifer was flowing.                                            1
6                 F              The site was flowing. Water level or head could not be measured without additional equipment.    1
5                 E              The site was flowing recently.                                                                   1
4                 D              The site was dry (no water level is recorded).                                                   1
3                 C              Water level was affected by ice.                                                                 1
23                Z              Other conditions existed that would affect the measured water level.                             1
dtype: int64
1    24408
8      336
D      321
P       12
6        4
F        1
Name: lev_status_cd, dtype: int64
lev_status_cd_ID  lev_status_cd  Comments_WaterLevelStatus
1                 A              Water level was affected by atmospheric pressure.                                                1
13                M              Well was plugged and not in hydraulic contact with formation.                                    1
22                X              The water level was affected by stage in nearby surface-water site.                              1
21                W              The well was destroyed (no water level was recorded).                                            1
20                V              A foreign substance was present on the surface of the water.                                     1
19                T              A nearby site that taps the same aquifer had been pumped recently.                               1
18                S              A nearby site that taps the same aquifer was being pumped.                                       1
17                R              The site had been pumped recently.                                                               1
16                P              The site was being pumped.                                                                       1
15                O              An obstruction was encountered in the well (no water level was recorded).                        1
14                N              The measurement was discontinued.                                                                1
12                L              Brackish Saline Water level was affected by brackish or saline water.                            1
2                 B              Water level was affected by tide stage.                                                          1
11                K              Water was cascading down the inside of the well.                                                 1
10                J              A nearby site that taps the same aquifer was injecting recharge water.                           1
9                 I              Recharge water was being injected into the aquifer at the site.                                  1
8                 H              A nearby site that taps the same aquifer had been flowing recently.                              1
7                 G              A nearby site that taps the same aquifer was flowing.                                            1
6                 F              The site was flowing. Water level or head could not be measured without additional equipment.    1
5                 E              The site was flowing recently.                                                                   1
4                 D              The site was dry (no water level is recorded).                                                   1
3                 C              Water level was affected by ice.                                                                 1
23                Z              Other conditions existed that would affect the measured water level.                             1
dtype: int64
A    1
M    1
X    1
W    1
V    1
T    1
S    1
R    1
P    1
O    1
N    1
L    1
B    1
K    1
J    1
I    1
H    1
G    1
F    1
E    1
D    1
C    1
Z    1
Name: lev_status_cd, dtype: int64

In [295]:
# r line 34 : edit tblOilLevels. First inspect data
display(tblOilLevels.keys())
display(tblOilLevels.ExcludeFromPublishing.sample(5))
display(tblOilLevels.shape)

Index(['OilLevelID', 'LocalSiteName', 'PersonMakingMeasurement',
       'OilLevelDate', 'OilLevelTime', 'TimeDatum', 'OilLevel_ftBMP',
       'OilLevelMethod', 'Oil_Tape_Serial_No', 'Comments_OilLevel',
       'OilLevelDataSource', 'ExcludeFromPublishing', 'ExclusionReason',
       'ZeroThicknessCalcExclude', 'ARCHIVE_WaterLevel_metersBMP',
       'ARCHIVE_WaterLevelStatus', 'ARCHIVE_OilLevel_mBMP',
       'ARCHIVE_WaterLevel_ftBMP', 'ARCHIVE_OilLevel_ftBMP',
       'DELETE_Test Column Water level - Oil level', 'ARCHIVE_OilThickness_ft',
       'ARCHIVE_OilThickness_m', 'ARCHIVE_Hold_ft', 'ARCHIVE_Cut_ft',
       'ARCHIVE_NWIS_WaterLevelMethod', 'ARCHIVE_MP_Elev_meters',
       'ARCHIVE_WaterLevelElevation_meters', 'ARCHIVE_OilLevelElevation_ft',
       'ARCHIVE_WaterLevelDepth_metersBLS', 'ARCHIVE_OilLevelDepth_metersBLS',
       'ARCHIVE_BrentComment', 'ARCHIVE_Comments_OilLevel'],
      dtype='object')

3069    NaN
16152   NaN
6557    NaN
9538    NaN
18636   NaN
Name: ExcludeFromPublishing, dtype: float64

(19997, 32)

# Modify bmj.mpnt to get date ranges for MP heights

In [445]:
# r line 148
bmjmp2 = bmjmp.copy()
# r line 152 - convert columns to datetimes
bmjmp2['GWSI_MP_BeginDate'] = pd.to_datetime(bmjmp2['GWSI_MP_BeginDate'], format = '%Y%m%d')
bmjmp2['GWSI_MP_EndDate'] = pd.to_datetime(bmjmp2['GWSI_MP_EndDate'], format = '%Y%m%d')
# r line 160 - replace NaT EndDate values with today's date
today = pd.Timestamp.today().strftime('%Y-%m-%d')
bmjmp2['GWSI_MP_EndDate'] = bmjmp2['GWSI_MP_EndDate'].fillna(today)
# convert data type to make it mergable with tblOilLevels and 
# make bmjmp column mergeable 
bmjmp2['GWSI_USGS_siteno'] = bmjmp2['GWSI_USGS_siteno'].astype(str)

In [446]:
# used to compare original df with new df
display(bmjmp.iloc[0:4, 0:4])
display(bmjmp2.iloc[0:4, 0:4])
bmjmp2.iloc[:, 0:4].dtypes

  GWSI_AgencyCode  GWSI_USGS_siteno  GWSI_MP_BeginDate  GWSI_MP_EndDate
0            USGS   473429095051006         20160726.0              NaN
1            USGS   473424095052912         20160802.0              NaN
2            USGS   473424095052906         20160809.0              NaN
3            USGS   473423095052902         20180625.0              NaN

  GWSI_AgencyCode GWSI_USGS_siteno GWSI_MP_BeginDate GWSI_MP_EndDate
0            USGS  473429095051006        2016-07-26      2024-07-22
1            USGS  473424095052912        2016-08-02      2024-07-22
2            USGS  473424095052906        2016-08-09      2024-07-22
3            USGS  473423095052902        2018-06-25      2024-07-22

GWSI_AgencyCode              object
GWSI_USGS_siteno             object
GWSI_MP_BeginDate    datetime64[ns]
GWSI_MP_EndDate      datetime64[ns]
dtype: object

# Water level data from NWIS

In [447]:
# repetative but safe
dfwl = data[0].copy()
# inspect nan and other data before change
display(dfwl['lev_tm'].iloc[[0, 1, 7483, 7125]])

# r line 202
# replace blank times with 1701 which will be converted to 1201 pm or 1201 (matches field parameter approach)
dfwl['lev_tm'] = dfwl['lev_tm'].fillna('18:01')

# new: correct level time to match oil data (and data release) 
dfwl['lev_tm'] = pd.to_datetime(dfwl['lev_tm'], format='%H:%M') # convert str to dt
dfwl['lev_tm'] = dfwl['lev_tm'] - timedelta(hours=6) # sub 6 hours to go from UTC to CST
dfwl['lev_tm'] = dfwl['lev_tm'].dt.strftime('%H:%M') # convert back to string

0       14:56
1       18:00
7483      NaN
7125    20:05
Name: lev_tm, dtype: object

In [448]:
# inspect data after change
display(dfwl['lev_tm'].iloc[[0, 1, 7483, 7125]])

0       08:56
1       12:00
7483    12:01
7125    14:05
Name: lev_tm, dtype: object

In [449]:
print(dfwl.lev_status_cd.dtypes)
print(dfwl.lev_status_cd.value_counts())
print(tblcd_WaterLevelStatusCode.lev_status_cd_ID.dtypes)
display(tblcd_WaterLevelStatusCode[['lev_status_cd_ID','Comments_WaterLevelStatus']])

object
1    24408
8      336
D      321
P       12
6        4
F        1
Name: lev_status_cd, dtype: int64
int64

    lev_status_cd_ID                          Comments_WaterLevelStatus
0                  1  Water level was affected by atmospheric pressure.
1                  2            Water level was affected by tide stage.
2                  3                   Water level was affected by ice.
3                  4     The site was dry (no water level is recorded).
4                  5                     The site was flowing recently.
5                  6  The site was flowing. Water level or head coul...
6                  7  A nearby site that taps the same aquifer was f...
7                  8  A nearby site that taps the same aquifer had b...
8                  9  Recharge water was being injected into the aqu...
9                 10  A nearby site that taps the same aquifer was i...
10                11   Water was cascading down the inside of the well.
11                12  Brackish Saline Water level was affected by br...
12                13  Well was plugged and not in hydraulic contact ...
13                14                  The measurement was discontinued.
14                15  An obstruction was encountered in the well (no...
15                16                         The site was being pumped.
16                17                 The site had been pumped recently.
17                18  A nearby site that taps the same aquifer was b...
18                19  A nearby site that taps the same aquifer had b...
19                20  A foreign substance was present on the surface...
20                21  The well was destroyed (no water level was rec...
21                22  The water level was affected by stage in nearb...
22                23  Other conditions existed that would affect the...

In [450]:
# check for merge
print(dfwl['site_no'].dtype)
print(bmjmp2.GWSI_USGS_siteno.dtype)

object
object

In [451]:
dfwl2 = dfwl.copy()
# Convert column to make the NANs mergable
#dfwl2.lev_status_cd = dfwl2.lev_status_cd.astype('int64') # issue...can't convert NaN values...need new method
dfwl2.lev_status_cd = pd.to_numeric(dfwl2.lev_status_cd, errors='coerce')

# r line 210, merge dfs to attach descriptors
dfwl2 = pd.merge(dfwl2, tblcd_WaterLevelStatusCode.loc[:, ['lev_status_cd_ID', 'Comments_WaterLevelStatus']], how='left', left_on= 'lev_status_cd', right_on= 'lev_status_cd_ID')
dfwl2 = pd.merge(dfwl2, tblcd_FluidLevelMethodCode.loc[:, ['lev_meth_cd', 'Comments_FluidLevelMethod']], how='left', on= 'lev_meth_cd')
print(dfwl2.shape)

# r line 220 merge with mpnt table to get current mp height
dfwl2['site_no'] = dfwl2['site_no'].astype(str)  # convert column to integer to make it mergible
dfwl2 = pd.merge(dfwl2, bmjmp2.loc[:, ["GWSI_USGS_siteno","GWSI_MP_BeginDate","GWSI_MP_EndDate","GWSI_MP_height_ft"]], how = 'left', left_on='site_no', right_on='GWSI_USGS_siteno')
print(dfwl2.shape)

(25121, 19)
(35789, 23)

In [452]:
dfwl

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,lev_agency_cd,lev_dt_acy_cd,lev_acy_cd,lev_src_cd,lev_meth_cd,lev_age_cd
0,USGS,473356095043701,ST,2019-06-28,08:56,UTC,0.00,NaN,NaN,NaN,USGS,m,1,S,D,A
1,USGS,473356095043701,ST,2020-08-06,12:00,UTC,-1.60,NaN,NaN,NaN,USGS,m,1,S,D,A
2,USGS,473356095043701,ST,2021-08-19,10:00,UTC,-0.16,NaN,NaN,NaN,USGS,m,0,S,D,A
3,USGS,473356095043701,ST,2022-08-25,08:08,UTC,-1.06,NaN,NaN,NaN,USGS,m,1,S,D,A
4,USGS,473356095043701,ST,2023-06-22,09:30,UTC,-1.18,NaN,NaN,NaN,USGS,m,0,S,D,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25116,USGS,473440095063001,GW,1992-06-16,12:01,UTC,1.60,NaN,NaN,1,USGS,D,2,S,V,A
25117,USGS,473503095044501,WE,2020-08-06,12:00,UTC,0.00,NaN,NaN,NaN,USGS,m,1,S,D,A
25118,USGS,473503095044501,WE,2021-08-20,08:58,UTC,1.83,NaN,NaN,NaN,USGS,m,1,S,D,A
25119,USGS,473503095044501,WE,2022-08-25,09:42,UTC,-0.03,NaN,NaN,NaN,USGS,m,1,S,D,P
25120,USGS,473503095044501,WE,2023-06-22,08:15,UTC,0.21,NaN,NaN,NaN,USGS,m,0,S,D,P

In [453]:
# INSPECT DATA: lev_dt should be between begin and end dates
dfwl2.loc[:, ['GWSI_MP_BeginDate', 'lev_dt', 'GWSI_MP_EndDate']]

      GWSI_MP_BeginDate      lev_dt GWSI_MP_EndDate
0            2019-06-28  2019-06-28      2024-07-22
1            2019-06-28  2020-08-06      2024-07-22
2            2019-06-28  2021-08-19      2024-07-22
3            2019-06-28  2022-08-25      2024-07-22
4            2019-06-28  2023-06-22      2024-07-22
...                 ...         ...             ...
35784        1984-10-17  1992-06-16      2024-07-22
35785               NaT  2020-08-06             NaT
35786               NaT  2021-08-20             NaT
35787               NaT  2022-08-25             NaT
35788               NaT  2023-06-22             NaT

[35789 rows x 3 columns]

In [454]:
# r script 227 
# INSPECT DATA: check to see where rows for MP height are not valid based on date
chk = dfwl2[
    ~(dfwl2['lev_dt'] >= dfwl2['GWSI_MP_BeginDate']) |
    ~(dfwl2['lev_dt'] <= dfwl2['GWSI_MP_EndDate'])
    ]

chk.loc[:, ['site_no', 'GWSI_MP_BeginDate', 'lev_dt', 'GWSI_MP_EndDate']]

print('The number of rows lost is...', chk.shape[0])

The number of rows lost is... 10720

Only select rows where the MP height is valid for the date the level was taken

In [455]:
# r script 227 too
# select only the rows where the MP height is valid for the date the level was taken (make sure this is after)
print(dfwl2.shape)
dfwl2 = dfwl2[
    (dfwl2['lev_dt'] >= dfwl2['GWSI_MP_BeginDate']) &
    (dfwl2['lev_dt'] <= dfwl2['GWSI_MP_EndDate'])
    ]
print(dfwl2.shape)

(35789, 23)
(25069, 23)

In [456]:
# INSPECT the updated data
dfwl2.loc[:, ['GWSI_MP_BeginDate', 'lev_dt', 'GWSI_MP_EndDate']]

      GWSI_MP_BeginDate      lev_dt GWSI_MP_EndDate
0            2019-06-28  2019-06-28      2024-07-22
1            2019-06-28  2020-08-06      2024-07-22
2            2019-06-28  2021-08-19      2024-07-22
3            2019-06-28  2022-08-25      2024-07-22
4            2019-06-28  2023-06-22      2024-07-22
...                 ...         ...             ...
35776        2004-12-01  2024-05-04      2024-07-22
35781        1984-10-17  1987-05-05      2024-07-22
35782        1984-10-17  1989-06-01      2024-07-22
35783        1984-10-17  1989-10-29      2024-07-22
35784        1984-10-17  1992-06-16      2024-07-22

[25069 rows x 3 columns]

In [457]:
# r script 244
# create average water level by site data frame for determining water table wells
# Lev.avg used later
wl_avg = dfwl2.groupby('site_no')['lev_va'].mean().reset_index(name='mean_lev_va') # note, .reset_index gives the series an index and turns it into a data frame

In [458]:
# r line 250
# INSPECT: check for NaN
# this could be due to a well being dry or affected by ice
display(wl_avg[wl_avg.mean_lev_va.isna()])
# check these rows
dfwl2.loc[(dfwl2['site_no'] == '473416095052601')|
          (dfwl2['site_no'] == '473420095051601')|
          (dfwl2['site_no'] == '473420095052501')]

#Note what makes this .loc unique...based on individual values inside a cell rather than columns

            site_no  mean_lev_va
12  473416095052601          NaN

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,...,lev_src_cd,lev_meth_cd,lev_age_cd,lev_status_cd_ID,Comments_WaterLevelStatus,Comments_FluidLevelMethod,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft
480,USGS,473416095052601,GW,1990-10-10,12:01,UTC,NaN,NaN,NaN,NaN,...,S,V,A,NaN,NaN,Calibrated electric tape – accuracy of instrum...,473416095052601,1990-06-24,2024-07-22,3.13
481,USGS,473416095052601,GW,1990-10-26,12:01,UTC,NaN,NaN,NaN,NaN,...,S,V,A,NaN,NaN,Calibrated electric tape – accuracy of instrum...,473416095052601,1990-06-24,2024-07-22,3.13
482,USGS,473416095052601,GW,1991-03-09,12:01,UTC,NaN,NaN,NaN,NaN,...,S,V,A,NaN,NaN,Calibrated electric tape – accuracy of instrum...,473416095052601,1990-06-24,2024-07-22,3.13
483,USGS,473416095052601,GW,1992-06-16,12:01,UTC,NaN,NaN,NaN,NaN,...,S,V,A,NaN,NaN,Calibrated electric tape – accuracy of instrum...,473416095052601,1990-06-24,2024-07-22,3.13
3110,USGS,473420095051601,GW,1983-05-25,12:01,UTC,24.21,NaN,NaN,1.0,...,S,S,A,1.0,Water level was affected by atmospheric pressure.,Steel-tape,473420095051601,1983-05-24,2010-03-08,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4461,USGS,473420095052501,GW,1994-12-08,12:01,UTC,5.13,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473420095052501,1989-10-26,2024-07-22,1.21
4463,USGS,473420095052501,GW,1995-01-03,12:01,UTC,5.52,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473420095052501,1989-10-26,2024-07-22,1.21
4465,USGS,473420095052501,GW,1995-03-17,12:01,UTC,5.08,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473420095052501,1989-10-26,2024-07-22,1.21
4467,USGS,473420095052501,GW,1995-04-28,12:01,UTC,4.94,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473420095052501,1989-10-26,2024-07-22,1.21
4469,USGS,473420095052501,GW,2005-07-18,12:01,UTC,NaN,NaN,NaN,NaN,...,S,O,A,NaN,NaN,Observed,473420095052501,1989-10-26,2024-07-22,1.21

Checking negative mean levels and looking at their sites to determine if they are in a lake or near a wetlands so that negative levels are ok

In [459]:
# INSPECTION
# r line 255 checking negative mean levels
wl_neg = dfwl2.loc[dfwl2['lev_va'] < 0].drop_duplicates(subset = 'site_no')

# r line 260
tblSites.loc[tblSites['USGS_siteno'].isin(wl_neg['site_no']), 'LocalSiteName'] # returns only rows where condition is true and the LocalSiteName column

239               WL02
240               WL03
241               WL04
242     Grant Creek 01
243             WL01-2
244               LK01
925                313
981                426
983               501A
984               501B
985               501C
1124              9003
1132              9011
Name: LocalSiteName, dtype: object

Using bmj3 data

In [460]:
# r line 323. Determine if wells are water table wells (ie screened interval within 1 m of average water level)
# merge bmj and dfwl2
print(bmj3.GWSI_USGS_siteno.dtypes, wl_avg.site_no.dtypes) # appears the dtypes are dif 
bmj3.GWSI_USGS_siteno = bmj3.GWSI_USGS_siteno.astype(str)
print(bmj3.GWSI_USGS_siteno.dtypes, wl_avg.site_no.dtypes)
bmj3_2 = pd.merge(bmj3, wl_avg, how='left', left_on ='GWSI_USGS_siteno', right_on = 'site_no')

object object
object object

In [461]:
# INSPECT
# check how many rows don't have screen info
print(bmj3_2.loc[bmj3_2['GWSI_TopOfScreenDepth_ftBLS'].isna()].shape[0])
print(bmj3_2.loc[bmj3_2['GWSI_BottomOfScreenDepth_ftBLS'].isna()].shape[0])

104
104

In [462]:
# INSPECT (for Andrew)
# r 340 make a list of sites that didn't come out in a gwsi retrieval for Andrew to check:
# make boolean mask to indicate where tblSites is not na for two columns and merge that with bmj3_2
GWSI_not_retrieved = pd.merge(tblSites.loc[tblSites['USGS_siteno'].notna(), ['USGS_siteno', 'LocalSiteName']], bmj3_2, left_on='USGS_siteno', right_on='GWSI_USGS_siteno', how='outer', indicator=True)
# create df where only data in left exists (shows where data on right is missing)
GWSI_not_retrieved = GWSI_not_retrieved.loc[GWSI_not_retrieved['_merge'] == 'left_only', ['USGS_siteno', 'LocalSiteName']]
# drops old index and replaces it with a new default one (meaning 0,1,2...)
GWSI_not_retrieved = GWSI_not_retrieved.reset_index(drop=True)
today = str(datetime.now().date())
GWSI_not_retrieved.to_csv(f'DataChecks/{today}_GWSI_not_retrieved.csv', index = False) 
print('File location: ', os.getcwd()+'\DataChecks')

File location:  P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\DataChecks

In [463]:
# create a new column and set it to NA
bmj3_2['WaterTableWell'] = pd.NA

# assign 'Y' to wells that meet the criteria. Select rows where criteria is met...and change WaterTableWell column to 'Y' if it does
# 3.2808... is the screened interval value in ft aka 1 m
bmj3_2.loc[(bmj3_2['mean_lev_va'] < bmj3_2['GWSI_BottomOfScreenDepth_ftBLS']) &   # check that mean elevation falls within the screened interval
            (bmj3_2['mean_lev_va'] > bmj3_2['GWSI_TopOfScreenDepth_ftBLS']) | 
            (bmj3_2['mean_lev_va'] > bmj3_2['GWSI_TopOfScreenDepth_ftBLS'] - 3.2808399) & # check that mean elevation is within 1 m above the top of screened interval
            (bmj3_2['mean_lev_va'] < bmj3_2['GWSI_TopOfScreenDepth_ftBLS']) | 
            (bmj3_2['mean_lev_va'] < bmj3_2['GWSI_BottomOfScreenDepth_ftBLS'] + 3.2808399) & # check taht mean elevation is within 1 m below the bottom of the screened interval
            (bmj3_2['mean_lev_va'] > bmj3_2['GWSI_BottomOfScreenDepth_ftBLS']), 
            'WaterTableWell'] = 'Y' # if any set of that conditional statements are true, na is set to 'Y'

In [464]:
# INSPECT
# r 353 check number of water table wells
# .size() checks the number of times a value appears and resetting the index just sets it back to zero and creates a column called count
bmj3_2.groupby('WaterTableWell').size().reset_index(name='count')

  WaterTableWell  count
0              Y    149

In [465]:
# INSPECT
# r 357 check the logic for assigning water table status
# 0 means logic works ok

# Filter for wells with "Y" status to check logic (should be zero)
filter1 = (bmj3_2["WaterTableWell"]=="Y") & (bmj3_2["GWSI_TopOfScreenDepth_ftBLS"]-bmj3_2["mean_lev_va"]>3.2808)
print(bmj3_2[filter1].shape[0])

# Assign "N" status where logic fails
filter2 = bmj3_2["GWSI_TopOfScreenDepth_ftBLS"]-bmj3_2["mean_lev_va"]>3.2808
bmj3_2.loc[filter2, "WaterTableWell"] = "N" # Assign 'N' to WaterTableWell if Filter is true

# Group and count number of wells with each status
chk = bmj3_2.groupby('WaterTableWell').agg('count')
chk[['GWSI_USGS_siteno', 'site_no']]

0

                GWSI_USGS_siteno  site_no
WaterTableWell
N                            126      126
Y                            149      149

In [466]:
# r 367 check other site types
print(bmj3_2['GWSI_GWSISiteType'].unique())
# number of rows in the data where column is equal to WE or LK or ST
print(bmj3_2[(bmj3_2['GWSI_GWSISiteType'] == 'WE') | 
             (bmj3_2['GWSI_GWSISiteType'] == 'LK') | 
             (bmj3_2['GWSI_GWSISiteType'] == 'ST')].shape[0]) 

#all of these site types are surface-water and so appropriate for 
#water table mapping, assign "Y" in water table well column
bmj3_2.loc[(bmj3_2['GWSI_GWSISiteType'] == 'WE') | 
           (bmj3_2['GWSI_GWSISiteType'] == 'LK') | 
           (bmj3_2['GWSI_GWSISiteType'] == 'ST'), # for rows that equal WE, LK, or ST
           'WaterTableWell'] = 'Y'                # and only the WaterTableWell column...set it equal to 'Y'

bmj3_2.groupby('WaterTableWell').size().reset_index(name='counts') # another way of creating this same output as before

['GW' 'SB-UZ' 'WE' 'ST' 'LK' 'GW-TH']
9

  WaterTableWell  counts
0              N     126
1              Y     158

In [467]:
# r 380 create new columns with mid values (new method)
bmj3_tmp = bmj3_2.copy()
bmj3_tmp['MidOfScreenDepth_ft'] = round(0.5*(bmj3_tmp['GWSI_TopOfScreenDepth_ftBLS']+bmj3_tmp['GWSI_BottomOfScreenDepth_ftBLS']), 2)
bmj3_tmp['MidOfScreenDepth_m'] = round(bmj3_tmp['MidOfScreenDepth_ft']*0.3048, 3)
bmj3_tmp['MidOfScreenElevation_ftASL_NAVD88'] = bmj3_tmp['GWSI_LandSurfaceAltitude_ftASL_NAVD88']-bmj3_tmp['MidOfScreenDepth_ft']
bmj3_tmp['MidOfScreenElevation_mASL_NAVD88'] = round(bmj3_tmp['MidOfScreenElevation_ftASL_NAVD88']*0.3048, 3)
bmj3_tmp = bmj3_tmp.loc[:,['GWSI_USGS_siteno', 
                           'GWSI_LandSurfaceAltitude_ftASL_NAVD88', 
                           'GWSI_LandSurfaceAltitude_mASL_NAVD88', 
                           'MidOfScreenDepth_ft', 
                           'MidOfScreenDepth_m', 
                           'MidOfScreenElevation_ftASL_NAVD88', 
                           'MidOfScreenElevation_mASL_NAVD88',
                           'WaterTableWell']]
print(bmj3_tmp.keys())

Index(['GWSI_USGS_siteno', 'GWSI_LandSurfaceAltitude_ftASL_NAVD88',
       'GWSI_LandSurfaceAltitude_mASL_NAVD88', 'MidOfScreenDepth_ft',
       'MidOfScreenDepth_m', 'MidOfScreenElevation_ftASL_NAVD88',
       'MidOfScreenElevation_mASL_NAVD88', 'WaterTableWell'],
      dtype='object')

Moving on to tbl_OilTapeCorrection

In [468]:
# INSPECT
# r line 73 : edit tbl_OilTapeCorrections (tape.core)
print(tbl_OilTapeCorrections.shape)
display(tbl_OilTapeCorrections.StartDate.sample(3))
print(tbl_OilTapeCorrections.EndDate)

(10, 11)

9   2018-06-26
0   2009-01-01
3   2019-10-30
Name: StartDate, dtype: datetime64[ns]

0   2016-11-17
1   2018-06-24
2   2018-06-24
3          NaT
4          NaT
5          NaT
6          NaT
7   2018-06-25
8   2019-10-19
9   2019-10-19
Name: EndDate, dtype: datetime64[ns]

In [469]:
tbl_OilTapeCorrections2 = tbl_OilTapeCorrections.copy()
tbl_OilTapeCorrections2['EndDate'] = tbl_OilTapeCorrections2['EndDate'].fillna(pd.Timestamp.today()) # replace unknown end dates with today's date. 
tbl_OilTapeCorrections2['EndDate'] = tbl_OilTapeCorrections2['EndDate'].dt.date # changes datetime obj to string (I think) to remove the hr, min, sec 
tbl_OilTapeCorrections2.EndDate

0    2016-11-17
1    2018-06-24
2    2018-06-24
3    2024-07-22
4    2024-07-22
5    2024-07-22
6    2024-07-22
7    2018-06-25
8    2019-10-19
9    2019-10-19
Name: EndDate, dtype: object

# tbloillevels

In [470]:
tblOilLevels.OilLevelTime

0        17:01
1        16:25
2        16:58
3        16:47
4        16:22
         ...
19992    12:01
19993    12:01
19994    12:01
19995    12:01
19996    12:01
Name: OilLevelTime, Length: 19997, dtype: object

In [471]:
tblOilLevels2 = tblOilLevels.copy()

# correct time if in CDT timezone
tblOilLevels2['OilLevelTime'] = pd.to_datetime(tblOilLevels2['OilLevelTime']) # convert str to datetime
tblOilLevels2.loc[tblOilLevels2['TimeDatum']=='CDT', 'OilLevelTime'] = tblOilLevels2.loc[tblOilLevels2['TimeDatum']=='CDT', 'OilLevelTime'] - pd.Timedelta(hours=1) # subtract 1
tblOilLevels2['OilLevelTime'] = tblOilLevels2['OilLevelTime'].dt.strftime('%H:%M') # convert datetime back to str

# convert date and edit cols/rows
tblOilLevels2['OilLevelDate'] = pd.to_datetime(tblOilLevels['OilLevelDate'], format = '%Y-%m-%d') # make sure this col is not datatime
tblOilLevels2 = tblOilLevels2[tblOilLevels2['ExcludeFromPublishing'] != 1] # only keep rows that are not excluded from publishing
tblOilLevels2 = tblOilLevels2.loc[:, ~tblOilLevels2.columns.str.startswith('Excl')]
tblOilLevels2 = tblOilLevels2.loc[:, ~tblOilLevels2.columns.str.startswith('ARCHIVE')]
tblOilLevels2 = tblOilLevels2.loc[:, ~tblOilLevels2.columns.str.startswith('DELETE')]

In [472]:
# Inspect DELETE
# No rounding issue
display(tblOilLevels[['LocalSiteName','OilLevelTime', 'OilLevel_ftBMP']].loc[tblOilLevels['LocalSiteName']=='0501'])

      LocalSiteName OilLevelTime  OilLevel_ftBMP
50             0501        14:30           22.72
152            0501        14:44           21.50
271            0501        17:04           22.71
19370          0501        12:01             NaN
19571          0501        14:46           22.55
19742          0501        11:38           22.41
19809          0501        11:14           21.78
19899          0501        16:09           22.83
19967          0501        10:04           23.06

In [473]:
# INSPECT
print("Old number of rows then columns:", tblOilLevels.shape, "New number of rows then columns:", tblOilLevels2.shape)
# check if all rows have a valid date value
display(tblOilLevels2.loc[tblOilLevels2['OilLevelDate'].isna(), :])
# check if all rows have a valid date value
display(tblOilLevels2.loc[tblOilLevels2['OilLevelTime'].isna(), :])

Old number of rows then columns: (19997, 32) New number of rows then columns: (19525, 12)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,OilLevelDataSource,ZeroThicknessCalcExclude
2572,20272,None,None,NaT,NaN,None,0.0,None,None,None,None,None

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,OilLevelDataSource,ZeroThicknessCalcExclude
2572,20272,None,None,NaT,NaN,None,0.0,None,None,None,None,None
2618,20318,9017,None,2021-08-11,NaN,None,0.0,None,None,None,None,None

In [474]:
# INSPECT
# Compare to tblsites
display(tblOilLevels2.LocalSiteName)
display(tblSites.USGS_siteno)

0         315
1         317
2         319
3         411
4        420A
         ...
19992     319
19993     411
19994    421B
19995    301A
19996     315
Name: LocalSiteName, Length: 19525, dtype: object

0                  None
1                  None
2                  None
3                  None
4                  None
             ...
1724               None
1725    473424095053001
1726               None
1727               None
1728               None
Name: USGS_siteno, Length: 1729, dtype: object

In [475]:
#merge tblOilLevels with tblSites to get USGS_siteno r line 80
tblOilLevels3 = pd.merge(tblOilLevels2, tblSites.loc[:,['LocalSiteName', 'USGS_siteno',"AgencyCode","XcoordUTMNAD83_m","YcoordUTMNAD83_m","OnNWT","NWTPosition_m"]], how = 'left')
print("Old number rows/columns:", tblOilLevels2.shape, "New number rows/columns:", tblOilLevels3.shape)
tblOilLevels3 = pd.merge(tblOilLevels3, tblWells.loc[:,['LocalSiteName', 'LocalUseCode']], how = 'left')
print("Newest number rows/columns:", tblOilLevels3.shape)

Old number rows/columns: (19525, 12) New number rows/columns: (19525, 18)
Newest number rows/columns: (19525, 19)

In [476]:
# INSPECT
# check which records don't have USGS_siteno
display(tblOilLevels3.loc[tblOilLevels3['USGS_siteno'].isna(), ['LocalSiteName', 'USGS_siteno']])
display(tblOilLevels3.loc[tblOilLevels3['USGS_siteno'].notna(), ['LocalSiteName', 'USGS_siteno']])

# check which records don't have LocaluseCode
display(tblOilLevels3.loc[tblOilLevels3['LocalUseCode'].isna(), ['LocalSiteName', 'LocalUseCode']])
display(tblOilLevels3.loc[tblOilLevels3['LocalUseCode'].notna(), ['LocalSiteName', 'LocalUseCode']])

     LocalSiteName USGS_siteno
2568          None         NaN

      LocalSiteName      USGS_siteno
0               315  473426095052530
1               317  473425095052009
2               319  473425095052504
3               411  473425095052605
4              420A  473426095052419
...             ...              ...
19520           319  473425095052504
19521           411  473425095052605
19522          421B  473425095052611
19523          301A  473426095052526
19524           315  473426095052530

[19524 rows x 2 columns]

     LocalSiteName LocalUseCode
2568          None          NaN
4269            LG          NaN
4270            LG          NaN
4271            LG          NaN
4272            LG          NaN
4273            LG          NaN
4274            LG          NaN
4275            LG          NaN
4276            LG          NaN
4277            LG          NaN
4278            LG          NaN
4279            LG          NaN
4280            LG          NaN
4281            LG          NaN
4282            LG          NaN
4283            LG          NaN
4284            LG          NaN
4285            LG          NaN
4286            LG          NaN
4287            LG          NaN
4288            LG          NaN
4289            WG          NaN
4290            WG          NaN
4291            WG          NaN
4292            WG          NaN
4293            WG          NaN
4294            WG          NaN
4295            WG          NaN
4296            WG          NaN
4297            WG          NaN
4298            WG          NaN
4299            WG          NaN
4300            WG          NaN
4301            WG          NaN
4302            WG          NaN
4303            WG          NaN
4304            WG          NaN
4305            WG          NaN
4306            WG          NaN
4307            WG          NaN

      LocalSiteName LocalUseCode
0               315           wo
1               317           wo
2               319           wo
3               411           wo
4              420A           wo
...             ...          ...
19520           319           wo
19521           411           wo
19522          421B           wo
19523          301A           wo
19524           315           wo

[19485 rows x 2 columns]

In [477]:
# INSPECT
print("Old number of rows then columns:", tblOilLevels2.shape, "New number of rows then columns:", tblOilLevels3.shape)

Old number of rows then columns: (19525, 12) New number of rows then columns: (19525, 19)

DUH merge ONLY localSiteName and USGS_siteno from tblsites rather than merge ON those columns from the two dfs.

In [478]:
# r line 93 select only the oil wells (LocalUseCode=="wo") and wells with a USGS site ID
tblOilLevels4 = tblOilLevels3[(tblOilLevels3['USGS_siteno'].notna()) & (tblOilLevels3['LocalUseCode']=='wo')]
print(tblOilLevels4.shape)

#rearrange order of columns, move last 2 columns from the join to the front
cols = tblOilLevels4.columns.tolist()      # create list of column names
new_cols = cols[-2:] + cols[:-2]           # change order by moving last 2 to the front
tblOilLevels4 = tblOilLevels4[new_cols]    # apply change to dataframe (create new one technically)

(4715, 19)

## Apply Tape Corrections to OilLevel_ftBMP

In [479]:
tblOilLevels5 = pd.merge(tblOilLevels4, tbl_OilTapeCorrections2, how = 'left', on = 'Oil_Tape_Serial_No')
tblOilLevels5.keys()

Index(['NWTPosition_m', 'LocalUseCode', 'OilLevelID', 'LocalSiteName',
       'PersonMakingMeasurement', 'OilLevelDate', 'OilLevelTime', 'TimeDatum',
       'OilLevel_ftBMP', 'OilLevelMethod', 'Oil_Tape_Serial_No',
       'Comments_OilLevel', 'OilLevelDataSource', 'ZeroThicknessCalcExclude',
       'USGS_siteno', 'AgencyCode', 'XcoordUTMNAD83_m', 'YcoordUTMNAD83_m',
       'OnNWT', 'TapeCorrID', 'HIF_ID', 'StartDate', 'EndDate',
       'StartDistance_ft', 'EndDistance_ft', 'GWSI_Tape_Correction_ft',
       'OilTapeModelMakeType', 'Source', 'Comments_TapeCorrection'],
      dtype='object')

In [480]:
# r line 127
tblOilLevels6 = tblOilLevels5[
    (tblOilLevels5['Oil_Tape_Serial_No'].isna()) | 
    (tblOilLevels5['OilLevel_ftBMP'].isna()) | 
    (tblOilLevels5['OilLevelDate'] >= tblOilLevels5['StartDate']) &
    (tblOilLevels5['OilLevelDate'] <= tblOilLevels5['EndDate']) &
    (tblOilLevels5['OilLevel_ftBMP'] >= tblOilLevels5['StartDistance_ft']) &
    (tblOilLevels5['OilLevel_ftBMP'] <= tblOilLevels5['EndDistance_ft'])
    ].drop_duplicates(subset=['OilLevelID'], keep = 'first')
# r line 131 
tblOilLevels6 = tblOilLevels6.drop(columns=[
    'TapeCorrID',
    'StartDate',
    'EndDate',
    'StartDistance_ft',
    'EndDistance_ft',
    'OilTapeModelMakeType',
    'Source',
    'Comments_TapeCorrection'    
])
# r line 132
tblOilLevels6['GWSI_Tape_Correction_ft'] = tblOilLevels6['GWSI_Tape_Correction_ft'].fillna(0)
# r line 133
tblOilLevels6['OilLevel_ftBMP_corr'] = tblOilLevels6['OilLevel_ftBMP'] + tblOilLevels6['GWSI_Tape_Correction_ft']

## Join oillevels with mpnt table

In [481]:
# r line 163 join OilLevels with MPNT table
# join
tblOilLevels7 = pd.merge(tblOilLevels6, bmjmp2.loc[:, ['GWSI_USGS_siteno', 'GWSI_MP_BeginDate', 'GWSI_MP_EndDate', 'GWSI_MP_height_ft']], how='left', left_on='USGS_siteno', right_on='GWSI_USGS_siteno')
# filter out rows where MP height is invalid for the date the level was taken
tblOilLevels7 = tblOilLevels7[
    (tblOilLevels7['OilLevelDate'] >= tblOilLevels7['GWSI_MP_BeginDate']) &
    (tblOilLevels7['OilLevelDate'] <= tblOilLevels7['GWSI_MP_EndDate'])
    ]

In [482]:
# INSPECT
# check row count
print("Number of rows before:", tblOilLevels6.shape[0])
print("Number of rows after:",tblOilLevels7.shape[0])
# another check that is similar
chk = tblOilLevels6.merge(tblOilLevels7, on='OilLevelID', how='outer', indicator=True) # merge all data with indicator that should if merge included both or some only 1 dataset
chk1 = chk[chk['_merge'] == 'left_only']
chk2 = chk[chk['_merge'] == 'right_only']  
print('Data from left only:', chk1.shape[0], 'Data from right only:', chk2.shape[0])

Number of rows before: 4715
Number of rows after: 4715
Data from left only: 0 Data from right only: 0

# Insert MP heights into tblOilLevels and calc oil level

In [483]:
# r code 180
tblOilLevels8 = tblOilLevels7.copy()
# calculate oil level
tblOilLevels8['OilLevel_ftBLS'] = tblOilLevels8['OilLevel_ftBMP_corr'] - tblOilLevels8['GWSI_MP_height_ft']
# r line 183 merge fluid level method
tblOilLevels8 = tblOilLevels8.merge(tblcd_FluidLevelMethodCode.loc[:, ['lev_meth_cd', 'Comments_FluidLevelMethod']], left_on='OilLevelMethod', right_on='lev_meth_cd', how='left') # forgot the how = left
# needed for the merge around r line 425
tblOilLevels8['OilLevelDate'] = tblOilLevels8['OilLevelDate'].dt.strftime('%Y-%m-%d')

# round col (apparently pd.dfs automatically round for you so you don't see it)
display(tblOilLevels8.loc[49:50, 'OilLevel_ftBLS'])
display(tblOilLevels8.loc[50, 'OilLevel_ftBLS'])
tblOilLevels8['OilLevel_ftBLS'] = round(tblOilLevels8['OilLevel_ftBLS'], 2)
display(tblOilLevels8.loc[50, 'OilLevel_ftBLS'])

49      NaN
50    20.19
Name: OilLevel_ftBLS, dtype: float64

20.189999999999998

20.19

# Create master list

In [484]:
# INSPECTION
# r line 263 
#check each data set for duplicated values in USGS station ID,
#sample date and sample time columns.  
chk = tblOilLevels8.groupby(['USGS_siteno', 'OilLevelDate', 'OilLevelTime']).filter(lambda x: len(x) > 1)
print('For oil levels:', chk.shape[0]) # if zero, there are no duplicates

# r line 271
chk = dfwl2.groupby(['site_no', 'lev_dt', 'lev_tm']).filter(lambda x: len(x) > 1)
print('For water levels:', chk.shape[0])
display(chk.head(3))

For oil levels: 0
For water levels: 0

Empty DataFrame
Columns: [agency_cd, site_no, site_tp_cd, lev_dt, lev_tm, lev_tz_cd, lev_va, sl_lev_va, sl_datum_cd, lev_status_cd, lev_agency_cd, lev_dt_acy_cd, lev_acy_cd, lev_src_cd, lev_meth_cd, lev_age_cd, lev_status_cd_ID, Comments_WaterLevelStatus, Comments_FluidLevelMethod, GWSI_USGS_siteno, GWSI_MP_BeginDate, GWSI_MP_EndDate, GWSI_MP_height_ft]
Index: []

[0 rows x 23 columns]

In [485]:
# r line 285 Rename columns and select columns in oil levels
oil_levID = tblOilLevels8.rename(columns={'OilLevelDate': 'LevelDate', 'OilLevelTime': 'LevelTime'})
display(oil_levID.head(2))

,NWTPosition_m,LocalUseCode,OilLevelID,LocalSiteName,PersonMakingMeasurement,LevelDate,LevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,...,HIF_ID,GWSI_Tape_Correction_ft,OilLevel_ftBMP_corr,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft,OilLevel_ftBLS,lev_meth_cd,Comments_FluidLevelMethod
0,-4.02,wo,20059,315,A. Berg & J. Lund,2017-06-14,16:01,CDT,22.94,Z,...,HIF-242570,0.0,22.94,473426095052530,1983-07-01,2024-07-22,2.52,20.42,Z,Other
1,27.55,wo,20060,317,A. Berg & J. Lund,2017-06-14,15:25,CDT,31.08,Z,...,HIF-242570,0.0,31.08,473425095052009,1983-07-02,2024-07-22,1.86,29.22,Z,Other

In [486]:
# rename columns
wat_levID = dfwl2.rename(columns={'site_no': 'USGS_siteno', 'lev_dt': 'LevelDate', 'lev_tm': 'LevelTime'})
display(wat_levID.head(2))

,agency_cd,USGS_siteno,site_tp_cd,LevelDate,LevelTime,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,...,lev_src_cd,lev_meth_cd,lev_age_cd,lev_status_cd_ID,Comments_WaterLevelStatus,Comments_FluidLevelMethod,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft
0,USGS,473356095043701,ST,2019-06-28,08:56,UTC,0.0,NaN,NaN,NaN,...,S,D,A,NaN,NaN,Differential Global Positioning System. This c...,473356095043701,2019-06-28,2024-07-22,0.0
1,USGS,473356095043701,ST,2020-08-06,12:00,UTC,-1.6,NaN,NaN,NaN,...,S,D,A,NaN,NaN,Differential Global Positioning System. This c...,473356095043701,2019-06-28,2024-07-22,0.0

In [487]:
# INSPECT
print(oil_levID.keys())
print(oil_levID.shape)
print(wat_levID.keys())
print(wat_levID.shape)

Index(['NWTPosition_m', 'LocalUseCode', 'OilLevelID', 'LocalSiteName',
       'PersonMakingMeasurement', 'LevelDate', 'LevelTime', 'TimeDatum',
       'OilLevel_ftBMP', 'OilLevelMethod', 'Oil_Tape_Serial_No',
       'Comments_OilLevel', 'OilLevelDataSource', 'ZeroThicknessCalcExclude',
       'USGS_siteno', 'AgencyCode', 'XcoordUTMNAD83_m', 'YcoordUTMNAD83_m',
       'OnNWT', 'HIF_ID', 'GWSI_Tape_Correction_ft', 'OilLevel_ftBMP_corr',
       'GWSI_USGS_siteno', 'GWSI_MP_BeginDate', 'GWSI_MP_EndDate',
       'GWSI_MP_height_ft', 'OilLevel_ftBLS', 'lev_meth_cd',
       'Comments_FluidLevelMethod'],
      dtype='object')
(4715, 29)
Index(['agency_cd', 'USGS_siteno', 'site_tp_cd', 'LevelDate', 'LevelTime',
       'lev_tz_cd', 'lev_va', 'sl_lev_va', 'sl_datum_cd', 'lev_status_cd',
       'lev_agency_cd', 'lev_dt_acy_cd', 'lev_acy_cd', 'lev_src_cd',
       'lev_meth_cd', 'lev_age_cd', 'lev_status_cd_ID',
       'Comments_WaterLevelStatus', 'Comments_FluidLevelMethod',
       'GWSI_USGS_siteno', 'GWSI_MP_BeginDate', 'GWSI_MP_EndDate',
       'GWSI_MP_height_ft'],
      dtype='object')
(25069, 23)

In [488]:
# r 303
# make one df with all rows for both water and oil
levID = pd.concat([
    wat_levID[['USGS_siteno', 'LevelDate', 'LevelTime']], 
    oil_levID[['USGS_siteno', 'LevelDate', 'LevelTime']]
    ], 
    ignore_index=True)
# remove dubs
levID = levID.drop_duplicates()
print(levID.shape)
display(levID)

(25533, 3)

           USGS_siteno   LevelDate LevelTime
0      473356095043701  2019-06-28     08:56
1      473356095043701  2020-08-06     12:00
2      473356095043701  2021-08-19     10:00
3      473356095043701  2022-08-25     08:08
4      473356095043701  2023-06-22     09:30
...                ...         ...       ...
29746  473425095052702  2015-08-05     09:23
29753  473420095052301  2015-08-05     09:36
29758  473426095052526  2015-10-22     11:30
29773  473426095052414  2019-10-31     11:00
29778  473421095052301  2005-07-15     12:01

[25533 rows x 3 columns]

In [489]:
# missing lev_va
display(dfwl2.loc[dfwl2['site_no']=='473425095052603'])
display(wat_levID.loc[wat_levID['USGS_siteno']=='473425095052603'])
display(levID.loc[levID['USGS_siteno']=='473425095052603'])
print(levID.loc[levID['USGS_siteno']=='473425095052603'].shape)

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,...,lev_src_cd,lev_meth_cd,lev_age_cd,lev_status_cd_ID,Comments_WaterLevelStatus,Comments_FluidLevelMethod,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft
14788,USGS,473425095052603,GW,2012-06-20,13:46,UTC,24.00,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14790,USGS,473425095052603,GW,2013-07-15,10:38,UTC,23.84,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14792,USGS,473425095052603,GW,2014-07-15,10:14,UTC,23.14,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14794,USGS,473425095052603,GW,2015-08-05,09:04,UTC,24.43,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14796,USGS,473425095052603,GW,2017-06-14,16:04,UTC,24.04,NaN,NaN,1.0,...,NaN,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14798,USGS,473425095052603,GW,2018-06-25,13:30,UTC,24.04,NaN,NaN,8.0,...,NaN,O,A,8.0,A nearby site that taps the same aquifer had b...,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14800,USGS,473425095052603,GW,2019-06-18,13:44,UTC,22.82,NaN,NaN,8.0,...,S,O,A,8.0,A nearby site that taps the same aquifer had b...,Observed,473425095052603,2005-06-02,2024-07-22,2.51

,agency_cd,USGS_siteno,site_tp_cd,LevelDate,LevelTime,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,...,lev_src_cd,lev_meth_cd,lev_age_cd,lev_status_cd_ID,Comments_WaterLevelStatus,Comments_FluidLevelMethod,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft
14788,USGS,473425095052603,GW,2012-06-20,13:46,UTC,24.00,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14790,USGS,473425095052603,GW,2013-07-15,10:38,UTC,23.84,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14792,USGS,473425095052603,GW,2014-07-15,10:14,UTC,23.14,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14794,USGS,473425095052603,GW,2015-08-05,09:04,UTC,24.43,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14796,USGS,473425095052603,GW,2017-06-14,16:04,UTC,24.04,NaN,NaN,1.0,...,NaN,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14798,USGS,473425095052603,GW,2018-06-25,13:30,UTC,24.04,NaN,NaN,8.0,...,NaN,O,A,8.0,A nearby site that taps the same aquifer had b...,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14800,USGS,473425095052603,GW,2019-06-18,13:44,UTC,22.82,NaN,NaN,8.0,...,S,O,A,8.0,A nearby site that taps the same aquifer had b...,Observed,473425095052603,2005-06-02,2024-07-22,2.51

           USGS_siteno   LevelDate LevelTime
10283  473425095052603  2012-06-20     13:46
10284  473425095052603  2013-07-15     10:38
10285  473425095052603  2014-07-15     10:14
10286  473425095052603  2015-08-05     09:04
10287  473425095052603  2017-06-14     16:04
10288  473425095052603  2018-06-25     13:30
10289  473425095052603  2019-06-18     13:44
29181  473425095052603  2005-06-27     12:01
29687  473425095052603  2016-07-25     15:09

(9, 3)

In [490]:
# MERGE
out_MasterWaterOilLevels = pd.merge(levID, 
                                    tblSites[["AgencyCode","USGS_siteno","LocalSiteName","XcoordUTMNAD83_m","YcoordUTMNAD83_m","OnNWT","NWTPosition_m"]],
                                    how='left')

out_MasterWaterOilLevels = out_MasterWaterOilLevels.rename(
    columns ={'OnNWT': 'OnNorthWellTransect', 
              'NWTPosition_m': 'DistanceFromCenterOfNorthOilBody_m'})

out_MasterWaterOilLevels

,USGS_siteno,LevelDate,LevelTime,AgencyCode,LocalSiteName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m
0,473356095043701,2019-06-28,08:56,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN
1,473356095043701,2020-08-06,12:00,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN
2,473356095043701,2021-08-19,10:00,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN
3,473356095043701,2022-08-25,08:08,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN
4,473356095043701,2023-06-22,09:30,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25528,473425095052702,2015-08-05,09:23,USGS,9017,342764.87,5271033.20,1.0,-21.97
25529,473420095052301,2015-08-05,09:36,USGS,1429,342814.32,5270875.34,NaN,NaN
25530,473426095052526,2015-10-22,11:30,USGS,301A,342781.07,5271045.79,1.0,-2.06
25531,473426095052414,2019-10-31,11:00,USGS,534A,342809.72,5271045.08,1.0,23.84
25532,473421095052301,2005-07-15,12:01,USGS,312,342809.67,5270875.80,NaN,NaN

In [491]:
out_MasterWaterOilLevels.loc[out_MasterWaterOilLevels['USGS_siteno']=='473425095052603']

,USGS_siteno,LevelDate,LevelTime,AgencyCode,LocalSiteName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m
10283,473425095052603,2012-06-20,13:46,USGS,0501,342781.18,5271042.47,1.0,-3.31
10284,473425095052603,2013-07-15,10:38,USGS,0501,342781.18,5271042.47,1.0,-3.31
10285,473425095052603,2014-07-15,10:14,USGS,0501,342781.18,5271042.47,1.0,-3.31
10286,473425095052603,2015-08-05,09:04,USGS,0501,342781.18,5271042.47,1.0,-3.31
10287,473425095052603,2017-06-14,16:04,USGS,0501,342781.18,5271042.47,1.0,-3.31
10288,473425095052603,2018-06-25,13:30,USGS,0501,342781.18,5271042.47,1.0,-3.31
10289,473425095052603,2019-06-18,13:44,USGS,0501,342781.18,5271042.47,1.0,-3.31
25489,473425095052603,2005-06-27,12:01,USGS,0501,342781.18,5271042.47,1.0,-3.31
25525,473425095052603,2016-07-25,15:09,USGS,0501,342781.18,5271042.47,1.0,-3.31

In [492]:
'''
# r 390 merge info from bmj3 with master site-date-time list
out_MasterWaterOilLevels2 = pd.merge(out_MasterWaterOilLevels, bmj3_tmp, how='left', left_on='USGS_siteno', right_on='GWSI_USGS_siteno')
# check how many water table wells in tblwells
print(sum(tblWells['WaterTableWell'] == 'Y'))

# r 418: calculate water level elevations and rename columns appropriately
out_MasterWaterOilLevels2 = out_MasterWaterOilLevels2.rename(columns={'lev_va': 'WaterLevel_ftBLS'})
out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['WaterLevel_ftBLS']
out_MasterWaterOilLevels2['WaterLevel_mASL_NAVD88'] = round(out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] * 0.3048, 3)

# r 425 merge with oil levels
# first convert columns to be the same data types and same date format
out_MasterWaterOilLevels2['LevelDate'] = pd.to_datetime(out_MasterWaterOilLevels2['LevelDate']).dt.strftime('%Y-%m-%d')

# r 418: calculate water level elevations and rename columns appropriately
out_MasterWaterOilLevels2 = out_MasterWaterOilLevels2.rename(columns={'lev_va': 'WaterLevel_ftBLS'})
out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['WaterLevel_ftBLS']
out_MasterWaterOilLevels2['WaterLevel_mASL_NAVD88'] = round(out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] * 0.3048, 3)

print(out_MasterWaterOilLevels2.Comments_FluidLevelMethod_oil.unique())

# r 435 merge the fluid level method columns
out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL'].isna() & ~out_MasterWaterOilLevels2['Comments_FluidLevelMethod_oil'].isna(),'Comments_FluidLevelMethod_WL'] = \
 out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL'].isna() & ~out_MasterWaterOilLevels2['Comments_FluidLevelMethod_oil'].isna(),'Comments_FluidLevelMethod_oil']
print(out_MasterWaterOilLevels2.Comments_FluidLevelMethod_WL.unique())
# r 440 delete oil fulid level comments column and rename the water fluid level method column
out_MasterWaterOilLevels2['Comments_FluidLevelMethod'] = out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL']
out_MasterWaterOilLevels2.drop('Comments_FluidLevelMethod_oil', axis=1, inplace=True)
print(out_MasterWaterOilLevels2.Comments_FluidLevelMethod.unique())

# r 452 calculate oil level elevations
out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['OilLevel_ftBLS']
out_MasterWaterOilLevels2['OilLevel_mASL_NAVD88'] = out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88'].mul(0.3048).round(3)
# trying new way to achieve same column...
out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88_v2'] = out_MasterWaterOilLevels2.apply(lambda x: x['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - x['OilLevel_ftBLS'], axis=1)

# r 459 calculate oil thicknesses, using the most raw measurements
out_MasterWaterOilLevels2['OilThickness_ft'] = round(out_MasterWaterOilLevels2['WaterLevel_ftBLS'] - out_MasterWaterOilLevels2['OilLevel_ftBLS'], 2)
out_MasterWaterOilLevels2['OilThickness_m'] = round(out_MasterWaterOilLevels2['OilThickness_ft'] * 0.3048, 3)
'''

"\n# r 390 merge info from bmj3 with master site-date-time list\nout_MasterWaterOilLevels2 = pd.merge(out_MasterWaterOilLevels, bmj3_tmp, how='left', left_on='USGS_siteno', right_on='GWSI_USGS_siteno')\n# check how many water table wells in tblwells\nprint(sum(tblWells['WaterTableWell'] == 'Y'))\n\n# r 418: calculate water level elevations and rename columns appropriately\nout_MasterWaterOilLevels2 = out_MasterWaterOilLevels2.rename(columns={'lev_va': 'WaterLevel_ftBLS'})\nout_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['WaterLevel_ftBLS']\nout_MasterWaterOilLevels2['WaterLevel_mASL_NAVD88'] = round(out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] * 0.3048, 3)\n\n# r 425 merge with oil levels\n# first convert columns to be the same data types and same date format\nout_MasterWaterOilLevels2['LevelDate'] = pd.to_datetime(out_MasterWaterOilLevels2['LevelDate']).dt.strftime('%Y-%m-%d')\n\n# r 418: calculate water level elevations and rename columns appropriately\nout_MasterWaterOilLevels2 = out_MasterWaterOilLevels2.rename(columns={'lev_va': 'WaterLevel_ftBLS'})\nout_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['WaterLevel_ftBLS']\nout_MasterWaterOilLevels2['WaterLevel_mASL_NAVD88'] = round(out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] * 0.3048, 3)\n\nprint(out_MasterWaterOilLevels2.Comments_FluidLevelMethod_oil.unique())\n\n# r 435 merge the fluid level method columns\nout_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL'].isna() & ~out_MasterWaterOilLevels2['Comments_FluidLevelMethod_oil'].isna(),'Comments_FluidLevelMethod_WL'] =  out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL'].isna() & ~out_MasterWaterOilLevels2['Comments_FluidLevelMethod_oil'].isna(),'Comments_FluidLevelMethod_oil']\nprint(out_MasterWaterOilLevels2.Comments_FluidLevelMethod_WL.unique())\n# r 440 delete oil fulid level comments column and rename the water fluid level method column\nout_MasterWaterOilLevels2['Comments_FluidLevelMethod'] = out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL']\nout_MasterWaterOilLevels2.drop('Comments_FluidLevelMethod_oil', axis=1, inplace=True)\nprint(out_MasterWaterOilLevels2.Comments_FluidLevelMethod.unique())\n\n# r 452 calculate oil level elevations\nout_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['OilLevel_ftBLS']\nout_MasterWaterOilLevels2['OilLevel_mASL_NAVD88'] = out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88'].mul(0.3048).round(3)\n# trying new way to achieve same column...\nout_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88_v2'] = out_MasterWaterOilLevels2.apply(lambda x: x['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - x['OilLevel_ftBLS'], axis=1)\n\n# r 459 calculate oil thicknesses, using the most raw measurements\nout_MasterWaterOilLevels2['OilThickness_ft'] = round(out_MasterWaterOilLevels2['WaterLevel_ftBLS'] - out_MasterWaterOilLevels2['OilLevel_ftBLS'], 2)\nout_MasterWaterOilLevels2['OilThickness_m'] = round(out_MasterWaterOilLevels2['OilThickness_ft'] * 0.3048, 3)\n"

In [493]:
dfwl2.loc[dfwl2['site_no']=='473425095052603']

,agency_cd,site_no,site_tp_cd,lev_dt,lev_tm,lev_tz_cd,lev_va,sl_lev_va,sl_datum_cd,lev_status_cd,...,lev_src_cd,lev_meth_cd,lev_age_cd,lev_status_cd_ID,Comments_WaterLevelStatus,Comments_FluidLevelMethod,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft
14788,USGS,473425095052603,GW,2012-06-20,13:46,UTC,24.00,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14790,USGS,473425095052603,GW,2013-07-15,10:38,UTC,23.84,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14792,USGS,473425095052603,GW,2014-07-15,10:14,UTC,23.14,NaN,NaN,1.0,...,S,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14794,USGS,473425095052603,GW,2015-08-05,09:04,UTC,24.43,NaN,NaN,1.0,...,S,V,A,1.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,473425095052603,2005-06-02,2024-07-22,2.51
14796,USGS,473425095052603,GW,2017-06-14,16:04,UTC,24.04,NaN,NaN,1.0,...,NaN,O,A,1.0,Water level was affected by atmospheric pressure.,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14798,USGS,473425095052603,GW,2018-06-25,13:30,UTC,24.04,NaN,NaN,8.0,...,NaN,O,A,8.0,A nearby site that taps the same aquifer had b...,Observed,473425095052603,2005-06-02,2024-07-22,2.51
14800,USGS,473425095052603,GW,2019-06-18,13:44,UTC,22.82,NaN,NaN,8.0,...,S,O,A,8.0,A nearby site that taps the same aquifer had b...,Observed,473425095052603,2005-06-02,2024-07-22,2.51

In [494]:
# r 390 merge info from bmj3 with master site-date-time list
out_MasterWaterOilLevels2 = pd.merge(out_MasterWaterOilLevels, bmj3_tmp, how='left', left_on='USGS_siteno', right_on='GWSI_USGS_siteno')
out_MasterWaterOilLevels2.head(3)

#then get the LocalUseCode field from tblWells (in local Access DB),
#check number of WaterTableWells in tblWells (not done algorithmically)
tblWells.keys()

#the water table well field in the database is less comprehensive than the algorithm used above. 
print(sum(tblWells['WaterTableWell'] == 'Y'))

# merge again to get tblWells local use code
out_MasterWaterOilLevels2 = pd.merge(out_MasterWaterOilLevels2, tblWells[['LocalSiteName', 'LocalUseCode']], how='left')
out_MasterWaterOilLevels2.head(2)   

# r line 409 merge to get Water levels
out_MasterWaterOilLevels2 = pd.merge(out_MasterWaterOilLevels2, dfwl2[["site_no","lev_dt","lev_tm",
                                                                       "lev_va","Comments_WaterLevelStatus", 
                                                                       "Comments_FluidLevelMethod","GWSI_MP_height_ft"]],
                                     how='left', 
                                     left_on=['USGS_siteno', "LevelDate", "LevelTime"],
                                     right_on=['site_no', "lev_dt", "lev_tm"])

# r 418: calculate water level elevations and rename columns appropriately
out_MasterWaterOilLevels2 = out_MasterWaterOilLevels2.rename(columns={'lev_va': 'WaterLevel_ftBLS'})
out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['WaterLevel_ftBLS']
out_MasterWaterOilLevels2['WaterLevel_mASL_NAVD88'] = round(out_MasterWaterOilLevels2['WaterLevel_ftASL_NAVD88'] * 0.3048, 3)

# r 425 merge with oil levels
# first convert columns to be the same data types and same date format
out_MasterWaterOilLevels2['LevelDate'] = pd.to_datetime(out_MasterWaterOilLevels2['LevelDate']).dt.strftime('%Y-%m-%d')
# MERGE
out_MasterWaterOilLevels2 = pd.merge(out_MasterWaterOilLevels2, tblOilLevels8[["USGS_siteno",
                                                                               "OilLevelDate",
                                                                               "OilLevelTime",
                                                                               "OilLevelID",
                                                                               "PersonMakingMeasurement",
                                                                               "Comments_FluidLevelMethod",
                                                                               "Oil_Tape_Serial_No",
                                                                               "Comments_OilLevel",
                                                                               "GWSI_Tape_Correction_ft",
                                                                               "GWSI_MP_height_ft",
                                                                               "OilLevel_ftBLS"]],
                                     left_on=['USGS_siteno', "LevelDate", "LevelTime"],
                                     right_on=['USGS_siteno', "OilLevelDate", "OilLevelTime"],
                                     how='left',
                                     suffixes=('_WL','_oil'),
                                     indicator='merge_result'
                                     )
chk = out_MasterWaterOilLevels2.copy()
print(out_MasterWaterOilLevels2.Comments_FluidLevelMethod_oil.unique())
# r 435 merge the fluid level method columns
out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL'].isna() & ~out_MasterWaterOilLevels2['Comments_FluidLevelMethod_oil'].isna(),'Comments_FluidLevelMethod_WL'] = \
 out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL'].isna() & ~out_MasterWaterOilLevels2['Comments_FluidLevelMethod_oil'].isna(),'Comments_FluidLevelMethod_oil']
print(out_MasterWaterOilLevels2.Comments_FluidLevelMethod_WL.unique())
# r 440 delete oil fulid level comments column and rename the water fluid level method column
out_MasterWaterOilLevels2['Comments_FluidLevelMethod'] = out_MasterWaterOilLevels2['Comments_FluidLevelMethod_WL']
out_MasterWaterOilLevels2.drop('Comments_FluidLevelMethod_oil', axis=1, inplace=True)
print(out_MasterWaterOilLevels2.Comments_FluidLevelMethod.unique())

# r 452 calculate oil level elevations
out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88'] = out_MasterWaterOilLevels2['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - out_MasterWaterOilLevels2['OilLevel_ftBLS']
out_MasterWaterOilLevels2['OilLevel_mASL_NAVD88'] = out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88'].mul(0.3048).round(3)
# trying new way to achieve same column...
out_MasterWaterOilLevels2['OilLevel_ftASL_NAVD88_v2'] = out_MasterWaterOilLevels2.apply(lambda x: x['GWSI_LandSurfaceAltitude_ftASL_NAVD88'] - x['OilLevel_ftBLS'], axis=1)

# r 459 calculate oil thicknesses, using the most raw measurements
out_MasterWaterOilLevels2['OilThickness_ft'] = round(out_MasterWaterOilLevels2['WaterLevel_ftBLS'] - out_MasterWaterOilLevels2['OilLevel_ftBLS'], 2)
out_MasterWaterOilLevels2['OilThickness_m'] = round(out_MasterWaterOilLevels2['OilThickness_ft'] * 0.3048, 3)

88
[nan 'Calibrated electric tape – accuracy of instrument has been checked'
 'Steel-tape' 'Other']
['Differential Global Positioning System. This code is especially applicable to surface expressions of groundwater.'
 'Steel-tape'
 'Calibrated electric tape – accuracy of instrument has been checked'
 'Observed' 'Electric-tape' 'Other' nan]
['Differential Global Positioning System. This code is especially applicable to surface expressions of groundwater.'
 'Steel-tape'
 'Calibrated electric tape – accuracy of instrument has been checked'
 'Observed' 'Electric-tape' 'Other' nan]

In [495]:
chk

,USGS_siteno,LevelDate,LevelTime,AgencyCode,LocalSiteName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,GWSI_USGS_siteno,...,OilLevelTime,OilLevelID,PersonMakingMeasurement,Comments_FluidLevelMethod_oil,Oil_Tape_Serial_No,Comments_OilLevel,GWSI_Tape_Correction_ft,GWSI_MP_height_ft_oil,OilLevel_ftBLS,merge_result
0,473356095043701,2019-06-28,08:56,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,473356095043701,2020-08-06,12:00,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,473356095043701,2021-08-19,10:00,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,473356095043701,2022-08-25,08:08,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,473356095043701,2023-06-22,09:30,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25528,473425095052702,2015-08-05,09:23,USGS,9017,342764.87,5271033.20,1.0,-21.97,473425095052702,...,09:23,19922.0,"A. Berg, E. Coenen",Other,2939,"No water in well, possible bad screen. Oil to ...",0.00,1.38,20.30,both
25529,473420095052301,2015-08-05,09:36,USGS,1429,342814.32,5270875.34,NaN,NaN,473420095052301,...,09:36,19929.0,"A. Berg, E. Coenen",Other,2939,No oil detected. Trace of oil on probe. WL mea...,0.00,2.85,NaN,both
25530,473426095052526,2015-10-22,11:30,USGS,301A,342781.07,5271045.79,1.0,-2.06,473426095052526,...,11:30,19934.0,A. Berg,Other,2939,Obstruction in well is a bailer at 7.527 meter...,0.00,1.00,22.81,both
25531,473426095052414,2019-10-31,11:00,USGS,534A,342809.72,5271045.08,1.0,23.84,473426095052414,...,11:00,20215.0,A. Berg,Calibrated electric tape – accuracy of instrum...,5352,A sampler was deployed in the well during this...,-0.03,1.87,NaN,both
25532,473421095052301,2005-07-15,12:01,USGS,312,342809.67,5270875.80,NaN,NaN,473421095052301,...,12:01,20220.0,L. Gryczkowski,Other,None,None,0.00,2.00,6.06,both

In [496]:
chk = out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['USGS_siteno']=='473425095052603']
chk[['USGS_siteno', 'LevelTime', 'WaterLevel_ftBLS', 'OilLevel_ftBLS']]

           USGS_siteno LevelTime  WaterLevel_ftBLS  OilLevel_ftBLS
10283  473425095052603     13:46             24.00           20.04
10284  473425095052603     10:38             23.84           19.90
10285  473425095052603     10:14             23.14           19.27
10286  473425095052603     09:04             24.43           20.55
10287  473425095052603     16:04             24.04           20.20
10288  473425095052603     13:30             24.04           20.19
10289  473425095052603     13:44             22.82           18.99
25489  473425095052603     12:01               NaN             NaN
25525  473425095052603     15:09               NaN           20.32

## Some checks

In [497]:
# r 467 check to see that all oil level IDs are included in final table
# INSPECT
#0 rows indicates all OilLevelID s are in the final merged table
# issue could be related to example of anti join given in my Lession.ipynb file under Libraries > PANDAS > "anti-join"
pd.merge(tblOilLevels8, out_MasterWaterOilLevels2, how='outer', on='OilLevelID', indicator=True).query("_merge != 'both'")

,NWTPosition_m,LocalUseCode_x,OilLevelID,LocalSiteName_x,PersonMakingMeasurement_x,OilLevelDate_x,OilLevelTime_x,TimeDatum,OilLevel_ftBMP,OilLevelMethod,...,GWSI_MP_height_ft_oil,OilLevel_ftBLS_y,merge_result,Comments_FluidLevelMethod_y,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilLevel_ftASL_NAVD88_v2,OilThickness_ft,OilThickness_m,_merge
4715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Differential Global Positioning System. This c...,NaN,NaN,NaN,NaN,NaN,right_only
4716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Differential Global Positioning System. This c...,NaN,NaN,NaN,NaN,NaN,right_only
4717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Differential Global Positioning System. This c...,NaN,NaN,NaN,NaN,NaN,right_only
4718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Differential Global Positioning System. This c...,NaN,NaN,NaN,NaN,NaN,right_only
4719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Differential Global Positioning System. This c...,NaN,NaN,NaN,NaN,NaN,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN,right_only
25529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN,right_only
25530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN,right_only
25531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN,right_only
25532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN,right_only

In [498]:
# INSPECT
#r 471 check for duplicate in oil level id:
chk = out_MasterWaterOilLevels2[~out_MasterWaterOilLevels2['OilLevelID'].isna()].groupby('OilLevelID').filter(lambda x: len(x) > 1)
print(len(chk), 'rows') # if zero, then no duplicates
display(chk)

0 rows

Empty DataFrame
Columns: [USGS_siteno, LevelDate, LevelTime, AgencyCode, LocalSiteName, XcoordUTMNAD83_m, YcoordUTMNAD83_m, OnNorthWellTransect, DistanceFromCenterOfNorthOilBody_m, GWSI_USGS_siteno, GWSI_LandSurfaceAltitude_ftASL_NAVD88, GWSI_LandSurfaceAltitude_mASL_NAVD88, MidOfScreenDepth_ft, MidOfScreenDepth_m, MidOfScreenElevation_ftASL_NAVD88, MidOfScreenElevation_mASL_NAVD88, WaterTableWell, LocalUseCode, site_no, lev_dt, lev_tm, WaterLevel_ftBLS, Comments_WaterLevelStatus, Comments_FluidLevelMethod_WL, GWSI_MP_height_ft_WL, WaterLevel_ftASL_NAVD88, WaterLevel_mASL_NAVD88, OilLevelDate, OilLevelTime, OilLevelID, PersonMakingMeasurement, Oil_Tape_Serial_No, Comments_OilLevel, GWSI_Tape_Correction_ft, GWSI_MP_height_ft_oil, OilLevel_ftBLS, merge_result, Comments_FluidLevelMethod, OilLevel_ftASL_NAVD88, OilLevel_mASL_NAVD88, OilLevel_ftASL_NAVD88_v2, OilThickness_ft, OilThickness_m]
Index: []

[0 rows x 43 columns]

In [499]:
# r 478 check for negative oil thicknesses
NegThk = out_MasterWaterOilLevels2['OilThickness_ft'] <= 0 # note: just retruns boolean mask of true or false for each row of that column
NegThk = out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['OilThickness_ft'] <= 0]
NegThk # if non exist...good
NegThk.to_csv("DataChecks/{}_NegativeOilThicknesses.csv".format(str(datetime.now().date())), index=False)

In [500]:
# INSPECT
# r 485 check to see that oil wells are classified as water table wells
# copied this check into notepad file for Andrew to look into.
WT_oilWell_chk = out_MasterWaterOilLevels2.loc[(out_MasterWaterOilLevels2['WaterTableWell'] == 'N') & (out_MasterWaterOilLevels2['LocalUseCode'] == 'wo')]\
    .groupby('LocalSiteName').size().reset_index(name='count')
display(WT_oilWell_chk)

  LocalSiteName  count
0          0501      9
1           302    154
2          421A    128
3          9014     31
4          9017     30
5          9018      1

In [501]:
# INSPECT more checks for oil thickness calcs

# number of thickness values
print(out_MasterWaterOilLevels2[~out_MasterWaterOilLevels2['OilThickness_ft'].isna()]['OilThickness_ft'].count())

# number of oil level values
print(out_MasterWaterOilLevels2[~out_MasterWaterOilLevels2['OilLevel_ftBLS'].isna()]['OilLevel_ftBLS'].count())

# number of water levels
print(out_MasterWaterOilLevels2[~out_MasterWaterOilLevels2['WaterLevel_ftBLS'].isna()]['WaterLevel_ftBLS'].count())
print(dfwl2[~dfwl2['lev_va'].isna()]['lev_va'].count())

3035
3436
24743
24743

In [502]:
# INSPECT
# check count of each column and inspect which rows have valid values
out_MasterWaterOilLevels2.count()
out_MasterWaterOilLevels2[~out_MasterWaterOilLevels2['Comments_WaterLevelStatus'].isna()] # not many rows available for this column

,USGS_siteno,LevelDate,LevelTime,AgencyCode,LocalSiteName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,GWSI_USGS_siteno,...,GWSI_Tape_Correction_ft,GWSI_MP_height_ft_oil,OilLevel_ftBLS,merge_result,Comments_FluidLevelMethod,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilLevel_ftASL_NAVD88_v2,OilThickness_ft,OilThickness_m
5,473358095061401,1987-05-05,12:01,USGS,426,341759.50,5270225.09,NaN,NaN,473358095061401,...,NaN,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN
6,473358095061401,1989-06-01,12:01,USGS,426,341759.50,5270225.09,NaN,NaN,473358095061401,...,NaN,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN
7,473358095061401,1992-06-16,12:01,USGS,426,341759.50,5270225.09,NaN,NaN,473358095061401,...,NaN,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN
8,473404095054101,1984-10-15,12:01,USGS,409,342437.61,5270398.26,NaN,NaN,473404095054101,...,NaN,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN
9,473404095054101,1984-10-31,12:01,USGS,409,342437.61,5270398.26,NaN,NaN,473404095054101,...,NaN,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25064,473437095052401,2024-05-04,12:59,USGS,524,342831.11,5271372.45,NaN,NaN,473437095052401,...,NaN,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN
25065,473440095063001,1987-05-05,12:01,USGS,427,341455.97,5271518.32,NaN,NaN,473440095063001,...,NaN,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN
25066,473440095063001,1989-06-01,12:01,USGS,427,341455.97,5271518.32,NaN,NaN,473440095063001,...,NaN,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN
25067,473440095063001,1989-10-29,12:01,USGS,427,341455.97,5271518.32,NaN,NaN,473440095063001,...,NaN,NaN,NaN,left_only,Steel-tape,NaN,NaN,NaN,NaN,NaN
25068,473440095063001,1992-06-16,12:01,USGS,427,341455.97,5271518.32,NaN,NaN,473440095063001,...,NaN,NaN,NaN,left_only,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN

In [503]:
# r 521 create a dataset ID column
out_MasterWaterOilLevels2['dataset_id'] = 'ds_12'

In [504]:
# INSPECTION
display(tblOilLevels8[["LocalSiteName","OilLevelDate","OilLevelTime","ZeroThicknessCalcExclude"]].dtypes)
#out_MasterWaterOilLevels2[['LocalSiteName','LevelDate','LevelTime']].
out_MasterWaterOilLevels2.LevelDate

LocalSiteName               object
OilLevelDate                object
OilLevelTime                object
ZeroThicknessCalcExclude    object
dtype: object

0        2019-06-28
1        2020-08-06
2        2021-08-19
3        2022-08-25
4        2023-06-22
            ...
25528    2015-08-05
25529    2015-08-05
25530    2015-10-22
25531    2019-10-31
25532    2005-07-15
Name: LevelDate, Length: 25533, dtype: object

In [505]:
# r 525
#calculate 0 oil thickness for all wells with water but not oil, except for 
#records where water was not measured (ZeroThicknessCalcExclude) column. 

#merge master file to get "excludeFromZeroThicknessCalc from tblOilLevels (tblOilLevels8 in Python)
# to merge, first we have to match data types
tblOilLevels8['OilLevelDate'] = pd.to_datetime(tblOilLevels8['OilLevelDate']).dt.strftime('%Y-%m-%d')

out_MasterWaterOilLevels3 = pd.merge(out_MasterWaterOilLevels2, tblOilLevels8[["LocalSiteName","OilLevelDate","OilLevelTime","ZeroThicknessCalcExclude"]], 
                                     left_on=['LocalSiteName','LevelDate','LevelTime'],
                                     right_on=['LocalSiteName','OilLevelDate','OilLevelTime'],
                                     how='left')
# couple checks to see if the merge worked r 535
print(out_MasterWaterOilLevels2.shape[0])
print(out_MasterWaterOilLevels3.shape[0])
print(out_MasterWaterOilLevels3[~out_MasterWaterOilLevels3['ZeroThicknessCalcExclude'].isna()].shape[0])   # these two do the same thing
print(out_MasterWaterOilLevels3[pd.notna(out_MasterWaterOilLevels3['ZeroThicknessCalcExclude'])].shape[0]) # these two do the same thing
print(tblOilLevels8[~tblOilLevels8['ZeroThicknessCalcExclude'].isna()].shape[0])

25533
25533
16
16
16

In [506]:
# r 542 more checks
print(out_MasterWaterOilLevels3[(out_MasterWaterOilLevels3['WaterLevel_mASL_NAVD88'] > 0) & (out_MasterWaterOilLevels3['OilLevel_ftBLS'].isna())].shape[0]) 
print(out_MasterWaterOilLevels3[(out_MasterWaterOilLevels3['WaterLevel_mASL_NAVD88'] > 0) & (out_MasterWaterOilLevels3['OilLevel_mASL_NAVD88'].isna())].shape[0])
print(out_MasterWaterOilLevels3[(out_MasterWaterOilLevels3['WaterLevel_mASL_NAVD88'] > 0) & 
                                (out_MasterWaterOilLevels3['OilLevel_mASL_NAVD88'].isna()) &
                                (out_MasterWaterOilLevels3['ZeroThicknessCalcExclude'].isna()) # same as print statement before except with this added conditional
                                ].shape[0])
# r 551 if there is water, and no oil, set oil thickness to 0
out_MasterWaterOilLevels3.loc[(out_MasterWaterOilLevels3['WaterLevel_mASL_NAVD88'] > 0) &
                              (out_MasterWaterOilLevels3['OilLevel_mASL_NAVD88'].isna()) &
                              (out_MasterWaterOilLevels3['ZeroThicknessCalcExclude'].isna()), # picks rows where these conditions are true
                              'OilThickness_m'] = 0                                           # for the OilThickness_m col and replaces it with zero
# repeat but for the ft columns (note: the R script still used the m for the conditions while changing the OilThickness_ft)
out_MasterWaterOilLevels3.loc[(out_MasterWaterOilLevels3['WaterLevel_ftASL_NAVD88'] > 0) & 
                              (out_MasterWaterOilLevels3['OilLevel_ftASL_NAVD88'].isna()) &
                              (out_MasterWaterOilLevels3['ZeroThicknessCalcExclude'].isna()), 
                              'OilThickness_ft'] = 0

out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['ZeroThicknessCalcExclude'].isna()]

21708
21708
21692

,USGS_siteno,LevelDate,LevelTime,AgencyCode,LocalSiteName,XcoordUTMNAD83_m,YcoordUTMNAD83_m,OnNorthWellTransect,DistanceFromCenterOfNorthOilBody_m,GWSI_USGS_siteno,...,Comments_FluidLevelMethod,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilLevel_ftASL_NAVD88_v2,OilThickness_ft,OilThickness_m,dataset_id,OilLevelDate_y,OilLevelTime_y,ZeroThicknessCalcExclude
0,473356095043701,2019-06-28,08:56,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,Differential Global Positioning System. This c...,NaN,NaN,NaN,0.0,0.0,ds_12,NaN,NaN,NaN
1,473356095043701,2020-08-06,12:00,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,Differential Global Positioning System. This c...,NaN,NaN,NaN,0.0,0.0,ds_12,NaN,NaN,NaN
2,473356095043701,2021-08-19,10:00,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,Differential Global Positioning System. This c...,NaN,NaN,NaN,0.0,0.0,ds_12,NaN,NaN,NaN
3,473356095043701,2022-08-25,08:08,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,Differential Global Positioning System. This c...,NaN,NaN,NaN,0.0,0.0,ds_12,NaN,NaN,NaN
4,473356095043701,2023-06-22,09:30,USGS,Grant Creek 01,343765.96,5270091.98,NaN,NaN,473356095043701,...,Differential Global Positioning System. This c...,NaN,NaN,NaN,0.0,0.0,ds_12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25528,473425095052702,2015-08-05,09:23,USGS,9017,342764.87,5271033.20,1.0,-21.97,473425095052702,...,Other,1391.07,423.998,1391.07,NaN,NaN,ds_12,2015-08-05,09:23,None
25529,473420095052301,2015-08-05,09:36,USGS,1429,342814.32,5270875.34,NaN,NaN,473420095052301,...,Other,NaN,NaN,NaN,NaN,NaN,ds_12,2015-08-05,09:36,None
25530,473426095052526,2015-10-22,11:30,USGS,301A,342781.07,5271045.79,1.0,-2.06,473426095052526,...,Other,1390.87,423.937,1390.87,NaN,NaN,ds_12,2015-10-22,11:30,None
25531,473426095052414,2019-10-31,11:00,USGS,534A,342809.72,5271045.08,1.0,23.84,473426095052414,...,Calibrated electric tape – accuracy of instrum...,NaN,NaN,NaN,NaN,NaN,ds_12,2019-10-31,11:00,None
25532,473421095052301,2005-07-15,12:01,USGS,312,342809.67,5270875.80,NaN,NaN,473421095052301,...,Other,1392.56,424.452,1392.56,NaN,NaN,ds_12,2005-07-15,12:01,None

In [507]:
# see if there are fewer NAs (note...generally there are just too many NAs)
print(out_MasterWaterOilLevels2.loc[out_MasterWaterOilLevels2['OilThickness_m'].isna()].shape[0])
print(out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_m'].isna()].shape[0])

22498
806

## create estimated water level column for rows where an oil level was measured
calculate apparent water table elevation, based on Geoff's reference in SIR,

.856 is the specific gravity of crude oil.

In [508]:
# r line 569 populate Est water level in m with water levels from water level_m column for records with a water level but oil thickness = NA
out_MasterWaterOilLevels3.loc[(~out_MasterWaterOilLevels3['WaterLevel_mASL_NAVD88'].isna()) & 
                              (out_MasterWaterOilLevels3['OilThickness_m'].isna()),
                              'EstWaterLevel_mASL_NAV88'] = \
                              out_MasterWaterOilLevels3.loc[(~out_MasterWaterOilLevels3['WaterLevel_mASL_NAVD88'].isna()) & 
                                                            (out_MasterWaterOilLevels3['OilThickness_m'].isna()), 
                                                            'WaterLevel_mASL_NAVD88']
# r line 573 populate Est water level in ft with water levels from water level, ft column for records with a water level but oil thickness = NA
out_MasterWaterOilLevels3.loc[(~out_MasterWaterOilLevels3['WaterLevel_ftASL_NAVD88'].isna()) & 
                              (out_MasterWaterOilLevels3['OilThickness_ft'].isna()),
                              'EstWaterLevel_ftASL_NAV88'] = \
                              out_MasterWaterOilLevels3.loc[(~out_MasterWaterOilLevels3['WaterLevel_ftASL_NAVD88'].isna()) & 
                                                            (out_MasterWaterOilLevels3['OilThickness_ft'].isna()), 
                                                            'WaterLevel_ftASL_NAVD88']
# r 578 populate est water level in m column with water level+ oil_thickness*0.855 (Lundy, 2015) for records where 
# a water level and oil thickness is present; 0 oil thickness should produce the 
# an estimated water level identical to the original water level data. 
out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_m'].notna(), 'EstWaterLevel_mASL_NAVD88'] = \
round(out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_m'].notna(), 'WaterLevel_mASL_NAVD88'] +\
      out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_m'].notna(), 'OilThickness_m']*0.855, 3)
# r 581 populate est water level in ft column with water level+ oil_thickness*0.855 for records in ft where a 
# water level and oil thickness is present; 0 oil thickness should produce the 
# an estimated water level identical to the original water level data. 
out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_ft'].notna(), 'EstWaterLevel_ftASL_NAVD88'] = \
round(out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_ft'].notna(), 'WaterLevel_ftASL_NAVD88'] +\
      out_MasterWaterOilLevels3.loc[out_MasterWaterOilLevels3['OilThickness_ft'].notna(), 'OilThickness_ft']*0.855, 3)
# r 586 replace NA in Comments_WaterLevelStatus column with "static" for appropriate conditions
out_MasterWaterOilLevels3.loc[(out_MasterWaterOilLevels3['WaterLevel_ftBLS'].notna()) & 
                              (out_MasterWaterOilLevels3['Comments_WaterLevelStatus'].isna()),
                              'Comments_WaterLevelStatus'] = 'static'

In [509]:
out_MasterWaterOilLevels3[['USGS_siteno','LocalSiteName','Comments_WaterLevelStatus']]

           USGS_siteno   LocalSiteName Comments_WaterLevelStatus
0      473356095043701  Grant Creek 01                    static
1      473356095043701  Grant Creek 01                    static
2      473356095043701  Grant Creek 01                    static
3      473356095043701  Grant Creek 01                    static
4      473356095043701  Grant Creek 01                    static
...                ...             ...                       ...
25528  473425095052702            9017                       NaN
25529  473420095052301            1429                       NaN
25530  473426095052526            301A                       NaN
25531  473426095052414            534A                       NaN
25532  473421095052301             312                       NaN

[25533 rows x 3 columns]

# Export to CSV

In [510]:
# r 590 reorder the columns for the final output
out_MasterWaterOilLevels3 = out_MasterWaterOilLevels3.loc[:, ['dataset_id',
                                                              'AgencyCode',
                                                              "USGS_siteno",
                                                              "LocalSiteName",
                                                              "LocalUseCode", 
                                                              "WaterTableWell",                       
                                                              "XcoordUTMNAD83_m",
                                                              "YcoordUTMNAD83_m",                      
                                                              "OnNorthWellTransect",                  
                                                              "DistanceFromCenterOfNorthOilBody_m",    
                                                              "GWSI_LandSurfaceAltitude_ftASL_NAVD88",
                                                              "GWSI_LandSurfaceAltitude_mASL_NAVD88",
                                                              "MidOfScreenDepth_ft",
                                                              "MidOfScreenDepth_m",
                                                              "MidOfScreenElevation_ftASL_NAVD88",#worked
                                                              "MidOfScreenElevation_mASL_NAVD88",
                                                              "LevelDate", 
                                                              "LevelTime",
                                                              "WaterLevel_ftBLS",
                                                              "Comments_WaterLevelStatus",
                                                              "Comments_FluidLevelMethod",
                                                              "GWSI_MP_height_ft_WL",
                                                              "WaterLevel_ftASL_NAVD88",
                                                              "WaterLevel_mASL_NAVD88",
                                                              "OilLevelID",                           
                                                              "PersonMakingMeasurement", #worked
                                                              "Oil_Tape_Serial_No",
                                                              "GWSI_Tape_Correction_ft",
                                                              "GWSI_MP_height_ft_oil",
                                                              "OilLevel_ftBLS",
                                                              "OilLevel_ftASL_NAVD88",
                                                              "OilLevel_mASL_NAVD88",
                                                              "OilThickness_ft",
                                                              "OilThickness_m",
                                                              "EstWaterLevel_ftASL_NAVD88",
                                                              "EstWaterLevel_mASL_NAVD88",
                                                              "Comments_OilLevel",
                                                              "ZeroThicknessCalcExclude"]]

In [511]:
# save the output
out_MasterWaterOilLevels3.to_csv("outputs/{}_out_MasterOilLevels3.csv".format(str(datetime.now().date())), index=False)
print('Saved near this dir:', os.getcwd())

Saved near this dir: P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels

In [512]:
# r 638 export master file for data release, just select a subset of columns.
# the site info data release will have all of the location and screen information
# add an "x" prefix to the local site name column
out_MasterWaterOilLevels_DataRelease = out_MasterWaterOilLevels3.loc[:,['dataset_id',
                                                                        "AgencyCode",
                                                                        "USGS_siteno",
                                                                        "LocalSiteName",
                                                                        "LevelDate", 
                                                                        "LevelTime",
                                                                        "WaterLevel_ftBLS",
                                                                        "Comments_WaterLevelStatus",
                                                                        "Comments_FluidLevelMethod",
                                                                        "WaterLevel_ftASL_NAVD88",
                                                                        "WaterLevel_mASL_NAVD88",
                                                                        "OilLevelID",                          
                                                                        "OilLevel_ftBLS",
                                                                        "OilLevel_ftASL_NAVD88",
                                                                        "OilLevel_mASL_NAVD88",
                                                                        "OilThickness_ft",
                                                                        "OilThickness_m",
                                                                        "EstWaterLevel_ftASL_NAVD88",
                                                                        "EstWaterLevel_mASL_NAVD88",
                                                                        "Comments_OilLevel"]]
out_MasterWaterOilLevels_DataRelease['LocalSiteName'] = 'x' + out_MasterWaterOilLevels_DataRelease['LocalSiteName'].astype(str)
out_MasterWaterOilLevels_DataRelease['USGS_siteno'] = 'x' + out_MasterWaterOilLevels_DataRelease['USGS_siteno'].astype(str)
out_MasterWaterOilLevels_DataRelease['OilLevel_ftBLS'] = round(out_MasterWaterOilLevels_DataRelease['OilLevel_ftBLS'], 2)

In [513]:
# save the output
out_MasterWaterOilLevels_DataRelease.to_csv("outputs/{}_tblds_12_WaterAndOilLevels.csv".format(str(datetime.now().date())), index=False)
print('Saved near this dir:', os.getcwd())

Saved near this dir: P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels

# Extra code

In [ ]:
stop in the name of love

SyntaxError: invalid syntax (601133638.py, line 1)

In [ ]:
# Example code
bmjmp2['GWSI_USGS_siteno'] = bmjmp2['GWSI_USGS_siteno'].astype(str)  # convert column to strings
tblOilLevels7.loc[:, ['OilLevelDate','GWSI_MP_BeginDate','GWSI_MP_EndDate']].sample(3) # inspect specific columns for random rows

# Good example merge

tblOilLevels7 = pd.merge(tblOilLevels6, bmjmp2.loc[:, ['GWSI_USGS_siteno', 'GWSI_MP_BeginDate', 'GWSI_MP_EndDate', 'GWSI_MP_height_ft']], how='left', left_on='USGS_siteno', right_on='GWSI_USGS_siteno')

'''
dfc = pd.merge(dfa, dfb, how='left', left_on='Col', right_on='Col')

# or select specific columns within dfb to merge into dfa using loc

dfb.loc[:, ['Col1', 'Col2']]

'''

## R vs Python

In [ ]:
print(os.getcwd())

P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels

In [ ]:
# Easily read in py output
file_path = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\2024-07-19_tblds_12_WaterAndOilLevels.csv"
dfpy = pd.read_csv(file_path)

In [364]:
dfpy = out_MasterWaterOilLevels_DataRelease.copy()

In [365]:
# Read in R output after investigating the encoding

import chardet
file_path = r"P:\0083\analysis\DataCompilation\DataCompilationR\CreateMasterWaterOilLevelDataSet\outputs\2021-04-27_tblds_12_WaterAndOilLevels.csv"
file_path = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\EXAMPLE_tblds_12_WaterAndOilLevels.csv"

# (r)ead a file's (b)inary
file = open(file_path, 'rb')
# store as raw data
raw_data = file.read()
# close the file
file.close()
# check encoding with chardet
result = chardet.detect(raw_data)
print("Result: ", result)
encoding = result['encoding']
print(f"Detected potential encoding: {encoding}")

# use the encoding to read the csv
dfr = pd.read_csv(file_path, encoding=encoding)

# if reading in the EXAMPLE file skip the first two rows 
if file_path == r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\EXAMPLE_tblds_12_WaterAndOilLevels.csv":
    print('Skipping first two rows for EXAMPLE data')
    dfr = pd.read_csv(file_path, encoding=encoding, skiprows=2)

Result:  {'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}
Detected potential encoding: Windows-1252
Skipping first two rows for EXAMPLE data

In [366]:
dfpy['origin'] = 'python'
dfr['origin'] = 'R'

# update r column to match python
#dfr['LocalSiteName'] = 'x' + dfr['LocalSiteName'].astype(str)

In [367]:
dfcompare = pd.concat([dfpy, dfr], axis=0)
dfcompare.keys()

Index(['dataset_id', 'AgencyCode', 'USGS_siteno', 'LocalSiteName', 'LevelDate',
       'LevelTime', 'WaterLevel_ftBLS', 'Comments_WaterLevelStatus',
       'Comments_FluidLevelMethod', 'WaterLevel_ftASL_NAVD88',
       'WaterLevel_mASL_NAVD88', 'OilLevelID', 'OilLevel_ftBLS',
       'OilLevel_ftASL_NAVD88', 'OilLevel_mASL_NAVD88', 'OilThickness_ft',
       'OilThickness_m', 'EstWaterLevel_ftASL_NAVD88',
       'EstWaterLevel_mASL_NAVD88', 'Comments_OilLevel', 'origin'],
      dtype='object')

In [368]:
#dfcompare.sort_values(by=['LocalSiteName','LevelTime', 'WaterLevel_ftBLS'], inplace=True)
dfcompare.sort_values(by=['LocalSiteName', 'WaterLevel_ftBLS', 'LevelTime'], inplace=True)
dfcompare[['LocalSiteName', 'LevelDate','LevelTime','WaterLevel_ftBLS', 'OilLevel_ftBLS', 'origin']]

,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,OilLevel_ftBLS,origin
10289,x0501,2019-06-18,14:44,22.82,NaN,python
9794,x0501,6/18/2019,14:44,22.82,18.99,R
10285,x0501,2014-07-15,11:14,23.14,NaN,python
9790,x0501,7/15/2014,11:14,23.14,19.27,R
10284,x0501,2013-07-15,11:38,23.84,NaN,python
...,...,...,...,...,...,...
24441,xWL04,2022-08-25,13:16,-0.31,NaN,python
23111,xWL04,6/27/2019,17:00,0.00,NaN,R
24439,xWL04,2019-06-27,17:34,0.00,NaN,python
24442,xWL04,2023-06-22,10:20,0.18,NaN,python
24440,xWL04,2020-08-06,13:00,0.31,NaN,python

In [369]:
dfcompare.sort_values(by=['LocalSiteName','LevelTime', 'WaterLevel_ftBLS'], inplace=True)
#dfcompare.sort_values(by=['LocalSiteName', 'WaterLevel_ftBLS', 'LevelTime'], inplace=True)
chk = dfcompare[['LocalSiteName','USGS_siteno', 'LevelDate','LevelTime','WaterLevel_ftBLS', 'OilLevel_ftBLS', 'origin']].copy()

In [370]:
chk

,LocalSiteName,USGS_siteno,LevelDate,LevelTime,WaterLevel_ftBLS,OilLevel_ftBLS,origin
26254,x0501,x473425095052603,2015-08-05,09:04,NaN,20.55,python
10286,x0501,x473425095052603,2015-08-05,10:04,24.43,NaN,python
9791,x0501,473425000000000.0,8/5/2015,10:04,24.43,20.55,R
26099,x0501,x473425095052603,2014-07-15,10:14,NaN,19.27,python
26035,x0501,x473425095052603,2013-07-15,10:38,NaN,19.90,python
...,...,...,...,...,...,...,...
24442,xWL04,x473431095052801,2023-06-22,10:20,0.18,NaN,python
24440,xWL04,x473431095052801,2020-08-06,13:00,0.31,NaN,python
24441,xWL04,x473431095052801,2022-08-25,13:16,-0.31,NaN,python
23111,xWL04,473431000000000.0,6/27/2019,17:00,0.00,NaN,R
24439,xWL04,x473431095052801,2019-06-27,17:34,0.00,NaN,python

In [371]:
print(chk.loc[10286, 'OilLevel_ftBLS'])

10286   NaN
10286   NaN
Name: OilLevel_ftBLS, dtype: float64

In [372]:
# save the output
dfcompare.to_csv(r'P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\tests\compare.csv')

PermissionError: [Errno 13] Permission denied: 'P:\\0083\\analysis\\DataCompilation\\DataCompilationPy\\create_master_oil_levels\\outputs\\tests\\compare.csv'

In [394]:
chk = dfcompare[['origin', 'LocalSiteName', 'LevelDate','LevelTime','WaterLevel_ftBLS', 'OilLevel_ftBLS','OilThickness_ft','Comments_OilLevel',]].copy()
chk

,origin,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,OilLevel_ftBLS,OilThickness_ft,Comments_OilLevel
26254,python,x0501,2015-08-05,09:04,NaN,20.55,NaN,Oil is likely cut off from screen. Extremly da...
10286,python,x0501,2015-08-05,10:04,24.43,NaN,0.00,NaN
9791,R,x0501,8/5/2015,10:04,24.43,20.55,3.88,Oil is likely cut off from screen. Extremly da...
26099,python,x0501,2014-07-15,10:14,NaN,19.27,NaN,"Oil is likely trapped in well, and not connect..."
26035,python,x0501,2013-07-15,10:38,NaN,19.90,NaN,"Black oil, watery"
...,...,...,...,...,...,...,...,...
24442,python,xWL04,2023-06-22,10:20,0.18,NaN,0.00,NaN
24440,python,xWL04,2020-08-06,13:00,0.31,NaN,0.00,NaN
24441,python,xWL04,2022-08-25,13:16,-0.31,NaN,0.00,NaN
23111,R,xWL04,6/27/2019,17:00,0.00,NaN,0.00,NaN
24439,python,xWL04,2019-06-27,17:34,0.00,NaN,0.00,NaN

### Mutli-compare

In [ ]:
# compare 3 dfs
# Easily read in py output
file_path = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\2024-07-02_tblds_12_WaterAndOilLevels.csv"
dfpy_updated = pd.read_csv(file_path)

In [ ]:
dfpy_updated['origin'] = 'python_updated'

In [ ]:
dfcompare = pd.concat([dfpy, dfpy_updated, dfr], axis=0)
dfcompare.keys()

Index(['dataset_id', 'AgencyCode', 'USGS_siteno', 'LocalSiteName', 'LevelDate',
       'LevelTime', 'WaterLevel_ftBLS', 'Comments_WaterLevelStatus',
       'Comments_FluidLevelMethod', 'WaterLevel_ftASL_NAVD88',
       'WaterLevel_mASL_NAVD88', 'OilLevelID', 'OilLevel_ftBLS',
       'OilLevel_ftASL_NAVD88', 'OilLevel_mASL_NAVD88', 'OilThickness_ft',
       'OilThickness_m', 'EstWaterLevel_ftASL_NAVD88',
       'EstWaterLevel_mASL_NAVD88', 'Comments_OilLevel', 'origin'],
      dtype='object')

In [ ]:
dfcompare.sort_values(by=['LocalSiteName', 'LevelTime','WaterLevel_ftBLS'], inplace=True)

In [387]:
dfcompare

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
26254,ds_12,USGS,x473425095052603,x0501,2015-08-05,09:04,NaN,NaN,Other,NaN,...,19930.0,20.55,1391.28,424.062,NaN,NaN,NaN,NaN,Oil is likely cut off from screen. Extremly da...,python
10286,ds_12,USGS,x473425095052603,x0501,2015-08-05,10:04,24.43,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,1387.40,...,NaN,NaN,NaN,NaN,0.00,0.000,1387.40,422.880,NaN,python
9791,ds_12,USGS,473425000000000.0,x0501,8/5/2015,10:04,24.43,static,Calibrated electric tape – accuracy of instrum...,1387.40,...,19930.0,20.55,1391.28,424.062,3.88,1.183,1390.72,423.891,Oil is likely cut off from screen. Extremly da...,R
26099,ds_12,USGS,x473425095052603,x0501,2014-07-15,10:14,NaN,NaN,Other,NaN,...,19811.0,19.27,1392.56,424.452,NaN,NaN,NaN,NaN,"Oil is likely trapped in well, and not connect...",python
26035,ds_12,USGS,x473425095052603,x0501,2013-07-15,10:38,NaN,NaN,Other,NaN,...,19744.0,19.90,1391.93,424.260,NaN,NaN,NaN,NaN,"Black oil, watery",python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24442,ds_12,USGS,x473431095052801,xWL04,2023-06-22,10:20,0.18,static,Differential Global Positioning System. This c...,1392.55,...,NaN,NaN,NaN,NaN,0.00,0.000,1392.55,424.449,NaN,python
24440,ds_12,USGS,x473431095052801,xWL04,2020-08-06,13:00,0.31,static,Differential Global Positioning System. This c...,1392.42,...,NaN,NaN,NaN,NaN,0.00,0.000,1392.42,424.410,NaN,python
24441,ds_12,USGS,x473431095052801,xWL04,2022-08-25,13:16,-0.31,static,Differential Global Positioning System. This c...,1393.04,...,NaN,NaN,NaN,NaN,0.00,0.000,1393.04,424.599,NaN,python
23111,ds_12,USGS,473431000000000.0,xWL04,6/27/2019,17:00,0.00,static,Differential Global Positioning System. This c...,1392.73,...,NaN,NaN,NaN,NaN,0.00,0.000,1392.73,424.504,NaN,R
24439,ds_12,USGS,x473431095052801,xWL04,2019-06-27,17:34,0.00,static,Differential Global Positioning System. This c...,1392.73,...,NaN,NaN,NaN,NaN,0.00,0.000,1392.73,424.504,NaN,python

In [388]:
dfcompare.keys()

Index(['dataset_id', 'AgencyCode', 'USGS_siteno', 'LocalSiteName', 'LevelDate',
       'LevelTime', 'WaterLevel_ftBLS', 'Comments_WaterLevelStatus',
       'Comments_FluidLevelMethod', 'WaterLevel_ftASL_NAVD88',
       'WaterLevel_mASL_NAVD88', 'OilLevelID', 'OilLevel_ftBLS',
       'OilLevel_ftASL_NAVD88', 'OilLevel_mASL_NAVD88', 'OilThickness_ft',
       'OilThickness_m', 'EstWaterLevel_ftASL_NAVD88',
       'EstWaterLevel_mASL_NAVD88', 'Comments_OilLevel', 'origin'],
      dtype='object')

## Explore water and oil
- dfwl2 -> wat_levID
- tblOilLevels8 -> oil_levID
- out_MasterWaterOilLevels3 combines the two

In [ ]:
display(dfwl2.keys())
display(tblOilLevels8.keys())

Index(['agency_cd', 'site_no', 'site_tp_cd', 'lev_dt', 'lev_tm', 'lev_tz_cd',
       'lev_va', 'sl_lev_va', 'sl_datum_cd', 'lev_status_cd', 'lev_agency_cd',
       'lev_dt_acy_cd', 'lev_acy_cd', 'lev_src_cd', 'lev_meth_cd',
       'lev_age_cd', 'lev_status_cd_ID', 'Comments_WaterLevelStatus',
       'Comments_FluidLevelMethod', 'GWSI_USGS_siteno', 'GWSI_MP_BeginDate',
       'GWSI_MP_EndDate', 'GWSI_MP_height_ft'],
      dtype='object')

Index(['NWTPosition_m', 'LocalUseCode', 'OilLevelID', 'LocalSiteName',
       'PersonMakingMeasurement', 'OilLevelDate', 'OilLevelTime', 'TimeDatum',
       'OilLevel_ftBMP', 'OilLevelMethod', 'Oil_Tape_Serial_No',
       'Comments_OilLevel', 'OilLevelDataSource', 'ZeroThicknessCalcExclude',
       'USGS_siteno', 'AgencyCode', 'XcoordUTMNAD83_m', 'YcoordUTMNAD83_m',
       'OnNWT', 'HIF_ID', 'GWSI_Tape_Correction_ft', 'OilLevel_ftBMP_corr',
       'GWSI_USGS_siteno', 'GWSI_MP_BeginDate', 'GWSI_MP_EndDate',
       'GWSI_MP_height_ft', 'OilLevel_ftBLS', 'lev_meth_cd',
       'Comments_FluidLevelMethod'],
      dtype='object')

In [ ]:
chk = dfwl2[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']=='473426095052526')&(chk['lev_dt']=='2011-02-03')]
chk

               site_no      lev_dt lev_tm  lev_va
21767  473426095052526  2011-02-03  15:00   22.44

In [ ]:
chk = tblOilLevels8[[ 'USGS_siteno', 'OilLevelID', 'LocalSiteName','OilLevelDate', 'OilLevelTime','OilLevel_ftBMP']].copy()
chk = chk.loc[(chk['OilLevelDate']=='2011-02-03') & (chk['LocalSiteName']=='301A')]
chk

,USGS_siteno,OilLevelID,LocalSiteName,OilLevelDate,OilLevelTime,OilLevel_ftBMP
653,473426095052526,627,301A,2011-02-03,14:00,22.26

In [ ]:
chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']=='2011-02-03') & (chk['LocalSiteName']=='301A')]
chk

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
847,627,301A,A. Berg,2011-02-03,14:00,None,22.26,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.713,423.568,423.928,6.78,6.42,None,changed time from 1201 to match GWSI water lev...

In [ ]:
chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']=='473426095052526')&(chk['lev_dt']=='2011-02-03')]
chk

               site_no      lev_dt lev_tm  lev_va
14767  473426095052526  2011-02-03  15:00   22.44

In [ ]:
chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']=='2011-02-03') & (chk['LocalSiteName']=='301A')]
chk

For site 0501
- Yes, TimeDatum = CDT

In [526]:
chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']=='2015-08-05') & (chk['LocalSiteName']=='0501')]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']=='473425095052603')&(chk['lev_dt']=='2015-08-05')]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']=='2015-08-05') & (dfcompare['LocalSiteName']=='x0501')].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
19967,19930,0501,"A. Berg, E. Coenen",2015-08-05,10:04,CDT,23.06,Z,2939,Oil is likely cut off from screen. Extremly da...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Oil is likely cut off from screen. Extremly da...

               site_no      lev_dt lev_tm  lev_va
10286  473425095052603  2015-08-05  09:04   24.43

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
10286,ds_12,USGS,x473425095052603,x0501,2015-08-05,09:04,24.43,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,1387.4,...,19930.0,20.55,1391.28,424.062,3.88,1.183,1390.717,423.891,Oil is likely cut off from screen. Extremly da...,python
9791,ds_12,USGS,473425000000000.0,x0501,2015-08-05,10:04,24.43,static,Calibrated electric tape – accuracy of instrum...,1387.4,...,19930.0,20.55,1391.28,424.062,3.88,1.183,1390.720,423.891,Oil is likely cut off from screen. Extremly da...,R

In [527]:
# set up vars
my_date = '2015-08-05'
my_site_local = '0501'
my_site_long = '473425095052603'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
19967,19930,0501,"A. Berg, E. Coenen",2015-08-05,10:04,CDT,23.06,Z,2939,Oil is likely cut off from screen. Extremly da...,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Oil is likely cut off from screen. Extremly da...

               site_no      lev_dt lev_tm  lev_va
10286  473425095052603  2015-08-05  09:04   24.43

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
10286,ds_12,USGS,x473425095052603,x0501,2015-08-05,09:04,24.43,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,1387.4,...,19930.0,20.55,1391.28,424.062,3.88,1.183,1390.717,423.891,Oil is likely cut off from screen. Extremly da...,python
9791,ds_12,USGS,473425000000000.0,x0501,2015-08-05,10:04,24.43,static,Calibrated electric tape – accuracy of instrum...,1387.4,...,19930.0,20.55,1391.28,424.062,3.88,1.183,1390.720,423.891,Oil is likely cut off from screen. Extremly da...,R

301A 
- Time Datum = None :(

In [528]:
# set up vars
my_date = '2011-02-03'
my_site_local = '301A'
my_site_long = '473426095052526'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
847,627,301A,A. Berg,2011-02-03,14:00,None,22.26,Z,None,changed time from 1201 to match GWSI water lev...,...,NaN,NaN,Z,430.713,423.568,423.928,6.78,6.42,None,changed time from 1201 to match GWSI water lev...

               site_no      lev_dt lev_tm  lev_va
14767  473426095052526  2011-02-03  14:00   22.44

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
14767,ds_12,USGS,x473426095052526,x301A,2011-02-03,14:00,22.44,Water level was affected by atmospheric pressure.,Observed,1391.24,...,627.0,21.26,1392.42,424.41,1.18,0.36,1392.249,424.358,changed time from 1201 to match GWSI water lev...,python
13924,ds_12,USGS,473426000000000.0,x301A,2011-02-03,14:00,22.44,static,Other,1391.24,...,627.0,21.26,1392.42,424.41,1.18,0.36,1392.250,424.358,changed time from 1201 to match GWSI water lev...,R

Example of BAD

In [373]:
chk = dfcompare.loc[(dfcompare['LevelDate']=='2011-02-03') & (dfcompare['LocalSiteName']=='x301A')].copy()

In [375]:
chk

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
25324,ds_12,USGS,x473426095052526,x301A,2011-02-03,14:00,NaN,NaN,Other,NaN,...,627.0,21.26,1392.42,424.41,NaN,NaN,NaN,NaN,changed time from 1201 to match GWSI water lev...,python
14767,ds_12,USGS,x473426095052526,x301A,2011-02-03,15:00,22.44,Water level was affected by atmospheric pressure.,Observed,1391.24,...,NaN,NaN,NaN,NaN,0.0,0.0,1391.24,424.05,NaN,python

In [376]:
chk = dfcompare.loc[(dfcompare['LevelDate']=='2016-01-19') & (dfcompare['LocalSiteName']=='x1428')].copy()
chk

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
25225,ds_12,USGS,x473419095052402,x1428,2016-01-19,15:00,NaN,NaN,Other,NaN,...,19960.0,6.94,1391.06,423.995,NaN,NaN,NaN,NaN,"Not much oil in well, but probe was covered in...",python
2197,ds_12,USGS,x473419095052402,x1428,2016-01-19,16:00,6.96,Water level was affected by atmospheric pressure.,Observed,1391.04,...,NaN,NaN,NaN,NaN,0.0,0.0,1391.04,423.989,NaN,python

In [ ]:
dfcompare

## 1 HOUR OFF >:()

In [514]:
# Read in R output after investigating the encoding

import chardet
file_path = r"P:\0083\analysis\DataCompilation\DataCompilationR\CreateMasterWaterOilLevelDataSet\outputs\2021-04-27_tblds_12_WaterAndOilLevels.csv"
file_path = r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\EXAMPLE_tblds_12_WaterAndOilLevels.csv"

# (r)ead a file's (b)inary
file = open(file_path, 'rb')
# store as raw data
raw_data = file.read()
# close the file
file.close()
# check encoding with chardet
result = chardet.detect(raw_data)
print("Result: ", result)
encoding = result['encoding']
print(f"Detected potential encoding: {encoding}")

# use the encoding to read the csv
dfr = pd.read_csv(file_path, encoding=encoding)

# if reading in the EXAMPLE file skip the first two rows 
if file_path == r"P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\EXAMPLE_tblds_12_WaterAndOilLevels.csv":
    print('Skipping first two rows for EXAMPLE data')
    dfr = pd.read_csv(file_path, encoding=encoding, skiprows=2)

Result:  {'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}
Detected potential encoding: Windows-1252
Skipping first two rows for EXAMPLE data

In [515]:
dfpy = out_MasterWaterOilLevels_DataRelease.copy()

In [516]:
display(dfr.head(2))
display(dfpy.head(2))

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,WaterLevel_mASL_NAVD88,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel
0,ds_12,USGS,4.733560e+14,xGrant Creek 01,6/28/2019,10:15,0.00,static,Differential Global Positioning System. This c...,1390.17,423.724,NaN,NaN,NaN,NaN,0.0,0.0,1390.17,423.724,NaN
1,ds_12,USGS,4.733580e+14,x426,5/5/1987,12:01,-0.63,static,Steel-tape,1395.35,425.303,NaN,NaN,NaN,NaN,0.0,0.0,1395.35,425.303,NaN

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,WaterLevel_mASL_NAVD88,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel
0,ds_12,USGS,x473356095043701,xGrant Creek 01,2019-06-28,08:56,0.0,static,Differential Global Positioning System. This c...,1390.17,423.724,NaN,NaN,NaN,NaN,0.0,0.0,1390.17,423.724,NaN
1,ds_12,USGS,x473356095043701,xGrant Creek 01,2020-08-06,12:00,-1.6,static,Differential Global Positioning System. This c...,1391.77,424.211,NaN,NaN,NaN,NaN,0.0,0.0,1391.77,424.211,NaN

In [517]:
display(dfr['LevelDate'].head(2))

# Convert date to match python's output
dfr['LevelDate'] = pd.to_datetime(dfr['LevelDate'])
dfr['LevelDate'] = dfr['LevelDate'].dt.strftime('%Y-%m-%d')

display(dfr['LevelDate'].head(2))

0    6/28/2019
1     5/5/1987
Name: LevelDate, dtype: object

0    2019-06-28
1    1987-05-05
Name: LevelDate, dtype: object

In [518]:
# add origin col
dfpy['origin'] = 'python'
dfr['origin'] = 'R'

In [530]:
dfcompare = pd.concat([dfpy, dfr], axis=0)
dfcompare.keys()

Index(['dataset_id', 'AgencyCode', 'USGS_siteno', 'LocalSiteName', 'LevelDate',
       'LevelTime', 'WaterLevel_ftBLS', 'Comments_WaterLevelStatus',
       'Comments_FluidLevelMethod', 'WaterLevel_ftASL_NAVD88',
       'WaterLevel_mASL_NAVD88', 'OilLevelID', 'OilLevel_ftBLS',
       'OilLevel_ftASL_NAVD88', 'OilLevel_mASL_NAVD88', 'OilThickness_ft',
       'OilThickness_m', 'EstWaterLevel_ftASL_NAVD88',
       'EstWaterLevel_mASL_NAVD88', 'Comments_OilLevel', 'origin'],
      dtype='object')

In [531]:
dfcompare

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
0,ds_12,USGS,x473356095043701,xGrant Creek 01,2019-06-28,08:56,0.00,static,Differential Global Positioning System. This c...,1390.17,...,NaN,NaN,NaN,NaN,0.0,0.0,1390.17,423.724,NaN,python
1,ds_12,USGS,x473356095043701,xGrant Creek 01,2020-08-06,12:00,-1.60,static,Differential Global Positioning System. This c...,1391.77,...,NaN,NaN,NaN,NaN,0.0,0.0,1391.77,424.211,NaN,python
2,ds_12,USGS,x473356095043701,xGrant Creek 01,2021-08-19,10:00,-0.16,static,Differential Global Positioning System. This c...,1390.33,...,NaN,NaN,NaN,NaN,0.0,0.0,1390.33,423.773,NaN,python
3,ds_12,USGS,x473356095043701,xGrant Creek 01,2022-08-25,08:08,-1.06,static,Differential Global Positioning System. This c...,1391.23,...,NaN,NaN,NaN,NaN,0.0,0.0,1391.23,424.047,NaN,python
4,ds_12,USGS,x473356095043701,xGrant Creek 01,2023-06-22,09:30,-1.18,static,Differential Global Positioning System. This c...,1391.35,...,NaN,NaN,NaN,NaN,0.0,0.0,1391.35,424.083,NaN,python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23986,ds_12,USGS,473426000000000.0,x301A,2014-10-23,11:00,NaN,NaN,Other,NaN,...,19843.0,22.13,1391.55,424.144,NaN,NaN,NaN,NaN,Obstruction in well is a bailer. The WL is bel...,R
23987,ds_12,USGS,473425000000000.0,x0501,2016-07-25,16:09,NaN,NaN,Other,NaN,...,19988.0,20.32,1391.51,424.132,NaN,NaN,NaN,NaN,Screen not connected to true oil layer. Very d...,R
23988,ds_12,USGS,473425000000000.0,x9017,2015-08-05,10:23,NaN,NaN,Other,NaN,...,19922.0,20.30,1391.07,423.998,NaN,NaN,NaN,NaN,"No water in well, possible bad screen. Oil to ...",R
23989,ds_12,USGS,473420000000000.0,x1429,2015-08-05,10:36,NaN,NaN,Other,NaN,...,19929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No oil detected. Trace of oil on probe. WL mea...,R
23990,ds_12,USGS,473421000000000.0,x312,2005-07-15,12:01,NaN,NaN,Other,NaN,...,20220.0,6.06,1392.56,424.452,NaN,NaN,NaN,NaN,NaN,R

In [532]:
chk = dfcompare.sort_values(by=['LocalSiteName','LevelDate', 'WaterLevel_ftBLS']).copy()
chk = chk[['LocalSiteName', 'LevelDate','LevelTime','WaterLevel_ftBLS', 'OilLevel_ftBLS','OilThickness_ft','Comments_OilLevel','origin']]
chk

,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,OilLevel_ftBLS,OilThickness_ft,Comments_OilLevel,origin
25489,x0501,2005-06-27,12:01,NaN,NaN,NaN,,python
23971,x0501,2005-06-27,12:01,NaN,NaN,NaN,NaN,R
10283,x0501,2012-06-20,13:46,24.00,20.04,3.96,"The oil in this well is trapped, and not scree...",python
9788,x0501,2012-06-20,14:46,24.00,20.04,3.96,"The oil in this well is trapped, and not scree...",R
10284,x0501,2013-07-15,10:38,23.84,19.90,3.94,"Black oil, watery",python
...,...,...,...,...,...,...,...,...
24439,xWL04,2019-06-27,16:34,0.00,NaN,0.00,NaN,python
23111,xWL04,2019-06-27,17:00,0.00,NaN,0.00,NaN,R
24440,xWL04,2020-08-06,12:00,0.31,NaN,0.00,NaN,python
24441,xWL04,2022-08-25,12:16,-0.31,NaN,0.00,NaN,python
24442,xWL04,2023-06-22,09:20,0.18,NaN,0.00,NaN,python

0501

In [521]:
# set up vars
my_date = '2012-06-20'
my_site_local = '0501'
my_site_long = '473425095052603'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
19571,19572,0501,Z. Hillman & E. Berquist,2012-06-20,14:46,CDT,22.55,Z,2939,"The oil in this well is trapped, and not scree...",...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,"The oil in this well is trapped, and not scree..."

               site_no      lev_dt lev_tm  lev_va
10283  473425095052603  2012-06-20  13:46    24.0

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
10283,ds_12,USGS,x473425095052603,x0501,2012-06-20,13:46,24.0,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,1387.83,...,19572.0,20.04,1391.79,424.218,3.96,1.207,1391.216,424.043,"The oil in this well is trapped, and not scree...",python
9788,ds_12,USGS,473425000000000.0,x0501,2012-06-20,14:46,24.0,static,Calibrated electric tape – accuracy of instrum...,1387.83,...,19572.0,20.04,1391.79,424.218,3.96,1.207,1391.220,424.043,"The oil in this well is trapped, and not scree...",R

1428

In [522]:
# set up vars
my_date = '2015-01-21'
my_site_local = '1428'
my_site_long = '473419095052402'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
19866,19869,1428,A. Berg,2015-01-21,09:30,CST,NaN,Z,2939,No oil,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,No oil;

              site_no      lev_dt lev_tm  lev_va
2192  473419095052402  2015-01-21  09:30    6.51

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
2192,ds_12,USGS,x473419095052402,x1428,2015-01-21,09:30,6.51,Water level was affected by atmospheric pressure.,Calibrated electric tape – accuracy of instrum...,1391.49,...,19869.0,NaN,NaN,NaN,0.0,0.0,1391.49,424.126,No oil,python
2100,ds_12,USGS,473419000000000.0,x1428,2015-01-21,9:30,6.51,static,Calibrated electric tape – accuracy of instrum...,1391.49,...,19869.0,NaN,NaN,NaN,0.0,0.0,1391.49,424.126,No oil,R

301A

In [523]:
# set up vars
my_date = '2010-12-03'
my_site_local = '301A'
my_site_long = '473426095052526'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
845,625,301A,A. Berg,2010-12-03,12:00,None,21.95,Z,None,,...,NaN,NaN,Z,430.713,423.954,424.024,6.394,6.324,None,None

               site_no      lev_dt lev_tm  lev_va
14766  473426095052526  2010-12-03  12:00   21.18

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
14766,ds_12,USGS,x473426095052526,x301A,2010-12-03,12:00,21.18,Water level was affected by atmospheric pressure.,Observed,1392.5,...,625.0,20.95,1392.73,424.504,0.23,0.07,1392.697,424.494,,python
13923,ds_12,USGS,473426000000000.0,x301A,2010-12-03,12:00,21.18,static,Other,1392.5,...,625.0,20.95,1392.73,424.504,0.23,0.07,1392.700,424.494,NaN,R

306

In [524]:
# set up vars
my_date = '2011-11-21'
my_site_local = '306'
my_site_long = '473426095052608'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = tblOilLevels8.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
1111,892,306,A. Berg,2011-11-21,13:55,CST,22.3,Z,None,,...,NaN,NaN,Z,430.61,423.218,423.813,6.95,6.355,None,None

,NWTPosition_m,LocalUseCode,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,...,HIF_ID,GWSI_Tape_Correction_ft,OilLevel_ftBMP_corr,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft,OilLevel_ftBLS,lev_meth_cd,Comments_FluidLevelMethod
810,-2.38,wo,892,306,A. Berg,2011-11-21,13:55,CST,22.3,Z,...,NaN,0.0,22.3,473426095052608,1983-05-24,2024-07-22,1.45,20.85,Z,Other

               site_no      lev_dt lev_tm  lev_va
15863  473426095052608  2011-11-21  13:55    22.8

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
15863,ds_12,USGS,x473426095052608,x306,2011-11-21,13:55,22.8,Water level was affected by atmospheric pressure.,Observed,1390.11,...,892.0,20.85,1392.06,424.3,1.95,0.594,1391.777,424.214,,python
14998,ds_12,USGS,473426000000000.0,x306,2011-11-21,13:55,22.8,static,Other,1390.11,...,892.0,20.85,1392.06,424.3,1.95,0.594,1391.780,424.214,NaN,R

317

In [525]:
# set up vars
my_date = '2016-07-25'
my_site_local = '317'
my_site_long = '473425095052009'

chk = tblOilLevels.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = tblOilLevels8.copy()
chk = chk.loc[(chk['OilLevelDate']==my_date) & (chk['LocalSiteName']== my_site_local)]
display(chk)

chk = dfwl[['site_no', 'lev_dt', 'lev_tm', 'lev_va']].copy()
chk = chk.loc[(chk['site_no']==my_site_long)&(chk['lev_dt']==my_date)]
display(chk)

chk = dfcompare.loc[(dfcompare['LevelDate']==my_date) & (dfcompare['LocalSiteName']==('x'+ my_site_local))].copy()
display(chk)

,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,Oil_Tape_Serial_No,Comments_OilLevel,...,ARCHIVE_Hold_ft,ARCHIVE_Cut_ft,ARCHIVE_NWIS_WaterLevelMethod,ARCHIVE_MP_Elev_meters,ARCHIVE_WaterLevelElevation_meters,ARCHIVE_OilLevelElevation_ft,ARCHIVE_WaterLevelDepth_metersBLS,ARCHIVE_OilLevelDepth_metersBLS,ARCHIVE_BrentComment,ARCHIVE_Comments_OilLevel
19910,19999,317,A. Berg & A. Witt,2016-07-25,15:34,CDT,31.16,Z,2939,Dark brown oil. Moderate viscosity.,...,NaN,NaN,Z,NaN,NaN,NaN,NaN,NaN,None,Dark brown oil. Moderate viscosity.

,NWTPosition_m,LocalUseCode,OilLevelID,LocalSiteName,PersonMakingMeasurement,OilLevelDate,OilLevelTime,TimeDatum,OilLevel_ftBMP,OilLevelMethod,...,HIF_ID,GWSI_Tape_Correction_ft,OilLevel_ftBMP_corr,GWSI_USGS_siteno,GWSI_MP_BeginDate,GWSI_MP_EndDate,GWSI_MP_height_ft,OilLevel_ftBLS,lev_meth_cd,Comments_FluidLevelMethod
4629,27.55,wo,19999,317,A. Berg & A. Witt,2016-07-25,14:34,CDT,31.16,Z,...,HIF-242570,0.0,31.16,473425095052009,1983-07-02,2024-07-22,1.86,29.3,Z,Other

              site_no      lev_dt lev_tm  lev_va
7860  473425095052009  2016-07-25  14:34    31.0

,dataset_id,AgencyCode,USGS_siteno,LocalSiteName,LevelDate,LevelTime,WaterLevel_ftBLS,Comments_WaterLevelStatus,Comments_FluidLevelMethod,WaterLevel_ftASL_NAVD88,...,OilLevelID,OilLevel_ftBLS,OilLevel_ftASL_NAVD88,OilLevel_mASL_NAVD88,OilThickness_ft,OilThickness_m,EstWaterLevel_ftASL_NAVD88,EstWaterLevel_mASL_NAVD88,Comments_OilLevel,origin
7860,ds_12,USGS,x473425095052009,x317,2016-07-25,14:34,31.0,Water level was affected by atmospheric pressure.,Observed,1389.47,...,19999.0,29.3,1391.17,424.029,1.7,0.518,1390.924,423.953,Dark brown oil. Moderate viscosity.,python
7487,ds_12,USGS,473425000000000.0,x317,2016-07-25,15:34,31.0,static,Other,1389.47,...,19999.0,29.3,1391.17,424.029,1.7,0.518,1390.920,423.953,Dark brown oil. Moderate viscosity.,R

In [533]:
# save the output
dfcompare.sort_values(by=['LocalSiteName','LevelDate', 'WaterLevel_ftBLS']).to_csv(r'P:\0083\analysis\DataCompilation\DataCompilationPy\create_master_oil_levels\outputs\tests\compare_-6.csv')

---

NOW DOING MERGES THAT WORKED